@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/quill/dist/quill.bubble.css';
@import 'styles/themes';
@import 'app/shared/components/boot-loader/boot-loader.external';
@import 'app/collections/collections/collections.external';
@import 'app/shared/components/thesaurus/thesaurus.external';
@import 'styles/layout';
@import 'app/list/list.external';
@import 'app/view-grid/view-grid.external';

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

.pac-container {
    margin-top: 15px;
    margin-left: -10px;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

.mat-autocomplete-panel {
    .mat-option.multiline {
        min-height: 48px;
        height: auto;
        line-height: 1.6em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

perfect-scrollbar {
    display: flex !important;
    flex-direction: column;

    .ps {
        height: auto;
        flex: 1;
    }
}

#appContent {
    height: 100vh;

    router-outlet + * {
        height: 100vh;
        min-height: 0;
        flex: 1;
    }
}

.mat-form-field textarea.mat-autosize {
    overflow: hidden;
}

.mat-form-field.width-auto {
    width: auto !important;
}

.mat-icon[matSuffix],
.mat-icon[matPrefix] {
    position: relative;
    top: 0.3em;
}

.mat-icon-button[matSuffix] {
    position: relative;
    top: -0.12em;
}

natural-search,
.searchField {
    font-size: 16px;
}

// Allow newline in tooltips
.mat-tooltip {
    white-space: pre-line;
}

.mat-table mat-cell {
    align-items: flex-start;
    padding: 0 3px;
}

// Target the "Satellite/Roadmap" button of Google map to put it under our toolbar
app-view-map agm-map div.gm-style > div:last-child {
    top: 75px !important;
}

// On /card/6000, keep the "Fiches additionnelles" aligned to the left so it is more
// readable when name is long and wrapping
app-card natural-relations natural-table-button .mat-button {
    text-align: left;
}
