@use '@angular/material' as mat;
@use '@ecodev/natural-layout' as nat;
@use '@ecodev/angular-natural-gallery' as natural-gallery;
@use '@ecodev/natural';
@use 'styles/upload.scss';
@use 'styles/layout';
@use 'app/shared/components/boot-loader/boot-loader.external';

@import 'quill/dist/quill.bubble.css';

@include natural-gallery.natural-gallery-base();

html {
    @include mat.theme(
        (
            color: (),
            typography: Quicksand,
            density: 0,
        )
    );

    --scrollbar-thumb-color: var(--mat-sys-on-surface);
    @supports (background: color-mix(in srgb, blue, red)) {
        --scrollbar-thumb-color: color-mix(in srgb, var(--scrollbar-thumb-color) 30%, transparent);
    }

    --scrollbar-thickness: 9;
}

body {
    --natural-default-spacing: 10px;
}

mat-sidenav-content {
    height: 100vh;

    router-outlet + * {
        height: 100vh;
        min-height: 0;
    }
}

router-outlet + * {
    flex: 1;
}

ng-progress {
    .ng-bar {
        box-shadow: var(--mat-sys-tertiary-container) 0 0 5px !important;
        background-color: var(--mat-sys-tertiary-container) !important;
        height: 3px !important;
    }

    .ng-meteor {
        top: 0 !important;
        transform: none !important;
        opacity: 1 !important;
        box-shadow: var(--mat-sys-tertiary-container) 0 0 20px !important;
        width: 25px !important;
    }
}

.mat-mdc-form-field textarea.mat-autosize {
    overflow: hidden;
}

.mat-mdc-form-field.width-auto {
    width: auto !important;
}

natural-search {
    natural-input:last-of-type {
        margin-right: 5px !important;
    }
}

natural-search {
    align-self: flex-start;
    font-size: 16px;
}

// Allow newline in tooltips
.mat-mdc-tooltip {
    white-space: pre-line;
}

.mat-mdc-table mat-cell {
    align-items: flex-start;
    padding: 0 3px;
}

natural-gallery {
    .zoomable:hover .image,
    .image.zoomable:hover {
        transform: none !important;
    }

    .natural-gallery-js .figure {
        --marge: 5px;

        &.selected .select-btn {
            .marker {
                border-color: transparent;
            }
        }

        .select-btn {
            display: flex;
            top: var(--marge) !important;
            left: var(--marge) !important;
            justify-content: center;
            align-items: center;
            transition: none;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 0;

            .marker {
                border-color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

// Target the "Satellite/Roadmap" button of Google map to put it under our toolbar
app-view-map google-map div.gm-style > div:last-child {
    top: 75px !important;
}

// On /card/6000, keep the "Fiches associées" aligned to the left so it is more
// readable when name is long and wrapping
app-card natural-relations natural-table-button .mat-mdc-button {
    text-align: left;
}

// It is possible that the server returns error message on multiple line (eg: when ACL with multiple assertions fail),
// so we try to preserve that formatting, while still wrapping if necessary
.mat-mdc-snack-bar-label {
    white-space: pre-wrap;
}

// Align right so big number are easier to spot
.mat-column-usageCount {
    width: 12em;
}

// Style PhotoSwipe link to card button. Cannot be put in corresponding
// component because of how PhotoSwipe works.
.pswp__button--card-button {
    color: #fff;
}

.ng-scroll-max-width .ng-scroll-content {
    width: 100% !important;
}

.ng-scrollbar-wrapper,
.ng-scroll-viewport-wrapper,
.ng-scroll-layer,
.ng-scroll-viewport {
    /* Replace inset property not supported by Safari 13. */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes loading_pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.hint {
    margin: 0 0 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.natural-dropdown-container .dropdown-title {
    opacity: 1;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    padding: 3px 20px 13px;
    font-size: 24px;
    text-align: center;
}

.mat-toolbar,
#domains-chips {
    color: var(--mat-sys-on-surface);
    --bg: var(--mat-sys-surface-container);
    background: var(--bg);
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--bg),
        )
    );

    @supports (background: color-mix(in srgb, blue, red)) {
        --bgTransparent: color-mix(in srgb, var(--bg) 80%, transparent);
        background: var(--bgTransparent);
        @include mat.toolbar-overrides(
            (
                container-background-color: var(--bgTransparent),
            )
        );
    }
}

mat-hint.strong {
    color: var(--mat-sys-tertiary-container) !important;
}

.mat-mdc-snack-bar-container {
    margin-top: 10px;
}

.snackbar-error {
    background-color: var(--mat-sys-error-container) !important;
    color: var(--mat-sys-on-error-container) !important;
}
