<h2 mat-dialog-title>{{ isUpdatePage() ? "Modifier l'artiste" : 'Créer un artiste' }}</h2>

<mat-dialog-content>
    <div class="nat-padding-vertical nat-gap-10 nat-vertical">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input
                #name="ngModel"
                matInput
                fieldName="name"
                [appUnique]="data.item"
                [service]="service"
                [readonly]="isUpdatePage() && !data.item.permissions.update"
                [(ngModel)]="data.item.name"
            />
            @if (name.invalid && (name?.dirty || name?.touched)) {
                <mat-error>Ce nom est déjà attribué</mat-error>
            }
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.artist?.create"
        [canDelete]="data.item.canDelete"
        [disableCreateAndUpdate]="!!name.invalid"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
