<mat-dialog-content>
    <div class="nat-padding-vertical nat-vertical">
        <natural-select
            placeholder="Sélectionnez une fiche"
            [service]="cardService"
            [displayWith]="displayWith"
            [(ngModel)]="card"
        />
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null">Annuler</button>
    <button color="primary" mat-flat-button [mat-dialog-close]="card">Sélectionner</button>
</mat-dialog-actions>
