@if (item) {
    <div class="mat-caption" fxLayout="column" fxLayoutAlign="stretch stretch">
        @if (item.creationDate || item.creator) {
            <div class="body-1">
                Créé
                @if (item.creator) {
                    <span> par {{ item.creator.login }}</span>
                }
                @if (item.creationDate) {
                    <span>
                        le {{ item.creationDate | date: 'dd.MM.yyyy' }} à {{ item.creationDate | date: 'HH:mm' }}
                    </span>
                }
            </div>
        }
        @if (item.updateDate || item.updater) {
            <div class="body-1">
                Edité
                @if (item.updater) {
                    <span>par {{ item.updater.login }}</span>
                }
                @if (item.updateDate) {
                    <span> le {{ item.updateDate | date: 'dd.MM.yyyy' }} à {{ item.updateDate | date: 'HH:mm' }} </span>
                }
            </div>
        }
    </div>
}
