@if (data.item.readOnly) {
    <h2 mat-dialog-title>Détails du domaine</h2>
} @else if (isUpdatePage()) {
    <h2 mat-dialog-title>Modifier le domaine</h2>
} @else {
    <h2 mat-dialog-title>Créer un domaine</h2>
}

<mat-dialog-content>
    <div class="nat-padding-vertical nat-vertical">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input
                matInput
                [readonly]="data.item.readOnly || (isUpdatePage() && !data.item.permissions.update)"
                [(ngModel)]="data.item.name"
            />
        </mat-form-field>

        <natural-select-hierarchic
            placeholder="Domaine parent"
            [config]="hierarchicConfig"
            [filters]="ancestorsHierarchicFilters"
            [showIcon]="false"
            [disabled]="data.item.readOnly || (isUpdatePage() && !data.item.permissions.update)"
            [(ngModel)]="data.item.parent"
        />
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.domain?.create"
        [readOnly]="data.item.readOnly"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
