<form [formGroup]="form">
    <mat-form-field>
        <input
            matInput
            type="number"
            placeholder="De"
            formControlName="from"
            [errorStateMatcher]="matcher"
            [attr.min]="configuration.min"
            [attr.max]="configuration.max"
            [step]="configuration.step"
            (keydown.enter)="close()"
        />
        <mat-error>
            @if (form.hasError('toGreaterThanFrom')) {
                <span>{{ fromCtrl.value }} > {{ toCtrl.value }}</span>
            }
            @if (fromCtrl.hasError('min') && !form.hasError('toGreaterThanFrom')) {
                <span>< {{ configuration.min }}</span>
            }
            @if (fromCtrl.hasError('max') && !form.hasError('toGreaterThanFrom')) {
                <span>> {{ configuration.max }}</span>
            }
            @if (fromCtrl.hasError('required')) {
                <span>*</span>
            }
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            type="number"
            placeholder="à"
            formControlName="to"
            [errorStateMatcher]="matcher"
            [attr.min]="configuration.min"
            [attr.max]="configuration.max"
            [step]="configuration.step"
            (keydown.enter)="close()"
        />
        <mat-error>
            @if (toCtrl.hasError('min') && !form.hasError('toGreaterThanFrom')) {
                <span>< {{ configuration.min }}</span>
            }
            @if (toCtrl.hasError('max') && !form.hasError('toGreaterThanFrom')) {
                <span>> {{ configuration.max }}</span>
            }
            @if (toCtrl.hasError('required')) {
                <span>*</span>
            }
        </mat-error>
    </mat-form-field>
</form>
