<div [hidden]="breakpointXSmall || cards.length === 0">
    <div class="wrapper" [class.reduced]="isReduced">
        <div #slideshow class="slideshow" (scroll)="updateButtonsState()">
            @for (card of cards; track card) {
                <div>
                    <a class="image" [routerLink]="['/card', card.id]" [matTooltip]="card.plainName">
                        <img priority fill [ngSrc]="'card-' + card.id + '.jpg'" [loaderParams]="{card: card}" />
                    </a>
                </div>
            }
        </div>
        <button
            class="left"
            mat-mini-fab
            color="primary"
            [disabled]="scrollBarAtLeft"
            [hidden]="!hasScrollbar"
            (click)="scrollLeft()"
        >
            <mat-icon naturalIcon="navigate_before" />
        </button>
        <button
            class="right"
            mat-mini-fab
            color="primary"
            [disabled]="scrollBarAtRight"
            [hidden]="!hasScrollbar"
            (click)="scrollRight()"
        >
            <mat-icon naturalIcon="navigate_next" />
        </button>
    </div>
    <button
        class="btn-reduce"
        mat-mini-fab
        matTooltipPosition="left"
        [class.reduced]="isReduced"
        [matTooltip]="(isReduced ? 'Ouvrir' : 'Fermer') + ' les images associées'"
        (click)="reduced.emit(!isReduced)"
    >
        <mat-icon naturalIcon="expand_more" />
    </button>
</div>
