.wrapper {
    --animation-duration: 200ms;
    --slideshow-height: 120px;
    display: flex;
    position: absolute;

    bottom: 0;
    left: 0;
    justify-content: center;
    transition: bottom 400ms ease-in-out;
    width: 100%;
    height: var(--slideshow-height);

    &:hover {
        bottom: 0;

        button {
            opacity: 1 !important;
        }

        .ghost {
            visibility: hidden !important;
        }
    }

    &.reduced {
        bottom: calc((var(--slideshow-height) * -1) - 10px);
    }

    button {
        position: absolute;
        bottom: 10px;
        opacity: 0;

        &.right {
            right: 10px;
        }

        &.left {
            left: 10px;
        }
    }
}

.btn-reduce {
    position: absolute;
    right: 10px;
    bottom: 70px;
    z-index: 1000;
    transition:
        bottom 400ms ease-in-out,
        transform 300ms linear;

    &.reduced {
        bottom: 10px;

        mat-icon {
            transform: rotate(180deg) translateY(2px);
        }
    }
}

.slideshow {
    display: flex;
    justify-content: left;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;

    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        transition: transform 0.1s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.226) 5px 5px 5px;

            .label {
                top: 0;
            }
        }

        .image {
            display: block;
            position: relative;
            width: 100px;
            height: 100%;

            img {
                object-fit: cover;
            }
        }
    }
}
