<div class="slideshow" #slideshow (scroll)="updateButtonsState()">
    <div *ngFor="let card of cards$ | async">
        <a
            [routerLink]="['/card', card.id]"
            [ngStyle]="{'background-image': 'url(' + CardService.getImageLink(card, 200) + ')'}"
            class="image"
            matTooltip="{{ card.name }}"
        ></a>
    </div>
</div>
<button class="left" (click)="scrollLeft()" [disabled]="disabledLeftButton" [hidden]="hiddenButtons"></button>
<button class="right" (click)="scrollRight()" [disabled]="disabledRightButton" [hidden]="hiddenButtons"></button>
