<div [hidden]="breakpointXSmall || cards.length === 0">
    <div class="wrapper" [class.reduced]="isReduced">
        <div class="slideshow" #slideshow (scroll)="updateButtonsState()">
            @for (card of cards; track card) {
                <div>
                    <a [routerLink]="['/card', card.id]" class="image" [matTooltip]="card.name">
                        <img
                            [ngSrc]="'card-' + card.id + '.jpg'"
                            [loaderParams]="{card: card}"
                            priority
                            fill
                            placeholder
                        />
                    </a>
                </div>
            }
        </div>
        <button
            class="left"
            mat-mini-fab
            color="primary"
            (click)="scrollLeft()"
            [disabled]="scrollBarAtLeft"
            [hidden]="!hasScrollbar"
        >
            <mat-icon naturalIcon="navigate_before" />
        </button>
        <button
            class="right"
            mat-mini-fab
            color="primary"
            (click)="scrollRight()"
            [disabled]="scrollBarAtRight"
            [hidden]="!hasScrollbar"
        >
            <mat-icon naturalIcon="navigate_next" />
        </button>
    </div>
    <button
        class="btn-reduce"
        [class.reduced]="isReduced"
        mat-mini-fab
        [matTooltip]="(isReduced ? 'Ouvrir' : 'Fermer') + 'les images associées'"
        matTooltipPosition="left"
        (click)="reduced.emit(!isReduced)"
    >
        <mat-icon naturalIcon="expand_more" />
    </button>
</div>
