@import '../../../styles/utils';

:host {
    @include fixedToolbar();

    .image {
        height: 48px;
        width: 48px;
        border-radius: 999px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .cdk-column-image {
        max-width: 48px;
    }
}
