<mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <app-logo [data]="{ type: 'toolbar', class: 'logo' }"></app-logo>

    <natural-search (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="false"
                    [selections]="naturalSearchSelections"
                    fxFlex
    ></natural-search>
</mat-toolbar>

<div class="padding padding-fab">

    <div class="mat-headline">Actualités</div>

    <div [fxShow]="showTable()" class="responsive-table">

        <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

            <!-- Active Column -->
            <ng-container matColumnDef="isActive">
                <th *matHeaderCellDef mat-header-cell natural-3em-column>Actif</th>
                <td *matCellDef="let element" mat-cell>
                    <mat-icon *ngIf="element.isActive">check</mat-icon>
                </td>
            </ng-container>

            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th *matHeaderCellDef mat-header-cell natural-3em-column>Image</th>
                <td *matCellDef="let element" mat-cell>
                    <div [style.background-image]="'url(' + element.imageUrl + ')'" class="image"></div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                <td *matCellDef="let element" mat-cell>
                    <app-table-button (click)="edit(element)" [label]="element.name || 'Sans titre'" icon="edit" matTooltip="Éditer"></app-table-button>
                </td>
            </ng-container>

            <!-- Link Column -->
            <ng-container matColumnDef="url">
                <th *matHeaderCellDef mat-header-cell>Lien</th>
                <td *matCellDef="let element" mat-cell>{{ element.url }}</td>
            </ng-container>

        </table>
    </div>

    <div *ngIf="dataSource?.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <div>Pas de résultats</div>
    </div>

    <div *ngIf="!dataSource?.data" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-paginator (page)="pagination($event)"
                   *ngIf="dataSource.data?.length"
                   [length]="dataSource.data?.length"
                   [pageIndex]="dataSource.data?.pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="dataSource.data?.pageSize"
    ></mat-paginator>
</div>

<natural-fixed-button (click)="add()" icon="add"></natural-fixed-button>

