@use 'sass:map';
@use '@angular/material' as mat;

@mixin card($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    $config: mat.get-color-config($theme);
    $is-dark-theme: map.get($config, is-dark);
    $label-color: mat.get-color-from-palette($fg, secondary-text, if($is-dark-theme, 0.7, 0.6)) !important;

    app-card {
        mat-toolbar.edition {
            background: mat.get-color-from-palette($accent, 0.4);
        }

        .rich-text {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background: mat.get-color-from-palette(
                $fg,
                base,
                if(map.get($theme, is-dark), 0.1, 0.04)
            ); // match official mat-form-field component style
            padding: 10px 10px 0 10px;
            border-bottom: 1px solid mat.get-color-from-palette($fg, base, 0.5);

            .label {
                color: $label-color;
                font-size: 10.5px;
            }

            .ql-container {
                font-size: inherit !important;
                font-family: inherit !important;
            }

            quill-editor {
                display: block;
            }
        }

        .ql-editor {
            padding: 0.25em 0 0.75em 0;

            p {
                margin-bottom: 0;
            }
        }

        // Be sure that the toolbar stays one one line
        // It should not be necessary but it seems that something goes wrong in the computation of the width by QuillJs
        .ql-flip.ql-tooltip {
            min-width: 170px;
        }

        a[href] {
            color: mat.get-color-from-palette($accent);
            overflow-wrap: break-word;
        }

        #fiches-additionnelles {
            natural-table-button span {
                white-space: normal;
                line-height: 1.5em;
            }
        }

        natural-select .mat-form-field-appearance-fill.mat-form-field-disabled {
            .mat-form-field-flex {
                background-color: mat.get-color-from-palette($fg, base, if($is-dark-theme, 0.1, 0.04));
            }

            .mat-form-field-label {
                color: $label-color;
            }

            .mat-form-field-underline::before {
                background-color: mat.get-color-from-palette($fg, divider, if($is-dark-theme, 0.5, 0.42)) !important;
            }

            input {
                color: mat.get-color-from-palette($fg, text) !important;
            }
        }
    }
}
