@use '../../styles/utils';

:host {
    display: flex;
    flex: auto;
    @include utils.fixedToolbar();
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.33);
}

mat-slider {
    margin: 0 15px;
}

.address-toggle-arrow {
    position: relative;
    top: 5px;
}

.address-title {
    cursor: pointer;
}

.double-fields > * {
    min-width: 0;
    width: calc(((400px - 2 * 12px) - 10px) / 2);
}

.image-container {
    @extend .containerWithToolbar;
    overflow: hidden;
}

.btn-link-related-cards {
    display: flex;
    justify-content: end;
}
