<div
    *ngIf="model"
    naturalFileDrop
    [fileSelectionDisabled]="!edit"
    (filesChange)="dropImage($event)"
    fxFlex
    fxLayout="row"
>
    <div class="app-file-drag-n-drop-overlay">Glisser-déposer un fichier ici</div>
    <div [ngClass]="{containerWithToolbar: showToolbar}" fxFlex="400px" fxLayout="column">
        <mat-toolbar
            *ngIf="showToolbar"
            [ngClass]="edit ? 'edition' : ''"
            fxFlex="none"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <app-logo *ngIf="showLogo" [data]="{type: 'toolbar', class: 'logo'}"></app-logo>

            <div *ngIf="title">{{ title }}</div>

            <div fxFlex></div>

            <mat-menu #changeMenu="matMenu" [overlapTrigger]="false">
                <button (click)="suggestUpdate()" *ngIf="canSuggestUpdate()" mat-menu-item>
                    Suggérer une modification
                </button>
                <button (click)="suggestDeletion()" *ngIf="canSuggestDelete()" mat-menu-item>
                    Suggérer la suppression
                </button>
                <button (click)="suggestCreation()" *ngIf="canSuggestCreate()" mat-menu-item>
                    {{ getSuggestAddLabel() }}
                </button>
            </mat-menu>

            <mat-menu #validationMenu="matMenu" [overlapTrigger]="false">
                <button (click)="validateData()" mat-menu-item>Valider les données</button>
                <button (click)="validateImage()" mat-menu-item>Valider l'image</button>
            </mat-menu>

            <ng-container *ngIf="showTools">
                <button
                    (click)="toggleEdit()"
                    *ngIf="!edit && fetchedModel?.permissions?.update"
                    [matTooltip]="'Passer en mode édition'"
                    mat-icon-button
                >
                    <mat-icon naturalIcon="edit"></mat-icon>
                </button>

                <button
                    (click)="update()"
                    *ngIf="edit && fetchedModel?.permissions?.update"
                    mat-icon-button
                    class="icon-button-circle-primary"
                    matTooltip="Enregistrer"
                    [disabled]="!formIsValid"
                >
                    <mat-icon naturalIcon="save"></mat-icon>
                </button>

                <button
                    *ngIf="user && !edit && (canSuggestUpdate() || canSuggestDelete())"
                    [matMenuTriggerFor]="changeMenu"
                    color="primary"
                    mat-icon-button
                    matTooltip="Soumettre"
                >
                    <mat-icon naturalIcon="add_alert"></mat-icon>
                </button>

                <button
                    (click)="suggestCreation()"
                    *ngIf="user && !edit && !canSuggestUpdate() && !canSuggestDelete() && canSuggestCreate()"
                    color="primary"
                    mat-icon-button
                    matTooltip="Soumettre"
                >
                    <mat-icon naturalIcon="add_alert"></mat-icon>
                </button>

                <button
                    (click)="create()"
                    *ngIf="!fetchedModel && user?.globalPermissions?.card?.create"
                    mat-icon-button
                    matTooltip="Créer"
                >
                    <mat-icon naturalIcon="add"></mat-icon>
                </button>

                <button
                    *ngIf="fetchedModel && user?.role === 'administrator'"
                    [matMenuTriggerFor]="validationMenu"
                    mat-icon-button
                    matTooltip="Valider"
                >
                    <mat-icon naturalIcon="spellcheck"></mat-icon>
                </button>

                <button
                    (click)="complete()"
                    *ngIf="edit"
                    mat-icon-button
                    matTooltip="Importer les données d'une autre fiche"
                >
                    <mat-icon naturalIcon="content_copy"></mat-icon>
                </button>

                <button (click)="download(fetchedModel)" mat-icon-button matTooltip="Télécharger">
                    <mat-icon naturalIcon="file_download"></mat-icon>
                </button>

                <button
                    (click)="linkToCollection()"
                    *ngIf="fetchedModel && user"
                    mat-icon-button
                    matTooltip="Ajouter à une collection"
                >
                    <mat-icon naturalIcon="library_add"></mat-icon>
                </button>

                <button
                    (click)="confirmDelete()"
                    *ngIf="fetchedModel?.permissions?.delete"
                    color="warn"
                    mat-icon-button
                    matTooltip="Supprimer"
                >
                    <mat-icon naturalIcon="delete_forever"></mat-icon>
                </button>
            </ng-container>
        </mat-toolbar>

        <ng-scrollbar fxFlex>
            <div class="padding-scrollbar scrolled" fxLayout="column" fxLayoutAlign="start stretch">
                <div *ngIf="user?.role === 'administrator'" fxLayout="column">
                    <div fxLayout="row">
                        {{
                            visibilities[visibility]
                                ? 'Visible ' + visibilities[visibility].text
                                : 'Visibilité inchangée'
                        }}
                    </div>
                    <mat-slider
                        [color]="visibilities[visibility] ? visibilities[visibility].color : 'warn'"
                        [disabled]="!edit"
                        [max]="3"
                        [min]="1"
                        [step]="1"
                        ><input matSliderThumb [(ngModel)]="visibility" (change)="updateVisibility()"
                    /></mat-slider>
                </div>

                <div class="padding mat-subtitle-2">
                    <div *ngFor="let collection of sortedCollections">{{ collection.hierarchicName }}</div>
                </div>

                <mat-form-field *ngIf="showCode && !isDilps && ((edit && canUpdateCode()) || !!model.code)">
                    <mat-label>Référence</mat-label>
                    <input
                        [(ngModel)]="model.code"
                        #code="ngModel"
                        [readonly]="!edit || !canUpdateCode()"
                        matInput
                        maxlength="30"
                        [appUniqueCode]="model"
                        (change)="codeModel = code; updateFormValidity()"
                    />

                    <button
                        mat-icon-button
                        matIconSuffix
                        (click)="codeModel = code; useSuggestedCode($event)"
                        *ngIf="showSuggestedCode()"
                        [matTooltip]="'Utiliser la référénce automatique &quot;' + suggestedCode + '&quot;'"
                    >
                        <mat-icon naturalIcon="refresh"></mat-icon>
                    </button>

                    <mat-error *ngIf="code.invalid && (code?.dirty || code?.touched) && !code.errors?.maxlength"
                        >Cette référence est déjà attribuée à une fiche
                    </mat-error>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.code?.length > 23"
                        [ngClass]="{strong: model.code?.length >= 30}"
                    >
                        {{ model.code!.length }} / 30
                    </mat-hint>
                </mat-form-field>

                <div *ngIf="edit || !!model.name" [ngClass]="{filled: !!model.name, 'rich-text': true}" tabindex="-1">
                    <div class="label">Titre</div>
                    <quill-editor
                        *ngIf="edit || !!model.name"
                        [ngModel]="model.name"
                        (ngModelChange)="model.name = $event || ''"
                        [disabled]="!edit"
                        bounds="self"
                        [modules]="singleLine"
                        [matTooltip]="
                            !edit || !isDilps
                                ? ''
                                : 'Pour un objet simple (tableau, statue, etc.), le titre suffit (exemple : &quot;Les Demoiselles d\'Avignon&quot;)\n\nPour un objet lié à un lieu (une église, un monument, etc.), l\'annotation se présentera sous la forme suivante : &quot;Ville, monument, partie du monument : Sujet représenté&quot; (exemple : &quot;Chartres, Notre-Dame, façade sud : Sainte Cindy&quot;)\n\nDans le titre, le nom du lieu se met si possible en français.'
                        "
                        matTooltipPosition="after"
                    ></quill-editor>
                    <mat-hint
                        *ngIf="edit && (model.name | stripTags)?.length > 187"
                        [ngClass]="{strong: (model.name | stripTags)?.length >= 191}"
                    >
                        {{ (model.name | stripTags).length }} / 191
                    </mat-hint>
                </div>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!model.domains?.length)"
                    [model]="model.domains"
                    (modelChange)="model.domains = $any($event)"
                    [allowFreeText]="false"
                    [hierarchicSelectorConfig]="domainHierarchicConfig"
                    [multiple]="true"
                    [previewComponent]="DomainComponent"
                    [readonly]="!edit"
                    [service]="domainService"
                    placeholder="Domaines"
                ></app-thesaurus>

                <div
                    *ngIf="edit || (!!model.expandedName && model.expandedName !== model.name)"
                    [ngClass]="{filled: !!model.expandedName, 'rich-text': true}"
                    tabindex="-1"
                >
                    <div class="label">{{ isDilps ? 'Titre étendu' : 'Description' }}</div>
                    <quill-editor
                        *ngIf="edit || !!model.expandedName"
                        [ngModel]="model.expandedName"
                        (ngModelChange)="model.expandedName = $event || ''"
                        [disabled]="!edit"
                        bounds="self"
                        [modules]="multiLines"
                        [matTooltip]="
                            !edit || !isDilps
                                ? ''
                                : 'Inclure d’éventuelles informations qui complètent le titre (exemple: le titre dans la langue originale)'
                        "
                        matTooltipPosition="after"
                    ></quill-editor>
                </div>

                <div
                    *ngIf="!isDilps && (edit || !!model.corpus)"
                    [ngClass]="{filled: !!model.corpus, 'rich-text': true}"
                    tabindex="-1"
                >
                    <div class="label">Corpus</div>
                    <quill-editor
                        *ngIf="edit || !!model.corpus"
                        [ngModel]="model.corpus"
                        (ngModelChange)="model.corpus = $event || ''"
                        [disabled]="!edit"
                        bounds="self"
                        [modules]="multiLines"
                    ></quill-editor>
                </div>

                <app-thesaurus
                    *ngIf="isDilps && (edit || !!artists?.length)"
                    (modelChange)="model.artists = $any($event)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'Le nom de l\'artiste s\'insère sous la forme\n &quot;Nom, Prénom&quot;\n\nSi l\'artiste est inconnu, le champ doit rester vide.'
                    "
                    matTooltipPosition="after"
                    [model]="artists"
                    [previewComponent]="ArtistComponent"
                    [readonly]="!edit"
                    [service]="artistService"
                    placeholder="Artistes"
                ></app-thesaurus>

                <mat-form-field *ngIf="isDilps && (edit || !!model.techniqueAuthor)">
                    <mat-label>Auteur technique</mat-label>
                    <textarea
                        [(ngModel)]="model.techniqueAuthor"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.techniqueAuthor?.length > 200"
                        [ngClass]="{strong: model.techniqueAuthor?.length >= 255}"
                    >
                        {{ model.techniqueAuthor!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <mat-form-field
                    *ngIf="isDilps && (edit || !!model.addition)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'Le champ supplément permet de saisir toute information n\'entrant pas ailleurs (complément, précision, numéro d\'inventaire, etc.).'
                    "
                    matTooltipPosition="after"
                >
                    <mat-label>Supplément</mat-label>
                    <textarea
                        [(ngModel)]="model.addition"
                        [readonly]="!edit"
                        [cdkAutosizeMinRows]="1"
                        matInput
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                </mat-form-field>

                <mat-form-field
                    *ngIf="isDilps && (edit || !!model.dating)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'Les siècles s\'écrivent en chiffres romains\n&quot;Vers 1912&quot; s’écrit &quot;1912 (c.)&quot; (c. pour circa)'
                    "
                    matTooltipPosition="after"
                >
                    <mat-label>Datation</mat-label>
                    <textarea
                        [(ngModel)]="model.dating"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.dating?.length > 200"
                        [ngClass]="{strong: model.dating?.length >= 255}"
                    >
                        {{ model.dating!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <mat-form-field
                    *ngIf="isDilps && (edit || !!model.dilpsDomain)"
                    [matTooltip]="!edit ? '' : 'Information générique: sculpture, peinture, architecture'"
                    matTooltipPosition="after"
                >
                    <mat-label>Domaine</mat-label>
                    <textarea
                        [(ngModel)]="model.dilpsDomain"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.dilpsDomain?.length > 200"
                        [ngClass]="{strong: model.dilpsDomain?.length >= 255}"
                    >
                        {{ model.dilpsDomain!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <mat-form-field
                    *ngIf="isDilps && (edit || !!model.material)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'Ce champ précise ce que &quot;Domaine&quot; donne de façon générale (exemple: &quot;Domaine: Peinture&quot;, &quot;Technique & Matériel: Huile sur toile&quot;)'
                    "
                    matTooltipPosition="after"
                >
                    <mat-label>Technique & Matériel</mat-label>
                    <textarea
                        [(ngModel)]="model.material"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.material?.length > 200"
                        [ngClass]="{strong: model.material?.length >= 255}"
                    >
                        {{ model.material!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <mat-form-field
                    *ngIf="isDilps && (edit || !!model.format)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'Les dimensions s\'expriment en centimètres (exemple : &quot;19,9 x 32,5 cm&quot;).'
                    "
                    matTooltipPosition="after"
                >
                    <mat-label>Dimensions</mat-label>
                    <textarea
                        [(ngModel)]="model.format"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.format?.length > 200"
                        [ngClass]="{strong: model.format?.length >= 255}"
                    >
                        {{ model.format!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!model.materials?.length)"
                    [model]="model.materials"
                    (modelChange)="model.materials = $any($event)"
                    [allowFreeText]="false"
                    [hierarchicSelectorConfig]="materialHierarchicConfig"
                    [multiple]="true"
                    [previewComponent]="MaterialComponent"
                    [readonly]="!edit"
                    [service]="materialService"
                    placeholder="Matériaux"
                ></app-thesaurus>

                <mat-form-field *ngIf="!isDilps && (edit || !!model.productionPlace)">
                    <mat-label>Lieu de production</mat-label>
                    <input [(ngModel)]="model.productionPlace" [readonly]="!edit" matInput maxlength="60" />
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.productionPlace?.length > 47"
                        [ngClass]="{strong: model.productionPlace?.length >= 60}"
                    >
                        {{ model.productionPlace!.length }} / 60
                    </mat-hint>
                </mat-form-field>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!model.tags?.length)"
                    [model]="model.tags"
                    (modelChange)="model.tags = $any($event)"
                    [allowFreeText]="false"
                    [hierarchicSelectorConfig]="tagHierarchicConfig"
                    [multiple]="true"
                    [previewComponent]="TagComponent"
                    [readonly]="!edit"
                    [service]="tagService"
                    placeholder="Mots clés"
                ></app-thesaurus>

                <div *ngIf="isDilps && (edit || !!institution)" class="mat-headline-6">Lieu</div>

                <app-thesaurus
                    *ngIf="isDilps && (edit || !!institution)"
                    (modelChange)="model.institution = $any($event)"
                    [matTooltip]="
                        !edit
                            ? ''
                            : 'L\'institution où se trouve l\'oeuvre.\n\nL\'institution s\'écrit en principe dans la langue originale du pays.'
                    "
                    matTooltipPosition="after"
                    [model]="institution"
                    [multiple]="false"
                    [previewComponent]="InstitutionComponent"
                    [readonly]="!edit"
                    [service]="institutionService"
                    [sortAutocompleteByUsageCount]="true"
                    placeholder="Institution"
                ></app-thesaurus>

                <!-- Institution address -->
                <app-address
                    *ngIf="isDilps && !(model.locality || edit)"
                    [model]="institution"
                    [readonly]="!edit"
                    [vertical]="true"
                    [onlyMap]="true"
                    [allowExpandableMap]="true"
                ></app-address>

                <!-- Card address, if given -->
                <div *ngIf="(model.locality || edit) && !isDilps">
                    <div class="mat-headline-6">Lieux de découverte</div>
                    <app-address [model]="model" [readonly]="!edit" [vertical]="true" [isDilps]="isDilps"></app-address>
                </div>

                <cdk-accordion *ngIf="(model.locality || edit) && isDilps" class="address-accordion">
                    <cdk-accordion-item
                        #accordionItem="cdkAccordionItem"
                        [expanded]="!this.edit"
                        role="button"
                        tabindex="0"
                        [attr.id]="'address'"
                        [attr.aria-expanded]="accordionItem.expanded"
                    >
                        <div
                            class="address-title mat-headline-6"
                            (click)="accordionItem.toggle()"
                            fxLayout="row"
                            fxLayoutAlign="start baseline"
                        >
                            <span>Adresse</span>
                            <mat-icon
                                class="address-toggle-arrow"
                                [naturalIcon]="accordionItem.expanded ? 'arrow_drop_up' : 'arrow_drop_down'"
                            ></mat-icon>
                        </div>
                        <div [style.display]="accordionItem.expanded ? '' : 'none'">
                            <app-address
                                [model]="model"
                                [readonly]="!edit"
                                [vertical]="true"
                                [isDilps]="isDilps"
                                [allowExpandableMap]="true"
                            ></app-address>
                        </div>
                    </cdk-accordion-item>
                </cdk-accordion>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!model.antiqueNames?.length)"
                    [model]="model.antiqueNames"
                    (modelChange)="model.antiqueNames = $any($event)"
                    [allowFreeText]="false"
                    [multiple]="true"
                    [previewComponent]="AntiqueNameComponent"
                    [readonly]="!edit"
                    [service]="antiqueNameService"
                    placeholder="Nom antique"
                ></app-thesaurus>

                <div
                    *ngIf="!isDilps && (edit || model.periods?.length || !!model.from || !!model.to)"
                    class="mat-headline-6"
                >
                    Datation
                </div>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || model.periods?.length)"
                    [model]="model.periods"
                    (modelChange)="model.periods = $any($event)"
                    [allowFreeText]="false"
                    [hierarchicSelectorConfig]="periodHierarchicConfig"
                    [multiple]="true"
                    [previewComponent]="PeriodComponent"
                    [readonly]="!edit"
                    [service]="periodService"
                    placeholder="Périodes"
                ></app-thesaurus>

                <div *ngIf="!isDilps" fxLayout="row" fxLayoutGap="10px" class="double-fields">
                    <mat-form-field *ngIf="edit || !!model.from" fxFlex="183px">
                        <mat-label>A partir de</mat-label>
                        <input [(ngModel)]="model.from" [readonly]="!edit" matInput type="number" step="1" />
                    </mat-form-field>

                    <mat-form-field *ngIf="edit || !!model.to" fxFlex="183px">
                        <mat-label>Jusqu'à</mat-label>
                        <input [(ngModel)]="model.to" [readonly]="!edit" matInput type="number" step="1" />
                    </mat-form-field>
                </div>

                <div *ngIf="!isDilps && (edit || !!institution || !!model.objectReference)" class="mat-headline-6">
                    Lieu de conservation
                </div>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!institution)"
                    (modelChange)="model.institution = $any($event)"
                    [model]="institution"
                    [multiple]="false"
                    [previewComponent]="InstitutionComponent"
                    [readonly]="!edit"
                    [service]="institutionService"
                    [sortAutocompleteByUsageCount]="true"
                    placeholder="Institution"
                ></app-thesaurus>

                <!-- Institution address -->
                <app-address
                    *ngIf="!isDilps && !(model.locality || edit)"
                    [model]="institution"
                    [readonly]="!edit"
                    [vertical]="true"
                    [onlyMap]="true"
                ></app-address>

                <mat-form-field *ngIf="!isDilps && (edit || !!model.objectReference)">
                    <mat-label>Numéro d’inventaire</mat-label>
                    <textarea
                        [(ngModel)]="model.objectReference"
                        [readonly]="!edit"
                        [cdkAutosizeMinRows]="1"
                        matInput
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                </mat-form-field>

                <div
                    *ngIf="
                        !isDilps &&
                        (edit ||
                            !!model.documentType ||
                            !!model.documentSize ||
                            !!model.techniqueAuthor ||
                            !!model.techniqueDate)
                    "
                    class="mat-headline-6"
                >
                    Référence du document
                </div>

                <app-thesaurus
                    *ngIf="!isDilps && (edit || !!model.documentType)"
                    [model]="model.documentType"
                    (modelChange)="model.documentType = $any($event)"
                    [allowFreeText]="false"
                    [multiple]="false"
                    [previewComponent]="DocumentTypeComponent"
                    [readonly]="!edit"
                    [service]="documentTypeService"
                    placeholder="Type"
                ></app-thesaurus>

                <mat-form-field *ngIf="!isDilps && (edit || !!model.documentSize)">
                    <mat-label>Dimensions</mat-label>
                    <textarea
                        [(ngModel)]="model.documentSize"
                        [readonly]="!edit"
                        matInput
                        maxlength="191"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.documentSize?.length > 150"
                        [ngClass]="{strong: model.documentSize?.length >= 191}"
                    >
                        {{ model.documentSize!.length }} / 191
                    </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="!isDilps && (edit || !!model.techniqueAuthor)">
                    <mat-label>Auteur</mat-label>
                    <textarea
                        [(ngModel)]="model.techniqueAuthor"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.techniqueAuthor?.length > 200"
                        [ngClass]="{strong: model.techniqueAuthor?.length >= 255}"
                    >
                        {{ model.techniqueAuthor!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="!isDilps && (edit || !!model.techniqueDate)">
                    <mat-label>Date ou année</mat-label>
                    <input [(ngModel)]="model.techniqueDate" [readonly]="!edit" matInput maxlength="60" />
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.techniqueDate?.length > 47"
                        [ngClass]="{strong: model.techniqueDate?.length >= 60}"
                    >
                        {{ model.techniqueDate!.length }} / 60
                    </mat-hint>
                </mat-form-field>

                <div
                    *ngIf="!isDilps && (edit || !!model.literature || !!model.page || !!model.isbn)"
                    class="mat-headline-6"
                >
                    Référence de l'image
                </div>

                <div
                    *ngIf="
                        isDilps &&
                        (edit ||
                            !!model.literature ||
                            !!model.page ||
                            !!model.figure ||
                            !!model.table ||
                            !!model.rights ||
                            !!model.isbn)
                    "
                    class="mat-headline-6"
                >
                    Référence de l'image
                </div>

                <div
                    *ngIf="edit || !!model.literature"
                    [ngClass]="{filled: !!model.literature, 'rich-text': true}"
                    tabindex="-1"
                >
                    <div class="label">Source</div>
                    <quill-editor
                        *ngIf="edit || !!model.literature"
                        [ngModel]="model.literature"
                        (ngModelChange)="model.literature = $event || ''"
                        [disabled]="!edit"
                        bounds="self"
                        [modules]="multiLines"
                        [matTooltip]="
                            !edit || !isDilps
                                ? ''
                                : 'La source est le lien URL ou la référence bibliographique de l\'ouvrage d\'où provient l\'image.\n\nLa notice s\'écrit en principe sur le schéma :\n&quot;Prénom Nom, Titre et sous-titre, Lieu de publication : éditeur, année (première édition).&quot;\n\nNe pas oublier de noter le numéro de page correspondant à l\'image.'
                        "
                        matTooltipPosition="after"
                    ></quill-editor>
                </div>

                <ng-container *ngIf="isDilps">
                    <mat-form-field *ngIf="!!initialCardValues.page">
                        <mat-label>Page</mat-label>
                        <input [(ngModel)]="model.page" [readonly]="true" matInput />
                        <button
                            *ngIf="!!model.page && edit"
                            matSuffix
                            matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.page = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <button
                            *ngIf="!model.page && edit"
                            matTooltip="Annuler"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.page = initialCardValues.page"
                        >
                            <mat-icon>undo</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field *ngIf="!!initialCardValues.figure">
                        <mat-label>Figure</mat-label>
                        <input [(ngModel)]="model.figure" [readonly]="true" matInput />
                        <button
                            *ngIf="!!model.figure && edit"
                            matSuffix
                            matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.figure = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <button
                            *ngIf="!model.figure && edit"
                            matTooltip="Annuler"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.figure = initialCardValues.figure"
                        >
                            <mat-icon>undo</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field *ngIf="!!initialCardValues.table">
                        <mat-label>Planche</mat-label>
                        <input [(ngModel)]="model.table" [readonly]="true" matInput />
                        <button
                            *ngIf="!!model.table && edit"
                            matSuffix
                            matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.table = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <button
                            *ngIf="!model.table && edit"
                            matTooltip="Annuler"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.table = initialCardValues.table"
                        >
                            <mat-icon>undo</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="!!initialCardValues.isbn"
                        [matTooltip]="edit ? 'Numéro ISBN de l\'ouvrage source, sans les tirets.' : ''"
                        matTooltipPosition="after"
                    >
                        <mat-label>ISBN</mat-label>
                        <input [(ngModel)]="model.isbn" [readonly]="true" matInput />
                        <button
                            *ngIf="!!model.isbn && edit"
                            matSuffix
                            matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.isbn = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <button
                            *ngIf="!model.isbn && edit"
                            matTooltip="Annuler"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="model.isbn = initialCardValues.isbn"
                        >
                            <mat-icon>undo</mat-icon>
                        </button>
                    </mat-form-field>
                </ng-container>
                <mat-form-field *ngIf="!isDilps && (edit || !!model.isbn)">
                    <mat-label>ISBN / ISSN</mat-label>
                    <input [(ngModel)]="model.isbn" [readonly]="!edit" matInput maxlength="30" />
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.isbn?.length > 23"
                        [ngClass]="{strong: model.isbn?.length >= 30}"
                    >
                        {{ model.isbn!.length }} / 30
                    </mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="isDilps && (edit || !!model.rights)">
                    <mat-label>Droits d'auteur</mat-label>
                    <textarea
                        [(ngModel)]="model.rights"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.rights?.length > 200"
                        [ngClass]="{strong: model.rights?.length >= 255}"
                    >
                        {{ model.rights!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <div *ngIf="!isDilps && collectionCopyrights">
                    <div class="mat-headline-6">Droits d'auteur</div>
                    <p>{{ collectionCopyrights }}</p>
                </div>

                <div *ngIf="!isDilps && (edit || !!model.url)" class="mat-headline-6">Référence web</div>

                <mat-form-field *ngIf="!isDilps && edit">
                    <mat-label>URL</mat-label>
                    <textarea
                        [(ngModel)]="model.url"
                        #url="ngModel"
                        [readonly]="!edit"
                        matInput
                        maxlength="255"
                        type="url"
                        (change)="urlModel = url; updateFormValidity()"
                        [cdkAutosizeMinRows]="1"
                        [cdkTextareaAutosize]="true"
                    ></textarea>
                    <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">URL invalide</mat-error>
                    <mat-hint
                        align="end"
                        *ngIf="edit && model.url?.length > 200"
                        [ngClass]="{strong: model.url?.length >= 255}"
                    >
                        {{ model.url!.length }} / 255
                    </mat-hint>
                </mat-form-field>

                <div
                    *ngIf="!isDilps && edit"
                    [ngClass]="{filled: !!model.urlDescription, 'rich-text': true}"
                    tabindex="-1"
                >
                    <div class="label">Description</div>
                    <quill-editor
                        *ngIf="edit || !!model.urlDescription"
                        [ngModel]="model.urlDescription"
                        (ngModelChange)="model.urlDescription = $event || ''"
                        [disabled]="!edit"
                        bounds="self"
                        [modules]="multiLines"
                    ></quill-editor>
                </div>

                <div *ngIf="!isDilps && !edit && model.url">
                    <a href="{{ model.url }}" [innerHTML]="model.urlDescription || model.url"></a>
                </div>

                <!-- Don't show related cards if current card has no id : it's required to create a relation-->
                <div *ngIf="showCards && fetchedModel && (edit || fetchedModel.cards.length > 0)">
                    <br />
                    <div class="mat-headline-6">Fiches associées</div>

                    <natural-relations
                        [disabled]="!edit"
                        [filter]="{groups: [{conditions: [{cards: {have: {values: [fetchedModel.id]}}}]}]}"
                        [autocompleteSelectorFilter]="{
                            groups: [
                                {
                                    conditions: [
                                        {id: {equal: {value: fetchedModel.id, not: true}}},
                                        {cards: {have: {values: [fetchedModel.id], not: true}}}
                                    ]
                                }
                            ]
                        }"
                        [main]="fetchedModel"
                        [service]="cardService"
                        placeholder="Chercher une fiche"
                        [displayWith]="displayWith"
                        id="fiches-additionnelles"
                    >
                        <ng-template let-item="item">
                            <natural-table-button
                                [label]="displayWith(item)"
                                [navigate]="['/card/', item.id]"
                                icon="image"
                            ></natural-table-button>
                        </ng-template>
                    </natural-relations>
                </div>

                <app-files *ngIf="fetchedModel" [card]="fetchedModel" [disabled]="!edit"></app-files>

                <div *ngIf="isDilps && collectionCopyrights">
                    <div class="mat-headline-6">Droits d’utilisation</div>
                    <p>{{ collectionCopyrights }}</p>
                </div>
            </div>
        </ng-scrollbar>

        <div class="padding" *ngIf="fetchedModel">
            <app-stamp [item]="fetchedModel"></app-stamp>
        </div>
    </div>

    <div *ngIf="showImage" class="image-container" fxFlex fxLayout="column">
        <mat-toolbar [ngClass]="edit ? 'edition' : ''" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex></div>
            <a
                *ngIf="imageSrcFull && !imageData"
                [attr.href]="imageSrcFull"
                download
                mat-icon-button
                matTooltip="Télécharger l'image"
            >
                <mat-icon naturalIcon="file_download"></mat-icon>
            </a>
        </mat-toolbar>
        <div
            *ngIf="imageSrc && !imageData"
            [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}"
            class="image"
            fxFlex
        ></div>
        <div *ngIf="imageData" [style.backgroundImage]="imageData" class="image" fxFlex></div>
        <app-related-cards
            [card]="fetchedModel"
            *ngIf="showCards && showSlideshowRelatedCards && fetchedModel && fetchedModel.cards.length > 0"
        ></app-related-cards>
    </div>
</div>
<button (click)="refreshInitialCardValues()"></button>
