@if (!model || loadingIndicator || minimalLoadingWait) {
    <app-card-skeleton />
} @else {
    <div
        naturalFileDrop
        class="nat-expand nat-horizontal"
        [fileSelectionDisabled]="!edit"
        (filesChange)="dropImage($event)"
    >
        <div class="app-file-drag-n-drop-overlay">Glisser-déposer un fichier ici</div>
        <div class="left-pane nat-vertical" [ngClass]="{containerWithToolbar: showToolbar, borderRight: showImage}">
            @if (showToolbar) {
                <mat-toolbar class="nat-horizontal nat-align" [ngClass]="edit ? 'edition' : ''">
                    @if (showLogo) {
                        <app-logo [data]="{type: 'toolbar', class: 'logo'}" />
                    }
                    @if (title) {
                        <div>{{ title }}</div>
                    }
                    <div class="nat-expand"></div>
                    <mat-menu #changeMenu="matMenu" [overlapTrigger]="false">
                        @if (canSuggestUpdate()) {
                            <button mat-menu-item (click)="suggestUpdate()">Suggérer une modification</button>
                        }
                        @if (canSuggestDelete()) {
                            <button mat-menu-item (click)="suggestDeletion()">Suggérer la suppression</button>
                        }
                        @if (canSuggestCreate()) {
                            <button mat-menu-item (click)="suggestCreation()">
                                {{ getSuggestAddLabel() }}
                            </button>
                        }
                    </mat-menu>
                    @if (showTools) {
                        @if (!edit && fetchedModel?.permissions?.update) {
                            <button mat-icon-button matTooltip="Passer en mode édition" (click)="toggleEdit()">
                                <mat-icon naturalIcon="edit" />
                            </button>
                        }
                        @if (edit && fetchedModel?.permissions?.update) {
                            <button
                                mat-icon-button
                                class="icon-button-circle-primary"
                                matTooltip="Enregistrer"
                                [disabled]="!formIsValid"
                                (click)="update()"
                            >
                                <mat-icon naturalIcon="save" />
                            </button>
                        }
                        @if (user && !edit && (canSuggestUpdate() || canSuggestDelete())) {
                            <button
                                color="primary"
                                mat-icon-button
                                matTooltip="Soumettre"
                                [matMenuTriggerFor]="changeMenu"
                            >
                                <mat-icon naturalIcon="add_alert" />
                            </button>
                        }
                        @if (user && !edit && !canSuggestUpdate() && !canSuggestDelete() && canSuggestCreate()) {
                            <button color="primary" mat-icon-button matTooltip="Soumettre" (click)="suggestCreation()">
                                <mat-icon naturalIcon="add_alert" />
                            </button>
                        }
                        @if (!fetchedModel && user?.globalPermissions?.card?.create) {
                            <button mat-icon-button matTooltip="Créer" (click)="create()">
                                <mat-icon naturalIcon="add" />
                            </button>
                        }
                        @if (edit) {
                            <button
                                mat-icon-button
                                matTooltip="Importer les données d'une autre fiche"
                                (click)="complete()"
                            >
                                <mat-icon naturalIcon="content_copy" />
                            </button>
                        }
                        @if (fetchedModel) {
                            <app-export-menu
                                matTooltip="Exporter"
                                [selectedCards]="[fetchedModel]"
                                [showExcelExportation]="!isDilps"
                            />
                        }
                        @if (fetchedModel && user) {
                            <button
                                mat-icon-button
                                matTooltip="Ajouter ou retirer d'une collection"
                                (click)="linkToCollection()"
                            >
                                <mat-icon naturalIcon="library_add" />
                            </button>
                        }
                        @if (fetchedModel?.permissions?.delete) {
                            <button color="warn" mat-icon-button matTooltip="Supprimer" (click)="confirmDelete()">
                                <mat-icon naturalIcon="delete_forever" />
                            </button>
                        }
                    }
                </mat-toolbar>
            }
            <ng-scrollbar class="nat-expand ng-scroll-max-width">
                <div class="padding-scrollbar scrolled nat-vertical">
                    @if (user?.role === UserRole.administrator) {
                        <div class="nat-vertical">
                            <div class="nat-horizontal">
                                {{
                                    visibilities[visibility]
                                        ? 'Visible ' + visibilities[visibility].text
                                        : 'Visibilité inchangée'
                                }}
                            </div>
                            <mat-slider
                                [color]="visibilities[visibility] ? visibilities[visibility].color : 'warn'"
                                [disabled]="!edit"
                                [max]="3"
                                [min]="1"
                                [step]="1"
                            >
                                <input matSliderThumb [(ngModel)]="visibility" (change)="updateVisibility()" />
                            </mat-slider>
                        </div>
                    }
                    <div class="nat-padding mat-subtitle-2">
                        @for (collection of sortedCollections; track collection) {
                            <div>{{ collection.hierarchicName }}</div>
                        }
                    </div>
                    @if (showCode && !isDilps && ((edit && canUpdateCode()) || !!model.code)) {
                        <mat-form-field>
                            <mat-label>Référence</mat-label>
                            <input
                                #code="ngModel"
                                matInput
                                maxlength="30"
                                [readonly]="!edit || !canUpdateCode()"
                                [appUniqueCode]="model"
                                [(ngModel)]="model.code"
                                (change)="codeModel = code; updateFormValidity()"
                            />
                            @if (showSuggestedCode()) {
                                <button
                                    mat-icon-button
                                    matIconSuffix
                                    [matTooltip]="'Utiliser la référénce automatique &quot;' + suggestedCode + '&quot;'"
                                    (click)="codeModel = code; useSuggestedCode($event)"
                                >
                                    <mat-icon naturalIcon="refresh" />
                                </button>
                            }
                            @if (code.invalid && (code?.dirty || code?.touched) && !code.errors?.maxlength) {
                                <mat-error>Cette référence est déjà attribuée à une fiche</mat-error>
                            }
                            @if (edit && model.code?.length > 23) {
                                <mat-hint align="end" [ngClass]="{strong: model.code?.length >= 30}">
                                    {{ model.code!.length }} / 30
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (edit || !!model.name) {
                        <div tabindex="-1" [ngClass]="{filled: !!model.name, 'rich-text': true}">
                            <div class="label">Titre</div>
                            @if (edit || !!model.name) {
                                <quill-editor
                                    bounds="self"
                                    matTooltipPosition="after"
                                    [ngModel]="model.name"
                                    [disabled]="!edit"
                                    [modules]="singleLine"
                                    [matTooltip]="
                                        !edit || !isDilps
                                            ? ''
                                            : 'Pour un objet simple (tableau, statue, etc.), le titre suffit (exemple : &quot;Les Demoiselles d\'Avignon&quot;)\n\nPour un objet lié à un lieu (une église, un monument, etc.), l\'annotation se présentera sous la forme suivante : &quot;Ville, monument, partie du monument : Sujet représenté&quot; (exemple : &quot;Chartres, Notre-Dame, façade sud : Sainte Cindy&quot;)\n\nDans le titre, le nom du lieu se met si possible en français.'
                                    "
                                    (ngModelChange)="model.name = $event || ''"
                                />
                            }
                            @if (edit && (model.name | stripTags)?.length > 187) {
                                <mat-hint [ngClass]="{strong: (model.name | stripTags)?.length >= 191}">
                                    {{ (model.name | stripTags).length }} / 191
                                </mat-hint>
                            }
                        </div>
                    }
                    @if (!isDilps && (edit || !!model.domains?.length)) {
                        <app-thesaurus
                            placeholder="Domaines"
                            [model]="model.domains"
                            [allowFreeText]="false"
                            [hierarchicSelectorConfig]="domainHierarchicConfig"
                            [multiple]="true"
                            [previewComponent]="DomainComponent"
                            [readonly]="!edit"
                            [service]="domainService"
                            (modelChange)="model.domains = $any($event)"
                        />
                    }
                    @if (edit || (!!model.expandedName && model.expandedName !== model.name)) {
                        <div tabindex="-1" [ngClass]="{filled: !!model.expandedName, 'rich-text': true}">
                            <div class="label">{{ isDilps ? 'Titre étendu' : 'Description' }}</div>
                            @if (edit || !!model.expandedName) {
                                <quill-editor
                                    bounds="self"
                                    matTooltipPosition="after"
                                    [ngModel]="model.expandedName"
                                    [disabled]="!edit"
                                    [modules]="multiLines"
                                    [matTooltip]="
                                        !edit || !isDilps
                                            ? ''
                                            : 'Inclure d’éventuelles informations qui complètent le titre (exemple: le titre dans la langue originale)'
                                    "
                                    (ngModelChange)="model.expandedName = $event || ''"
                                />
                            }
                        </div>
                    }
                    @if (!isDilps && (edit || !!model.corpus)) {
                        <div tabindex="-1" [ngClass]="{filled: !!model.corpus, 'rich-text': true}">
                            <div class="label">Corpus</div>
                            @if (edit || !!model.corpus) {
                                <quill-editor
                                    bounds="self"
                                    [ngModel]="model.corpus"
                                    [disabled]="!edit"
                                    [modules]="multiLines"
                                    (ngModelChange)="model.corpus = $event || ''"
                                />
                            }
                        </div>
                    }
                    @if (isDilps && (edit || !!artists.length)) {
                        <app-thesaurus
                            matTooltipPosition="after"
                            placeholder="Artistes"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'Le nom de l\'artiste s\'insère sous la forme\n &quot;Nom, Prénom&quot;\n\nSi l\'artiste est inconnu, le champ doit rester vide.'
                            "
                            [model]="artists"
                            [previewComponent]="ArtistComponent"
                            [readonly]="!edit"
                            [service]="artistService"
                            [matchFromStartAutocomplete]="true"
                            (modelChange)="model.artists = $any($event)"
                        />
                    }
                    @if (isDilps && (edit || !!model.techniqueAuthor)) {
                        <mat-form-field>
                            <mat-label>Auteur technique</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.techniqueAuthor"
                            ></textarea>
                            @if (edit && model.techniqueAuthor?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.techniqueAuthor?.length >= 255}">
                                    {{ model.techniqueAuthor!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (isDilps && (edit || !!model.addition)) {
                        <mat-form-field
                            matTooltipPosition="after"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'Le champ supplément permet de saisir toute information n\'entrant pas ailleurs (complément, précision, numéro d\'inventaire, etc.).'
                            "
                        >
                            <mat-label>Supplément</mat-label>
                            <textarea
                                matInput
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.addition"
                            ></textarea>
                        </mat-form-field>
                    }
                    @if (isDilps && (edit || !!model.dating)) {
                        <mat-form-field
                            matTooltipPosition="after"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'Les siècles s\'écrivent en chiffres romains\n&quot;Vers 1912&quot; s’écrit &quot;1912 (c.)&quot; (c. pour circa)'
                            "
                        >
                            <mat-label>Datation</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.dating"
                            ></textarea>
                            @if (edit && model.dating?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.dating?.length >= 255}">
                                    {{ model.dating!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (isDilps && (edit || !!model.domains?.length)) {
                        <app-thesaurus
                            matTooltipPosition="after"
                            placeholder="Domaines"
                            [matTooltip]="!edit ? '' : 'Information générique: sculpture, peinture, architecture'"
                            [model]="model.domains"
                            [allowFreeText]="false"
                            [multiple]="true"
                            [previewComponent]="DomainComponent"
                            [readonly]="!edit"
                            [service]="domainService"
                            [matchFromStartAutocomplete]="true"
                            (modelChange)="model.domains = $any($event)"
                        />
                    }
                    @if (isDilps && (edit || !!model.material)) {
                        <mat-form-field
                            matTooltipPosition="after"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'Ce champ précise ce que &quot;Domaine&quot; donne de façon générale (exemple: &quot;Domaine: Peinture&quot;, &quot;Technique & Matériel: Huile sur toile&quot;)'
                            "
                        >
                            <mat-label>Technique & Matériel</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.material"
                            ></textarea>
                            @if (edit && model.material?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.material?.length >= 255}">
                                    {{ model.material!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (isDilps && (edit || !!model.format)) {
                        <mat-form-field
                            matTooltipPosition="after"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'Les dimensions s\'expriment en centimètres (exemple : &quot;19,9 x 32,5 cm&quot;).'
                            "
                        >
                            <mat-label>Dimensions</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.format"
                            ></textarea>
                            @if (edit && model.format?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.format?.length >= 255}">
                                    {{ model.format!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && (edit || !!model.materials?.length)) {
                        <app-thesaurus
                            placeholder="Matériaux"
                            [model]="model.materials"
                            [allowFreeText]="false"
                            [hierarchicSelectorConfig]="materialHierarchicConfig"
                            [multiple]="true"
                            [previewComponent]="MaterialComponent"
                            [readonly]="!edit"
                            [service]="materialService"
                            (modelChange)="model.materials = $any($event)"
                        />
                    }
                    @if (!isDilps && (edit || !!model.productionPlace)) {
                        <mat-form-field>
                            <mat-label>Lieu de production</mat-label>
                            <input matInput maxlength="60" [readonly]="!edit" [(ngModel)]="model.productionPlace" />
                            @if (edit && model.productionPlace?.length > 47) {
                                <mat-hint align="end" [ngClass]="{strong: model.productionPlace?.length >= 60}">
                                    {{ model.productionPlace!.length }} / 60
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && (edit || !!model.tags?.length)) {
                        <app-thesaurus
                            placeholder="Mots clés"
                            [model]="model.tags"
                            [allowFreeText]="false"
                            [hierarchicSelectorConfig]="tagHierarchicConfig"
                            [multiple]="true"
                            [previewComponent]="TagComponent"
                            [readonly]="!edit"
                            [service]="tagService"
                            (modelChange)="model.tags = $any($event)"
                        />
                    }
                    @if (isDilps && (edit || !!institution)) {
                        <div class="mat-headline-6">Lieu</div>
                    }
                    @if (isDilps && (edit || !!institution)) {
                        <app-thesaurus
                            matTooltipPosition="after"
                            placeholder="Institution"
                            [matTooltip]="
                                !edit
                                    ? ''
                                    : 'L\'institution où se trouve l\'oeuvre.\n\nL\'institution s\'écrit en principe dans la langue originale du pays.'
                            "
                            [model]="institution"
                            [multiple]="false"
                            [previewComponent]="InstitutionComponent"
                            [readonly]="!edit"
                            [service]="institutionSortedByUsageService"
                            (modelChange)="model.institution = $any($event)"
                        />
                    }
                    <!-- Institution address -->
                    @if (isDilps && !(model.locality || edit)) {
                        <app-address
                            [model]="institution"
                            [readonly]="!edit"
                            [vertical]="true"
                            [onlyMap]="true"
                            [allowExpandableMap]="true"
                        />
                    }
                    <!-- Card address, if given -->
                    @if ((model.locality || edit) && !isDilps) {
                        <div>
                            <div class="mat-headline-6">Lieux de découverte</div>
                            <app-address [model]="model" [readonly]="!edit" [vertical]="true" [isDilps]="isDilps" />
                        </div>
                    }
                    @if ((model.locality || edit) && isDilps) {
                        <cdk-accordion class="address-accordion">
                            <cdk-accordion-item
                                #accordionItem="cdkAccordionItem"
                                role="button"
                                tabindex="0"
                                [expanded]="!edit"
                                [attr.id]="'address'"
                                [attr.aria-expanded]="accordionItem.expanded"
                            >
                                <div
                                    class="address-title mat-headline-6 nat-horizontal"
                                    (click)="accordionItem.toggle()"
                                >
                                    <span>Adresse</span>
                                    <mat-icon
                                        class="address-toggle-arrow"
                                        [naturalIcon]="accordionItem.expanded ? 'arrow_drop_up' : 'arrow_drop_down'"
                                    />
                                </div>
                                <div [style.display]="accordionItem.expanded ? '' : 'none'">
                                    <app-address
                                        [model]="model"
                                        [readonly]="!edit"
                                        [vertical]="true"
                                        [isDilps]="isDilps"
                                        [allowExpandableMap]="true"
                                    />
                                </div>
                            </cdk-accordion-item>
                        </cdk-accordion>
                    }
                    @if (!isDilps && (edit || !!model.antiqueNames?.length)) {
                        <app-thesaurus
                            placeholder="Nom antique"
                            [model]="model.antiqueNames"
                            [allowFreeText]="false"
                            [multiple]="true"
                            [previewComponent]="AntiqueNameComponent"
                            [readonly]="!edit"
                            [service]="antiqueNameService"
                            (modelChange)="model.antiqueNames = $any($event)"
                        />
                    }
                    @if (!isDilps && (edit || model.periods?.length || !!model.from || !!model.to)) {
                        <div class="mat-headline-6">Datation</div>
                    }
                    @if (!isDilps && (edit || model.periods?.length)) {
                        <app-thesaurus
                            placeholder="Périodes"
                            [model]="model.periods"
                            [allowFreeText]="false"
                            [hierarchicSelectorConfig]="periodHierarchicConfig"
                            [multiple]="true"
                            [previewComponent]="PeriodComponent"
                            [readonly]="!edit"
                            [service]="periodService"
                            (modelChange)="model.periods = $any($event)"
                        />
                    }
                    @if (!isDilps) {
                        <div class="nat-horizontal double-fields nat-gap-10">
                            @if (edit || !!model.from) {
                                <mat-form-field class="from-to-fields">
                                    <mat-label>A partir de</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        step="1"
                                        [readonly]="!edit"
                                        [(ngModel)]="model.from"
                                    />
                                </mat-form-field>
                            }
                            @if (edit || !!model.to) {
                                <mat-form-field class="from-to-fields">
                                    <mat-label>Jusqu'à</mat-label>
                                    <input matInput type="number" step="1" [readonly]="!edit" [(ngModel)]="model.to" />
                                </mat-form-field>
                            }
                        </div>
                    }
                    @if (!isDilps && (edit || !!institution || !!model.objectReference)) {
                        <div class="mat-headline-6">Lieu de conservation</div>
                    }
                    @if (!isDilps && (edit || !!institution)) {
                        <app-thesaurus
                            placeholder="Institution"
                            [model]="institution"
                            [multiple]="false"
                            [previewComponent]="InstitutionComponent"
                            [readonly]="!edit"
                            [service]="institutionSortedByUsageService"
                            (modelChange)="model.institution = $any($event)"
                        />
                    }
                    <!-- Institution address -->
                    @if (!isDilps && !(model.locality || edit)) {
                        <app-address [model]="institution" [readonly]="!edit" [vertical]="true" [onlyMap]="true" />
                    }
                    @if (!isDilps && (edit || !!model.objectReference)) {
                        <mat-form-field>
                            <mat-label>Numéro d’inventaire</mat-label>
                            <textarea
                                matInput
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.objectReference"
                            ></textarea>
                        </mat-form-field>
                    }
                    @if (
                        !isDilps &&
                        (edit ||
                            !!model.documentType ||
                            !!model.documentSize ||
                            !!model.techniqueAuthor ||
                            !!model.techniqueDate)
                    ) {
                        <div class="mat-headline-6">Référence du document</div>
                    }
                    @if (!isDilps && (edit || !!model.documentType)) {
                        <app-thesaurus
                            placeholder="Type"
                            [model]="model.documentType"
                            [allowFreeText]="false"
                            [multiple]="false"
                            [previewComponent]="DocumentTypeComponent"
                            [readonly]="!edit"
                            [service]="documentTypeService"
                            (modelChange)="model.documentType = $any($event)"
                        />
                    }
                    @if (!isDilps && (edit || !!model.documentSize)) {
                        <mat-form-field>
                            <mat-label>Dimensions</mat-label>
                            <textarea
                                matInput
                                maxlength="191"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.documentSize"
                            ></textarea>
                            @if (edit && model.documentSize?.length > 150) {
                                <mat-hint align="end" [ngClass]="{strong: model.documentSize?.length >= 191}">
                                    {{ model.documentSize!.length }} / 191
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && (edit || !!model.techniqueAuthor)) {
                        <mat-form-field>
                            <mat-label>Auteur</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.techniqueAuthor"
                            ></textarea>
                            @if (edit && model.techniqueAuthor?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.techniqueAuthor?.length >= 255}">
                                    {{ model.techniqueAuthor!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && (edit || !!model.techniqueDate)) {
                        <mat-form-field>
                            <mat-label>Date ou année</mat-label>
                            <input matInput maxlength="60" [readonly]="!edit" [(ngModel)]="model.techniqueDate" />
                            @if (edit && model.techniqueDate?.length > 47) {
                                <mat-hint align="end" [ngClass]="{strong: model.techniqueDate?.length >= 60}">
                                    {{ model.techniqueDate!.length }} / 60
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && (edit || !!model.literature || !!model.page || !!model.isbn)) {
                        <div class="mat-headline-6">Référence de l'image</div>
                    }
                    @if (
                        isDilps &&
                        (edit ||
                            !!model.literature ||
                            !!model.page ||
                            !!model.figure ||
                            !!model.table ||
                            !!model.rights ||
                            !!model.isbn)
                    ) {
                        <div class="mat-headline-6">Référence de l'image</div>
                    }
                    @if (edit || !!model.literature) {
                        <div tabindex="-1" [ngClass]="{filled: !!model.literature, 'rich-text': true}">
                            <div class="label">Source</div>
                            @if (edit || !!model.literature) {
                                <quill-editor
                                    bounds="self"
                                    matTooltipPosition="after"
                                    [ngModel]="model.literature"
                                    [disabled]="!edit"
                                    [modules]="multiLines"
                                    [matTooltip]="
                                        !edit || !isDilps
                                            ? ''
                                            : 'La source est le lien URL ou la référence bibliographique de l\'ouvrage d\'où provient l\'image.\n\nLa notice s\'écrit en principe sur le schéma :\n&quot;Prénom Nom, Titre et sous-titre, Lieu de publication : éditeur, année (première édition).&quot;\n\nNe pas oublier de noter le numéro de page correspondant à l\'image.'
                                    "
                                    (ngModelChange)="model.literature = $event || ''"
                                />
                            }
                        </div>
                    }
                    @if (isDilps) {
                        @if (!!initialCardValues.page) {
                            <mat-form-field>
                                <mat-label>Page</mat-label>
                                <input matInput [readonly]="true" [(ngModel)]="model.page" />
                                @if (!!model.page && edit) {
                                    <button
                                        matSuffix
                                        matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.page = ''"
                                    >
                                        <mat-icon fontIcon="close" />
                                    </button>
                                }
                                @if (!model.page && edit) {
                                    <button
                                        matTooltip="Annuler"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.page = initialCardValues.page"
                                    >
                                        <mat-icon fontIcon="undo" />
                                    </button>
                                }
                            </mat-form-field>
                        }
                        @if (!!initialCardValues.figure) {
                            <mat-form-field>
                                <mat-label>Figure</mat-label>
                                <input matInput [readonly]="true" [(ngModel)]="model.figure" />
                                @if (!!model.figure && edit) {
                                    <button
                                        matSuffix
                                        matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.figure = ''"
                                    >
                                        <mat-icon fontIcon="close" />
                                    </button>
                                }
                                @if (!model.figure && edit) {
                                    <button
                                        matTooltip="Annuler"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.figure = initialCardValues.figure"
                                    >
                                        <mat-icon fontIcon="undo" />
                                    </button>
                                }
                            </mat-form-field>
                        }
                        @if (!!initialCardValues.table) {
                            <mat-form-field>
                                <mat-label>Planche</mat-label>
                                <input matInput [readonly]="true" [(ngModel)]="model.table" />
                                @if (!!model.table && edit) {
                                    <button
                                        matSuffix
                                        matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.table = ''"
                                    >
                                        <mat-icon fontIcon="close" />
                                    </button>
                                }
                                @if (!model.table && edit) {
                                    <button
                                        matTooltip="Annuler"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.table = initialCardValues.table"
                                    >
                                        <mat-icon fontIcon="undo" />
                                    </button>
                                }
                            </mat-form-field>
                        }
                        @if (!!initialCardValues.isbn) {
                            <mat-form-field
                                matTooltipPosition="after"
                                [matTooltip]="edit ? 'Numéro ISBN de l\'ouvrage source, sans les tirets.' : ''"
                            >
                                <mat-label>ISBN</mat-label>
                                <input matInput [readonly]="true" [(ngModel)]="model.isbn" />
                                @if (!!model.isbn && edit) {
                                    <button
                                        matSuffix
                                        matTooltip="Ce champ ne peut plus être modifié, mais il peut être effacé."
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.isbn = ''"
                                    >
                                        <mat-icon fontIcon="close" />
                                    </button>
                                }
                                @if (!model.isbn && edit) {
                                    <button
                                        matTooltip="Annuler"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="model.isbn = initialCardValues.isbn"
                                    >
                                        <mat-icon fontIcon="undo" />
                                    </button>
                                }
                            </mat-form-field>
                        }
                    }
                    @if (!isDilps && (edit || !!model.isbn)) {
                        <mat-form-field>
                            <mat-label>ISBN / ISSN</mat-label>
                            <input matInput maxlength="30" [readonly]="!edit" [(ngModel)]="model.isbn" />
                            @if (edit && model.isbn?.length > 23) {
                                <mat-hint align="end" [ngClass]="{strong: model.isbn?.length >= 30}">
                                    {{ model.isbn!.length }} / 30
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (isDilps && (edit || !!model.rights)) {
                        <mat-form-field>
                            <mat-label>Droits d'auteur</mat-label>
                            <textarea
                                matInput
                                maxlength="255"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.rights"
                            ></textarea>
                            @if (edit && model.rights?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.rights?.length >= 255}">
                                    {{ model.rights!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && collectionCopyrights) {
                        <div>
                            <div class="mat-headline-6">Droits d'auteur</div>
                            <p>{{ collectionCopyrights }}</p>
                        </div>
                    }
                    @if (!isDilps && (edit || !!model.url)) {
                        <div class="mat-headline-6">Référence web</div>
                    }
                    @if (!isDilps && !edit && model.url) {
                        <mat-list style="padding: 0">
                            <mat-list-item>
                                <a
                                    class="nat-margin-bottom-hint"
                                    color="primary"
                                    style="justify-content: flex-start"
                                    mat-button
                                    [href]="model.url"
                                    [innerHTML]="model.urlDescription || model.url"
                                ></a>
                            </mat-list-item>
                        </mat-list>
                    }
                    @if (!isDilps && edit) {
                        <mat-form-field>
                            <mat-label>URL</mat-label>
                            <textarea
                                #url="ngModel"
                                matInput
                                maxlength="255"
                                type="url"
                                [readonly]="!edit"
                                [cdkAutosizeMinRows]="1"
                                [cdkTextareaAutosize]="true"
                                [(ngModel)]="model.url"
                                (change)="urlModel = url; updateFormValidity()"
                            ></textarea>
                            @if (url.invalid && (url.dirty || url.touched)) {
                                <mat-error>URL invalide</mat-error>
                            }
                            @if (edit && model.url?.length > 200) {
                                <mat-hint align="end" [ngClass]="{strong: model.url?.length >= 255}">
                                    {{ model.url!.length }} / 255
                                </mat-hint>
                            }
                        </mat-form-field>
                    }
                    @if (!isDilps && edit) {
                        <div tabindex="-1" [ngClass]="{filled: !!model.urlDescription, 'rich-text': true}">
                            <div class="label">Description</div>
                            @if (edit || !!model.urlDescription) {
                                <quill-editor
                                    bounds="self"
                                    [ngModel]="model.urlDescription"
                                    [disabled]="!edit"
                                    [modules]="multiLines"
                                    (ngModelChange)="model.urlDescription = $event || ''"
                                />
                            }
                        </div>
                    }
                    <!-- Don't show related cards if current card has no id : it's required to create a relation-->
                    @if (showCards && fetchedModel && edit) {
                        <div>
                            <div class="mat-headline-6">Fiches associées</div>
                            <natural-relations
                                placeholder="Associer une fiche"
                                id="fiches-additionnelles"
                                [disabled]="!edit"
                                [filter]="{
                                    groups: [
                                        {
                                            joins: {
                                                cards: {
                                                    type: JoinType.innerJoin,
                                                    conditions: [{id: {equal: {value: fetchedModel.id}}}],
                                                },
                                            },
                                        },
                                    ],
                                }"
                                [autocompleteSelectorFilter]="{
                                    groups: [
                                        {
                                            conditions: [
                                                {id: {equal: {value: fetchedModel.id, not: true}}},
                                                {cards: {have: {values: [fetchedModel.id], not: true}}},
                                            ],
                                        },
                                    ],
                                }"
                                [main]="fetchedModel"
                                [service]="cardService"
                                [displayWith]="displayWith"
                                [ngClass]="{'margin-bottom-hint': !edit}"
                            >
                                <ng-template let-item="item">
                                    <div [ngClass]="{'related-card-template': true}">
                                        <natural-table-button
                                            icon="image"
                                            [label]="displayWith(item)"
                                            [navigate]="['/card/', item.id]"
                                            [matTooltip]="displayWith(item)"
                                            [matTooltipShowDelay]="500"
                                        />
                                        @if (edit) {
                                            <button
                                                mat-icon-button
                                                matTooltip="Copier les associations"
                                                (click)="openCopyRelatedCardsDialog(item)"
                                            >
                                                <mat-icon naturalIcon="add_link" />
                                            </button>
                                        }
                                    </div>
                                </ng-template>
                            </natural-relations>
                            @if (edit) {
                                <div class="nat-margin-bottom-hint btn-link-related-cards">
                                    <button mat-raised-button (click)="openLinkRelatedCardsDialog()">
                                        Associer les fiches entre elles
                                    </button>
                                </div>
                            }
                        </div>
                    }
                    @if (fetchedModel) {
                        <app-files [card]="fetchedModel" [disabled]="!edit" />
                    }
                    @if (isDilps && collectionCopyrights) {
                        <div>
                            <div class="mat-headline-6">Droits d’utilisation</div>
                            <p>{{ collectionCopyrights }}</p>
                        </div>
                    }
                </div>
            </ng-scrollbar>
            @if (fetchedModel) {
                <div class="nat-padding">
                    <app-stamp [item]="stamp" />
                </div>
            }
        </div>
        @if (showImage) {
            <div
                class="image-container nat-vertical nat-expand"
                [style.padding-bottom]="shouldDisplaySlideShowRelatedCards() ? '120px' : '0'"
                [@showHideRelatedCards]="shouldDisplaySlideShowRelatedCards() ? 'show' : 'hide'"
            >
                @if (imageSrcFull && !imageData) {
                    <a
                        download
                        mat-mini-fab
                        class="download-button"
                        matTooltip="Télécharger l'image"
                        matTooltipPosition="left"
                        [attr.href]="imageSrcFull"
                    >
                        <mat-icon naturalIcon="file_download" />
                    </a>
                }
                @if (imageSrc && !imageData) {
                    <div class="image nat-expand" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}"></div>
                }
                @if (imageData) {
                    <div class="image nat-expand" [style.backgroundImage]="imageData"></div>
                }
                @if (showCards && showSlideshowRelatedCards && fetchedModel) {
                    <app-related-cards
                        [card]="fetchedModel"
                        [isReduced]="isRelatedCardsReduced"
                        (reduced)="isRelatedCardsReduced = $event"
                        (closed)="isRelatedCardsClosed = $event"
                    />
                }
            </div>
        }
    </div>
}
