@use '../../styles/utils';
@use '@ecodev/natural-layout' as nat;
:host {
    display: flex;
    flex: auto;
    @include utils.fixedToolbar();
}

// Very small screens
@include nat.media(null, 450px) {
    app-logo {
        display: none;
    }
    .mat-toolbar {
        justify-content: end;
    }
}

// Small screens
.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.vertical {
        .containerWithToolbar .scrolled {
            margin-top: 0;
        }
        app-related-cards {
            display: none !important;
        }

        .padding-scrollbar {
            padding: 0 !important;
        }
    }

    .left-pane {
        width: 100%;
    }
}

// Bigger screens
@include nat.media(sm, null) {
    .body:not(.vertical) {
        display: grid;
        grid-template-rows: 0 1fr;
        grid-template-columns: 400px minmax(0, 1fr);
        align-items: initial;

        .image-container {
            display: flex;
            grid-row: span 2;
            flex-direction: column;

            img {
                flex: 1;
            }
        }

        .left-pane {
            .scroll {
                overflow: auto;
            }
        }
    }
}

.image-container {
    position: relative;
    width: 100%;

    .download-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    app-historic-icon {
        position: absolute;
        top: 8px;
        right: 60px;
        height: 44px;
    }

    .image {
        background-color: rgba(0, 0, 0, 0.33);
        width: 100%;
        min-width: 0;
        min-height: 0;
        object-fit: contain;
        object-position: center;
    }
}

.mat-toolbar {
    position: relative;
    z-index: 999;
}

.left-pane {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.from-to-fields {
    display: flex;
    flex: 1 1 183px;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 183px;
    max-width: 183px;
}

mat-slider {
    margin: 0 15px;
}

.address-toggle-arrow {
    position: relative;
    top: 5px;
}

.address-title {
    cursor: pointer;
}

.double-fields > * {
    width: calc(((399px - 2 * 12px) - 10px) / 2);
    min-width: 0;
}

.btn-link-related-cards {
    display: flex;
    justify-content: flex-end;
}

.related-card-template {
    display: flex;

    > div:first-child {
        flex-grow: 1;
    }
}
