@use 'sass:map';
@use '@angular/material' as mat;
@mixin collections($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    $config: mat.m2-get-color-config($theme);
    $is-dark-theme: map.get($config, is-dark);
    $border-color: if($is-dark-theme, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.12));

    .hierarchy-indicator {
        &.expanded::after {
            border-left: 2px solid $border-color;
        }
    }

    .hierarchy-depth-indicator {
        border-left: 2px solid $border-color;
    }
}
