app-collections {
    .mat-mdc-list-item {
        height: auto !important;
        min-height: 48px !important;
        width: auto !important;
        /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
        .mat-list-item-content {
            padding-right: 6px !important;
            min-height: 48px !important;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
        &.withDesc .mat-list-item-content {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            align-items: start !important;
        }
    }
}
