<div fxFlex fxLayout="row">
    <div class="containerWithToolbar" fxFlex="400px" fxLayout="column">
        <mat-toolbar color="app" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <app-logo [data]="{type: 'toolbar', class: 'logo'}"></app-logo>
            <div fxFlex></div>
            <button (click)="add()" *ngIf="canCreate" [matTooltip]="'Créer une collection'" mat-icon-button>
                <natural-icon name="add"></natural-icon>
            </button>
        </mat-toolbar>

        <perfect-scrollbar fxFlex>
            <div class="scrolled" fxLayout="column">
                <mat-nav-list *ngIf="showUnclassified">
                    <a
                        [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['.']"
                        mat-list-item
                        routerLinkActive="active"
                    >
                        <span fxLayout="row" fxLayoutAlign="start center">Non classé</span>
                    </a>
                </mat-nav-list>

                <mat-nav-list *ngIf="showMyCards">
                    <a
                        [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['my-cards']"
                        mat-list-item
                        routerLinkActive="active"
                    >
                        <span fxLayout="row" fxLayoutAlign="start center">Mes images</span>
                    </a>
                </mat-nav-list>

                <mat-divider *ngIf="showUnclassified"></mat-divider>

                <ng-template #recursiveList let-collections let-padding="padding">
                    <ng-container *ngFor="let collection of collections">
                        <a
                            (click)="toggle(collection)"
                            [routerLink]="collection.id"
                            [style.padding-left.px]="padding"
                            mat-list-item
                            routerLinkActive="active"
                        >
                            <span matListItemTitle>
                                {{ collection.name }}
                                <span *ngIf="collection.hasUsers">&nbsp;(*)</span>
                            </span>
                            <button
                                matListItemMeta
                                (click)="edit($event, collection)"
                                *ngIf="collection.permissions.update || collection.permissions.delete"
                                mat-icon-button
                            >
                                <natural-icon name="edit"></natural-icon>
                            </button>
                        </a>
                        <ng-container
                            *ngTemplateOutlet="
                                recursiveList;
                                context: {$implicit: children.get(collection.id), padding: padding + 20}
                            "
                        ></ng-container>
                    </ng-container>
                </ng-template>

                <mat-nav-list>
                    <ng-container
                        *ngTemplateOutlet="recursiveList; context: {$implicit: rootCollections, padding: 0}"
                    ></ng-container>

                    <a (click)="more()" *ngIf="hasMore" fxLayout="column" fxLayoutAlign="center" mat-list-item>
                        <natural-icon matListItemIcon name="keyboard_arrow_down"></natural-icon>
                        <span>Afficher d'avantage</span>
                    </a>
                </mat-nav-list>
            </div>
        </perfect-scrollbar>
    </div>

    <router-outlet></router-outlet>
</div>
