<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="nat-expand nat-horizontal">
    <div class="containerWithToolbar nat-vertical left-pane">
        <mat-toolbar class="nat-horizontal nat-align nat-gap-10">
            <app-logo [data]="{type: 'toolbar', class: 'logo'}" />
            <div class="nat-expand"></div>
            <span>{{ title }}</span>
            @if (canCreate) {
                <button mat-icon-button matTooltip="Créer une collection" (click)="add()">
                    <mat-icon naturalIcon="add" />
                </button>
            }
        </mat-toolbar>

        <ng-scrollbar class="nat-expand ng-scroll-max-width">
            <div class="scrolled nat-vertical">
                @if (showUnclassified) {
                    <mat-nav-list>
                        <a
                            #rla="routerLinkActive"
                            mat-list-item
                            routerLinkActive
                            [routerLinkActiveOptions]="{exact: true}"
                            [activated]="rla.isActive"
                            [routerLink]="['unclassified']"
                        >
                            <span>Non classé</span>
                        </a>
                    </mat-nav-list>
                }

                @if (showMyCards) {
                    <mat-nav-list>
                        <a
                            #rla="routerLinkActive"
                            mat-list-item
                            routerLinkActive
                            [routerLinkActiveOptions]="{exact: true}"
                            [activated]="rla.isActive"
                            [routerLink]="['my-cards']"
                        >
                            <span>Mes images</span>
                        </a>
                    </mat-nav-list>
                }

                @if (showUnclassified) {
                    <mat-divider />
                }

                <ng-template #recursiveList let-collections>
                    @for (collection of collections; track collection) {
                        <a
                            #rla="routerLinkActive"
                            mat-list-item
                            routerLinkActive
                            class="mat-mdc-list-item-interactive"
                            [activated]="rla.isActive"
                            [routerLink]="collection.id"
                            (click)="toggle(collection)"
                        >
                            @if (collection.hasChildren) {
                                <mat-icon
                                    matListItemIcon
                                    class="hierarchy-indicator"
                                    [class.expanded]="children.has(collection.id)"
                                >
                                    @if (children.has(collection.id)) {
                                        expand_more
                                    } @else {
                                        chevron_right
                                    }
                                </mat-icon>
                            } @else {
                                <mat-icon matListItemIcon class="hierarchy-indicator" />
                            }
                            <span matListItemTitle>
                                {{ collection.name }}
                                @if (collection.hasUsers) {
                                    <span>&nbsp;(*)</span>
                                }
                            </span>
                            <div matListItemMeta class="nat-horizontal nat-gap nat-align">
                                @if (collection.isSource && collection.isHistoric) {
                                    <app-historic-icon style="height: 30px" />
                                }
                                @if (collection.permissions.update || collection.permissions.delete) {
                                    <button mat-icon-button (click)="edit($event, collection)">
                                        <mat-icon naturalIcon="edit" />
                                    </button>
                                }
                            </div>
                        </a>
                        @if (children.has(collection.id)) {
                            <div class="hierarchy-depth-indicator">
                                <ng-container
                                    *ngTemplateOutlet="recursiveList; context: {$implicit: children.get(collection.id)}"
                                />
                            </div>
                        }
                    }
                </ng-template>

                <mat-nav-list>
                    <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: rootCollections}" />
                    @if (hasMore) {
                        <a class="nat-vertical mat-mdc-list-item-interactive" mat-list-item (click)="more()">
                            <mat-icon matListItemIcon naturalIcon="keyboard_arrow_down" />
                            <span>Afficher d'avantage</span>
                        </a>
                    }
                </mat-nav-list>
            </div>
        </ng-scrollbar>
    </div>
    <mat-divider vertical />

    <router-outlet />
</div>
