@use '../../../styles/utils';

:host {
    display: flex;
    flex-direction: row;
    @include utils.fixedToolbar();
}

mat-nav-list {
    &,
    & * {
        white-space: normal;
    }

    .description {
        margin-top: 4px;
    }
}

.active * {
    font-weight: bold !important;
}

.left-pane {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 400px;
    max-width: 400px;
    min-width: 400px;
}
