@use '../../../styles/utils';

:host {
    display: flex;
    flex-direction: row;
    @include utils.fixedToolbar();
}
mat-nav-list {
    &,
    & * {
        white-space: normal;
    }

    .description {
        margin-top: 4px;
    }
}
