@use '../../../styles/utils.scss';
@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: row;
    @include utils.fixedToolbar();

    app-historic-icon {
        color: var(--mat-sys-tertiary-container);
    }
}

.active {
    background: var(--mat-sys-outline-variant);
}

.collections {
    overflow-y: auto;
    @include mat.list-overrides(
        (
            active-indicator-shape: var(--mat-sys-corner-none),
        )
    );
}

.hierarchy-indicator {
    @include mat.list-overrides(
        (
            list-item-leading-icon-start-space: 4px,
            list-item-leading-icon-end-space: 4px,
        )
    );
}

mat-nav-list {
    &,
    & * {
        white-space: normal;
    }

    .description {
        margin-top: 4px;
    }

    .mat-mdc-list-item {
        margin-bottom: -1px;
    }
}

.left-pane {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 400px;
}

.hierarchy-indicator {
    margin-right: 8px;
    margin-left: 4px;
    padding: 0;

    &.expanded::after {
        position: absolute;
        bottom: -16px;
        left: 11px;
        width: 2px;
        height: 15px;
        content: '';
    }
}

.hierarchy-depth-indicator {
    margin-left: 15px;
}

.actions-trigger {
    visibility: hidden;
}

mat-list-item:hover .actions-trigger,
.actions-trigger[aria-expanded='true'] {
    visibility: visible;
}

.hierarchy-indicator {
    &.expanded::after {
        border-left: 2px solid var(--mat-sys-outline-variant);
    }
}

.hierarchy-depth-indicator {
    border-left: 2px solid var(--mat-sys-outline-variant);
}
