/.angular/cache
/config/autoload/local.php
/config/autoload/development.local.php
/config/autoload/dilps.local.php
/config/autoload/tiresias.local.php
/config/development.config.php
/data/cache/
/data/dump/
/data/images/
/data/file/
!/data/file/4k123pkopvs3iDFV948abcde.pdf
/data/tmp/
!/data/images/dw4jV3zYSPsqE2CB8BcP8ABD0.jpg
!/data/images/5da49355cbcff.jpeg
/htdocs/export/
/htdocs/news-images/
/htdocs/*.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/htdocs/*.woff
/htdocs/*.woff2
/htdocs/*.ttf
/htdocs/*.eot
/htdocs/assets
/.idea/
/.devcontainer/
/.fleet/
/out/
/logs/
/node_modules/
/phpunit.xml
/vendor/
/client/app/shared/generated-schema.graphql
/client/app/shared/generated-types.ts
/client/environments/*
!/client/environments/.gitkeep
.env
.DS_Store
*.sql
*.sql.gz

/dev/.env
supervisord.log
supervisord.pid

# keep it at the end of the file
!.gitkeep

js-sources-map.zip
/js-sources-map/
