/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/cache/
/data/dump/
/data/images/
/data/tmp/
!/data/images/dw4jV3zYSPsqE2CB8BcP8ABD0.jpg
!/data/images/5da49355cbcff.jpeg
/htdocs/news-images/
/htdocs/*.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/htdocs/*.woff
/htdocs/*.woff2
/htdocs/*.ttf
/htdocs/*.eot
/htdocs/assets
/.idea/
/out/
/logs/
/node_modules/
/phpunit.xml
/vendor/
/client/app/shared/generated-schema.graphql
/client/app/shared/generated-types.ts
.env
.DS_Store
*.sql.gz


# keep it at the end of the file
!.gitkeep
