parameters:
    level: 5
    paths:
        - bin/
        - config/
        - server/
        - tests/
    doctrine:
        repositoryClass: Application\Repository\AbstractRepository
        objectManagerLoader: tests/object-manager.php
    inferPrivatePropertyTypeFromConstructor: true
    earlyTerminatingMethodCalls:
        Application\Service\Importer:
            - throwException

    ignoreErrors:
        - '~^Call to an undefined method Application\\Repository\\.*Repository::find(One)?By.*\(\)\.$~'
        -
            message: '~^Argument of an invalid type Application\\Model\\Card supplied for foreach, only iterables are supported\.$~'
            path: server/Application/Model/Card.php
            count: 1
        -
            message: '~^If condition is always true\.$~'
            path: server/Application/Model/Dating.php
            count: 1

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
