parameters:
    level: 5
    paths:
        - bin/
        - config/
        - server/
        - tests/
    doctrine:
        repositoryClass: Application\Repository\AbstractRepository
        objectManagerLoader: tests/object-manager.php
    inferPrivatePropertyTypeFromConstructor: true
    earlyTerminatingMethodCalls:
        Application\Service\Importer:
            - throwException

    ignoreErrors:
        -
            message: '~^Argument of an invalid type Application\\Model\\Card supplied for foreach, only iterables are supported\.$~'
            path: server/Application/Model/Card.php
            count: 1

        # Tolerate a permissive model, but strict DB
        - '~^Property Application\\Model\\.*\:\:\$.* type mapping mismatch\: property can contain Application\\Model\\.*\|null but database expects Application\\Model\\.*\.$~'

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
