@use "sass:map";
@use '~@angular/material' as mat;
@use '../components.theme';

$primary: mat.define-palette(mat.$cyan-palette);
$accent: mat.define-palette(mat.$orange-palette);
$warn: mat.define-palette(mat.$red-palette);

.dilps-development {
    $theme-light: mat.define-light-theme($primary, $accent, $warn);
    color: mat.get-color-from-palette(map.get($theme-light, foreground), base);
    @include mat.all-component-themes($theme-light);
    @include components.components-theme($theme-light);
}

.dilps-development-dark {
    $theme-dark: mat.define-dark-theme($primary, $accent, $warn);
    color: mat.get-color-from-palette(map.get($theme-dark, foreground), base);
    @include mat.all-component-themes($theme-dark);
    @include components.components-theme($theme-dark);
}
