@use 'sass:map';
@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$cyan-palette);
$accent: mat.define-palette(mat.$orange-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

$theme-dark: mat.define-dark-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);
