@use 'sass:map';
@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: rgba(white, 0.87);

$mat-tiresias: (
    50: #f9edee,
    100: #f1d3d4,
    200: #d9a5a1,
    300: #c8857e,
    400: #cf6f61,
    500: #d1674e,
    600: #c35f4b,
    700: #b15645,
    800: #a35140,
    900: #914a3a,
    A100: #d9a5a1,
    A200: #c8857e,
    A400: #cf6f61,
    A700: #d1674e,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: white,
        600: white,
        700: white,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: white,
        A400: white,
        A700: white,
    ),
);

$primary: mat.m2-define-palette($mat-tiresias);
$accent: mat.m2-define-palette(mat.$m2-blue-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme-light: mat.m2-define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

$theme-dark: mat.m2-define-dark-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);
