@use 'sass:map';
@use '~@angular/material' as mat;
@use '../components.theme';

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: rgba(white, 0.87);

$mat-tiresias: (
    50: #f9edee,
    100: #f1d3d4,
    200: #d9a5a1,
    300: #c8857e,
    400: #cf6f61,
    500: #d1674e,
    600: #c35f4b,
    700: #b15645,
    800: #a35140,
    900: #914a3a,
    A100: #d9a5a1,
    A200: #c8857e,
    A400: #cf6f61,
    A700: #d1674e,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: white,
        600: white,
        700: white,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: white,
        A400: white,
        A700: white,
    ),
);

$primary: mat.define-palette($mat-tiresias);
$accent: mat.define-palette(mat.$blue-palette);
$warn: mat.define-palette(mat.$red-palette);

.tiresias-production {
    $theme-light: mat.define-light-theme($primary, $accent, $warn);
    color: mat.get-color-from-palette(map.get($theme-light, foreground), base);
    @include mat.all-component-themes($theme-light);
    @include components.components-theme($theme-light);
}

.tiresias-production-dark {
    $theme-dark: mat.define-dark-theme($primary, $accent, $warn);
    color: mat.get-color-from-palette(map.get($theme-dark, foreground), base);
    @include mat.all-component-themes($theme-dark);
    @include components.components-theme($theme-dark);
}
