@use 'sass:map';
@use '@angular/material' as mat;
@use '../components.theme';

$primary: mat.define-palette(mat.$deep-orange-palette);
$accent: mat.define-palette(mat.$blue-palette);
$warn: mat.define-palette(mat.$red-palette);

.tiresias-staging {
    $theme-light: mat.define-light-theme(
        (
            color: (
                primary: $primary,
                accent: $accent,
                warn: $warn,
            ),
        )
    );
    color: mat.get-color-from-palette(map.get($theme-light, foreground), base);
    @include mat.all-component-colors($theme-light);
    @include components.components-theme($theme-light);
}

.tiresias-staging-dark {
    $theme-dark: mat.define-dark-theme(
        (
            color: (
                primary: $primary,
                accent: $accent,
                warn: $warn,
            ),
        )
    );
    color: mat.get-color-from-palette(map.get($theme-dark, foreground), base);
    @include mat.all-component-colors($theme-dark);
    @include components.components-theme($theme-dark);
}
