@use 'sass:map';
@use '~@angular/material' as mat;
@mixin table($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    mat-table {
        mat-cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        mat-row {
            align-items: stretch;
            &:hover {
                background: mat.get-color-from-palette($background, hover);
            }
        }

        mat-header-row {
            background: mat.get-color-from-palette($background, app-bar);
        }
    }
}
