/**
 * !!! NEVER INCLUDE THIS FILE IN A SCSS FILE
 * See source doc here https://github.com/angular/material2/tree/master/src/lib/core/theming
 */
// Import theming files full relative way or karma will display warning
@use '@angular/material' as mat;
@use 'sass:meta';
@use 'sass:map';
@use 'typography';
@use 'components';
@use 'themes/dilps-production';
@use 'themes/dilps-development';
@use 'themes/dilps-staging';
@use 'themes/tiresias-production';
@use 'themes/tiresias-development';
@use 'themes/tiresias-staging';

@mixin applyTheme($theme) {
    $foreground: map.get($theme, foreground);
    color: mat.m2-get-color-from-palette($foreground, text);

    @include mat.autocomplete-color($theme);
    @include mat.button-color($theme);
    @include mat.button-toggle-color($theme);
    @include mat.checkbox-color($theme);
    @include mat.chips-color($theme);
    @include mat.core-color($theme);
    @include mat.datepicker-color($theme);
    @include mat.dialog-color($theme);
    @include mat.divider-color($theme);
    @include mat.expansion-color($theme);
    @include mat.fab-color($theme);
    @include mat.form-field-color($theme);
    @include mat.grid-list-color($theme);
    @include mat.icon-color($theme);
    @include mat.icon-button-color($theme);
    @include mat.input-color($theme);
    @include mat.list-color($theme);
    @include mat.menu-color($theme);
    @include mat.paginator-color($theme);
    @include mat.progress-spinner-color($theme);
    @include mat.select-color($theme);
    @include mat.sidenav-color($theme);
    @include mat.slide-toggle-color($theme);
    @include mat.slider-color($theme);
    @include mat.snack-bar-color($theme);
    @include mat.sort-color($theme);
    @include mat.table-color($theme);
    @include mat.tabs-color($theme);
    @include mat.toolbar-color($theme);
    @include mat.tooltip-color($theme);
    @include mat.tree-color($theme);

    @include components.components-theme($theme);
}

// Include Material bases, densities, typographies and core (only once !)
// Only 31 modules used on a total of 37 modules

// This fake theme is only use to tell Material we use Material v2, and not v3. Colors are never used.
$fake-material-v2-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
            accent: mat.m2-define-palette(mat.$m2-indigo-palette),
        ),
    )
);

@include mat.autocomplete-base($fake-material-v2-theme);
@include mat.button-base($fake-material-v2-theme);
@include mat.button-toggle-base($fake-material-v2-theme);
@include mat.checkbox-base($fake-material-v2-theme);
@include mat.chips-base($fake-material-v2-theme);
@include mat.core-base($fake-material-v2-theme);
@include mat.datepicker-base($fake-material-v2-theme);
@include mat.dialog-base($fake-material-v2-theme);
@include mat.divider-base($fake-material-v2-theme);
@include mat.expansion-base($fake-material-v2-theme);
@include mat.fab-base($fake-material-v2-theme);
@include mat.form-field-base($fake-material-v2-theme);
@include mat.grid-list-base($fake-material-v2-theme);
@include mat.icon-base($fake-material-v2-theme);
@include mat.icon-button-base($fake-material-v2-theme);
@include mat.input-base($fake-material-v2-theme);
@include mat.list-base($fake-material-v2-theme);
@include mat.menu-base($fake-material-v2-theme);
@include mat.paginator-base($fake-material-v2-theme);
@include mat.progress-spinner-base($fake-material-v2-theme);
@include mat.select-base($fake-material-v2-theme);
@include mat.sidenav-base($fake-material-v2-theme);
@include mat.slide-toggle-base($fake-material-v2-theme);
@include mat.slider-base($fake-material-v2-theme);
@include mat.snack-bar-base($fake-material-v2-theme);
@include mat.sort-base($fake-material-v2-theme);
@include mat.table-base($fake-material-v2-theme);
@include mat.tabs-base($fake-material-v2-theme);
@include mat.toolbar-base($fake-material-v2-theme);
@include mat.tooltip-base($fake-material-v2-theme);
@include mat.tree-base($fake-material-v2-theme);

@include mat.autocomplete-density(0);
@include mat.button-density(0);
@include mat.button-toggle-density(0);
@include mat.checkbox-density(0);
@include mat.chips-density(0);
@include mat.core-density(0);
@include mat.datepicker-density(0);
@include mat.dialog-density(0);
@include mat.divider-density(0);
@include mat.expansion-density(0);
@include mat.fab-density(0);
@include mat.form-field-density(0);
@include mat.grid-list-density(0);
@include mat.icon-density(0);
@include mat.icon-button-density(0);
@include mat.input-density(0);
@include mat.list-density(0);
@include mat.menu-density(0);
@include mat.paginator-density(0);
@include mat.progress-spinner-density(0);
@include mat.select-density(0);
@include mat.sidenav-density(0);
@include mat.slide-toggle-density(0);
@include mat.slider-density(0);
@include mat.snack-bar-density(0);
@include mat.sort-density(0);
@include mat.table-density(0);
@include mat.tabs-density(0);
@include mat.toolbar-density(0);
@include mat.tooltip-density(0);
@include mat.tree-density(0);

@include mat.typography-hierarchy(typography.$custom-typography-gt-sm);
@include mat.autocomplete-typography(typography.$custom-typography-gt-sm);
@include mat.button-typography(typography.$custom-typography-gt-sm);
@include mat.button-toggle-typography(typography.$custom-typography-gt-sm);
@include mat.checkbox-typography(typography.$custom-typography-gt-sm);
@include mat.chips-typography(typography.$custom-typography-gt-sm);
@include mat.core-typography(typography.$custom-typography-gt-sm);
@include mat.datepicker-typography(typography.$custom-typography-gt-sm);
@include mat.dialog-typography(typography.$custom-typography-gt-sm);
@include mat.divider-typography(typography.$custom-typography-gt-sm);
@include mat.expansion-typography(typography.$custom-typography-gt-sm);
@include mat.fab-typography(typography.$custom-typography-gt-sm);
@include mat.form-field-typography(typography.$custom-typography-gt-sm);
@include mat.grid-list-typography(typography.$custom-typography-gt-sm);
@include mat.icon-typography(typography.$custom-typography-gt-sm);
@include mat.icon-button-typography(typography.$custom-typography-gt-sm);
@include mat.input-typography(typography.$custom-typography-gt-sm);
@include mat.list-typography(typography.$custom-typography-gt-sm);
@include mat.menu-typography(typography.$custom-typography-gt-sm);
@include mat.paginator-typography(typography.$custom-typography-gt-sm);
@include mat.progress-spinner-typography(typography.$custom-typography-gt-sm);
@include mat.select-typography(typography.$custom-typography-gt-sm);
@include mat.sidenav-typography(typography.$custom-typography-gt-sm);
@include mat.slide-toggle-typography(typography.$custom-typography-gt-sm);
@include mat.slider-typography(typography.$custom-typography-gt-sm);
@include mat.snack-bar-typography(typography.$custom-typography-gt-sm);
@include mat.sort-typography(typography.$custom-typography-gt-sm);
@include mat.table-typography(typography.$custom-typography-gt-sm);
@include mat.tabs-typography(typography.$custom-typography-gt-sm);
@include mat.toolbar-typography(typography.$custom-typography-gt-sm);
@include mat.tooltip-typography(typography.$custom-typography-gt-sm);
@include mat.tree-typography(typography.$custom-typography-gt-sm);

@include mat.elevation-classes();
@include mat.app-background();

.dilps-production {
    @include applyTheme(dilps-production.$theme-light);
}

.dilps-production-dark {
    @include applyTheme(dilps-production.$theme-dark);
}

.dilps-development {
    @include applyTheme(dilps-development.$theme-light);
}

.dilps-development-dark {
    @include applyTheme(dilps-development.$theme-dark);
}

.dilps-staging {
    @include applyTheme(dilps-staging.$theme-light);
}

.dilps-staging-dark {
    @include applyTheme(dilps-staging.$theme-dark);
}

.tiresias-production {
    @include applyTheme(tiresias-production.$theme-light);
}

.tiresias-production-dark {
    @include applyTheme(tiresias-production.$theme-dark);
}

.tiresias-development {
    @include applyTheme(tiresias-development.$theme-light);
}

.tiresias-development-dark {
    @include applyTheme(tiresias-development.$theme-dark);
}

.tiresias-staging {
    @include applyTheme(tiresias-staging.$theme-light);
}

.tiresias-staging-dark {
    @include applyTheme(tiresias-staging.$theme-dark);
}
