@use '@angular/material' as mat;

$defaultConfig: mat.m2-define-typography-config();

// This is the default Material typography, but:
// - with Quicksand as first choice of font
// - with button with normal letter-spacing instead of wider letter-spacing.
$custom-typography-gt-sm: mat.m2-define-typography-config(
    $font-family: 'Quicksand, Roboto, "Helvetica Neue", sans-serif',
    $button:
        mat.m2-define-typography-level(
            $font-family: 'Quicksand, Roboto, "Helvetica Neue", sans-serif',
            $font-weight: mat.m2-font-weight($defaultConfig, 'button'),
            $font-size: mat.m2-font-size($defaultConfig, 'button'),
            $line-height: mat.m2-line-height($defaultConfig, 'button'),
            $letter-spacing: normal,
        ),
);
