@use '~@angular/material' as mat;
@mixin upload($theme) {
    $primary: map-get($theme, primary);

    [naturalFileDrop] {
        position: relative;
    }

    .app-file-drag-n-drop-overlay {
        display: none;
    }

    .natural-file-over > .app-file-drag-n-drop-overlay {
        position: absolute;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: mat.get-color-from-palette($primary, 0.9);
        color: mat.get-color-from-palette($primary, default-contrast);
        font-size: 5vw;
        line-height: 1.3em;
        text-align: center;
    }
}
