/**
   * fxLayoutAlign="center start" fxLayout="column"
   * Center content, but cause bug when there is scroll, the top of the content is **LOST**
   * This CSS fix this issue
   * Make sure you added the class contered-content to child element in html markup
   */
@mixin centerContent {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    .centered-content {
        margin: auto;
    }
}

@mixin fixedToolbar() {
    .containerWithToolbar {
        position: relative;
        min-height: 0;

        .scrollable:not(perfect-scrollbar) {
            padding-top: 64px;
            overflow-y: auto;
        }

        .scrolled {
            margin-top: 64px;
        }

        mat-toolbar {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
        }
    }
}
