<h2 mat-dialog-title>{{ isUpdatePage() ? 'Modifier le mot-clé' : 'Créer un mot-clé' }}</h2>

<mat-dialog-content>
    <div class="nat-padding-vertical nat-gap-10 nat-vertical">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput [readonly]="isUpdatePage() && !data.item.permissions.update" [(ngModel)]="data.item.name" />
        </mat-form-field>

        <natural-select-hierarchic
            placeholder="Mot-clé parent"
            [config]="hierarchicConfig"
            [filters]="ancestorsHierarchicFilters"
            [showIcon]="false"
            [disabled]="isUpdatePage() && !data.item.permissions.update"
            [(ngModel)]="data.item.parent"
        />
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.tag?.create"
        [canDelete]="data.item.canDelete"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
