@use 'sass:map';
@use '@angular/material' as mat;
@mixin alert($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    .mat-mdc-snack-bar-container {
        margin-top: 10px;
    }

    .snackbar-error {
        background-color: mat.m2-get-color-from-palette($warn) !important;
        color: mat.m2-get-color-from-palette($warn, default-contrast) !important;
    }
}
