<perfect-scrollbar #scrollable>

    <div class="padding scrolled">

        <div *ngFor="let item of cards" class="line">

            <div class="image-wrapper">
                <div class="image" [ngStyle]="{'background-image': 'url(/image/'+ item.id + '/200)'}"></div>
            </div>

            <div class="line-body">
                <div>{{ item.name }}</div>
                <div>{{ item.expandedName }}</div>
                <a mat-flat-button [routerLink]="['/card', item.id]">Voir fiche</a>
            </div>
            <div>
                <mat-checkbox (change)="$event ? selectionModel.toggle(item) : null"
                              (click)="$event.stopPropagation()"
                              [checked]="selectionModel.isSelected(item)"
                ></mat-checkbox>
            </div>
        </div>

        <mat-paginator *ngIf="dataSource.data?.length"
                       [length]="dataSource.data?.length"
                       [pageSize]="dataSource.data?.pageSize"
                       [pageIndex]="dataSource.data?.pageIndex"
                       [pageSizeOptions]="[5, 10, 20, 50]"
                       (page)="loadMore($event)"
        ></mat-paginator>

    </div>

</perfect-scrollbar>
