<div class="scrollable">
    @if (dataSource) {
        <div class="scrolled">
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="[5, 10, 20, 50]"
                    [pageSize]="dataSource.data?.pageSize"
                    [showFirstLastButtons]="true"
                    (page)="loadMore($event)"
                />
            }
            @for (item of cards; track item) {
                <div class="line">
                    <div class="image-wrapper">
                        <a
                            class="image"
                            [routerLink]="['/card', item.id]"
                            [ngStyle]="{'background-image': 'url(' + CardService.getImageLink(item, 300) + ')'}"
                        ></a>
                    </div>
                    <div class="line-body">
                        <div class="line-body-table">
                            @if (item.site === Site.tiresias) {
                                @if (item.code) {
                                    <div>
                                        <div>Référence</div>
                                        <div>{{ item.code }}</div>
                                    </div>
                                }
                            }
                            <div>
                                <div>Titre</div>
                                <div [innerHTML]="item.name | truncate: ['250', '...']"></div>
                            </div>
                            @if (item.site === Site.dilps) {
                                @if (item.expandedName && (item.name | stripTags) !== (item.expandedName | stripTags)) {
                                    <div>
                                        <div>Titre étendu</div>
                                        <div [innerHTML]="item.expandedName | truncate: ['250', '...']"></div>
                                    </div>
                                }
                                @if (item.artists.length) {
                                    <div>
                                        <div>Artistes</div>
                                        <div>
                                            @for (artist of item.artists; track artist) {
                                                <div>{{ artist.name }}</div>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (item.addition) {
                                    <div>
                                        <div>Supplément</div>
                                        <div>{{ item.addition | truncate: ['250', '...'] }}</div>
                                    </div>
                                }
                            }
                            @if (item.site === Site.tiresias) {
                                @if (item.tags.length) {
                                    <div>
                                        <div>Mots clés</div>
                                        <div>
                                            @for (tag of item.tags | onlyLeaves; track tag) {
                                                <div>{{ tag.hierarchicName }}</div>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (item.periods.length) {
                                    <div>
                                        <div>Périodes</div>
                                        <div>
                                            @for (period of item.periods; track period) {
                                                <div>{{ period.hierarchicName }}</div>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (item.from || item.to) {
                                    <div>
                                        <div>Datation</div>
                                        <div>De {{ item.from }} jusqu'à {{ item.to }}</div>
                                    </div>
                                }
                            }
                            @if (item.dating) {
                                <div>
                                    @if (item.site === Site.dilps) {
                                        <div>Datation</div>
                                    }
                                    @if (item.site === Site.tiresias) {
                                        <div>Date (Datation)</div>
                                    }
                                    <div>{{ item.dating }}</div>
                                </div>
                            }
                            @if (item.domains.length) {
                                <div>
                                    <div>Domaines</div>
                                    <div>
                                        @for (domain of item.domains | onlyLeaves; track domain) {
                                            <div>
                                                {{ domain.hierarchicName }}
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (item.materials.length || item.material) {
                                <div>
                                    @if (item.site === Site.dilps) {
                                        <div>Technique & matériel</div>
                                    }
                                    @if (item.site === Site.tiresias) {
                                        <div>Matériel (Matériaux)</div>
                                    }
                                    <div>
                                        @for (material of item.materials | onlyLeaves; track material) {
                                            <div>
                                                {{ material.hierarchicName }}
                                            </div>
                                        }
                                        <div>{{ item.material }}</div>
                                    </div>
                                </div>
                            }
                            @if (item.site === Site.dilps && (item.format || item.documentSize)) {
                                <div>
                                    <div>Dimensions</div>
                                    <div>{{ item.format || item.documentSize }}</div>
                                </div>
                            }
                            @if (item.institution?.name) {
                                <div>
                                    @if (item.site === Site.dilps) {
                                        <div>Lieu</div>
                                    }
                                    @if (item.site === Site.tiresias) {
                                        <div>Lieu (Musée)</div>
                                    }
                                    <div>{{ item.institution?.name }}<br /></div>
                                </div>
                            }
                            @if (item.street || item.locality || item.country?.name) {
                                <div>
                                    <div>Adresse</div>
                                    <div>
                                        {{ getCardAddress(item) }}
                                    </div>
                                </div>
                            }
                            @if (item.literature) {
                                <div>
                                    @if (item.site === Site.dilps) {
                                        <div>Référence de l'image</div>
                                    }
                                    @if (item.site === Site.tiresias) {
                                        <div>Source (référence de l'image)</div>
                                    }
                                    <div [innerHTML]="item.literature | truncate: ['250', '...']"></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div>
                        <mat-checkbox
                            [checked]="selectionModel.isSelected(item)"
                            (change)="$event ? selectionModel.toggle(item) : null"
                            (click)="$event.stopPropagation()"
                        />
                    </div>
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="[5, 10, 20, 50]"
                    [pageSize]="dataSource.data?.pageSize"
                    [showFirstLastButtons]="true"
                    (page)="loadMore($event)"
                />
            }
        </div>
    }
</div>
