@use '@angular/material' as mat;
@use '@ecodev/natural-layout' as nat;

$image-size: 240px;

:host {
    display: block;
}

.content {
    margin-inline: auto;
    max-width: 1130px;
}

mat-paginator {
    @include mat.paginator-overrides(
        (
            container-background-color: var(--mat-sys-surface-container-lowest),
        )
    );

    border-radius: var(--mat-sys-corner-medium);
}

.line {
    display: grid;
    grid-template-columns: $image-size minmax(0, 1fr) auto;
    align-items: start;
    transition: background-color 150ms;
    border-radius: var(--mat-sys-corner-medium);
    background: var(--mat-sys-surface-container-lowest);

    &:hover {
        background: var(--mat-sys-surface-container-highest);
    }

    &.selected {
        background: var(--mat-sys-secondary-container);
        color: var(--mat-sys-on-secondary-container);

        @supports (background: color-mix(in srgb, blue, red)) {
            &:hover {
                background: color-mix(
                    in srgb,
                    var(--mat-sys-on-secondary-container) calc(var(--mat-sys-hover-state-layer-opacity) * 100%),
                    var(--mat-sys-secondary-container)
                );
            }
        }
    }
}

.image {
    display: block;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: auto;
        max-height: $image-size;
        object-fit: contain;
    }

    app-historic-icon {
        position: absolute;
        top: 4px;
        left: 4px;
        height: 15px;
    }
}

.metadata {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    align-items: baseline;
    margin: 0;
    overflow-wrap: anywhere;

    dd {
        margin: 0;
    }

    .untitled {
        font-style: italic;
    }

    .secondary {
        margin-top: var(--natural-default-spacing);

        &:is(dd) {
            color: var(--mat-sys-on-surface-variant);
        }
    }
}

@include nat.media(null, md) {
    .line,
    mat-paginator {
        border-radius: var(--mat-sys-corner-none);
    }

    .line {
        grid-template-columns: minmax(0, 1fr) auto;
    }

    .image {
        grid-column: 1 / -1;
    }

    .metadata {
        grid-template-columns: minmax(0, 1fr);

        dd:not(:last-child) {
            margin-bottom: var(--natural-default-spacing);
        }
    }
}
