<div #scrollable class="scrollable">
    <div class="scrolled">
        <mat-paginator
            (page)="loadMore($event)"
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="[5, 10, 20, 50]"
            [pageSize]="dataSource.data?.pageSize"
            [showFirstLastButtons]="true"
        ></mat-paginator>

        <div *ngFor="let item of cards" class="line">
            <div class="image-wrapper">
                <a
                    [routerLink]="['/card', item.id]"
                    [ngStyle]="{'background-image': 'url(/api/image/' + item.id + '/200)'}"
                    class="image"
                ></a>
            </div>

            <div class="line-body">
                <div class="line-body-table">
                    <ng-container *ngIf="item.site === Site.tiresias">
                        <div *ngIf="item.code">
                            <div>Référence</div>
                            <div>{{ item.code }}</div>
                        </div>
                    </ng-container>

                    <div>
                        <div>Titre</div>
                        <div [innerHTML]="item.name | truncate: ['250', '...']"></div>
                    </div>

                    <ng-container *ngIf="item.site === Site.dilps">
                        <div *ngIf="item.expandedName && (item.name | stripTags) !== (item.expandedName | stripTags)">
                            <div>Titre étendu</div>
                            <div [innerHTML]="item.expandedName | truncate: ['250', '...']"></div>
                        </div>

                        <div *ngIf="item.artists?.length">
                            <div>Artistes</div>
                            <div>
                                <div *ngFor="let artist of item.artists">{{ artist.name }}</div>
                            </div>
                        </div>

                        <div *ngIf="item.addition">
                            <div>Supplément</div>
                            <div>{{ item.addition | truncate: ['250', '...'] }}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="item.site === Site.tiresias">
                        <div *ngIf="item.tags?.length">
                            <div>Mots clés</div>
                            <div>
                                <div *ngFor="let tag of item.tags | onlyLeaves">{{ tag.hierarchicName }}</div>
                            </div>
                        </div>

                        <div *ngIf="item.periods?.length">
                            <div>Périodes</div>
                            <div>
                                <div *ngFor="let period of item.periods">{{ period.hierarchicName }}</div>
                            </div>
                        </div>

                        <div *ngIf="item.from || item.to">
                            <div>Datation</div>
                            <div>De {{ item.from }} jusqu'à {{ item.to }}</div>
                        </div>
                    </ng-container>

                    <div *ngIf="item.dating">
                        <div>Date (Datation)</div>
                        <div>{{ item.dating }}</div>
                    </div>

                    <div *ngIf="item.domains.length || item.technique">
                        <div>Technique (Domaine)</div>
                        <div>
                            <div *ngFor="let domain of item.domains | onlyLeaves">
                                {{ domain.hierarchicName }}
                            </div>
                            <div>{{ item.technique }}</div>
                        </div>
                    </div>

                    <div *ngIf="item.materials?.length || item.material">
                        <div>Matériel (Matériaux)</div>
                        <div>
                            <div *ngFor="let material of item.materials | onlyLeaves">
                                {{ material.hierarchicName }}
                            </div>
                            <div>{{ item.material }}</div>
                        </div>
                    </div>

                    <div *ngIf="item.site === Site.dilps && (item.format || item.documentSize)">
                        <div>Dimensions</div>
                        <div>{{ item.format || item.documentSize }}</div>
                    </div>

                    <div *ngIf="item.institution?.name">
                        <div>Lieu (Musée)</div>
                        <div>
                            {{ item.institution?.name }}<br />
                            {{ getAddress(item.institution) }}
                        </div>
                    </div>

                    <div *ngIf="item.literature">
                        <div>Source (référence de l'image)</div>
                        <div [innerHTML]="item.literature | truncate: ['250', '...']"></div>
                    </div>
                </div>
            </div>

            <div>
                <mat-checkbox
                    (change)="$event ? selectionModel.toggle(item) : null"
                    (click)="$event.stopPropagation()"
                    [checked]="selectionModel.isSelected(item)"
                ></mat-checkbox>
            </div>
        </div>

        <mat-paginator
            (page)="loadMore($event)"
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="[5, 10, 20, 50]"
            [pageSize]="dataSource.data?.pageSize"
            [showFirstLastButtons]="true"
        ></mat-paginator>
    </div>
</div>
