<mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <app-logo [data]="{type: 'toolbar', class: 'logo'}"></app-logo>

    <natural-search
        (selectionChange)="search($event)"
        [facets]="naturalSearchFacets"
        [multipleGroups]="false"
        [selections]="naturalSearchSelections"
        fxFlex
    />
</mat-toolbar>

<div class="padding padding-fab">
    <div class="margin-bottom" fxLayout="row wrap" fxLayoutAlign="start center">
        <div [routerLink]="getChildLink(null)" class="mat-headline-5 no-margin">Matériaux</div>
        <div fxLayout="row wrap">
            <a *ngFor="let item of breadcrumbs" [routerLink]="getChildLink(item)" class="no-padding" mat-button>
                <mat-icon naturalIcon="chevron_right"></mat-icon>
                <span>{{ item.name }}</span>
            </a>
        </div>
    </div>

    <div [fxShow]="showTable()" class="responsive-table">
        <table (matSortChange)="sorting([$event])" [dataSource]="dataSource" mat-table matSort>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

            <ng-container matColumnDef="navigation">
                <th *matHeaderCellDef mat-header-cell natural-3em-column></th>
                <td *matCellDef="let element" mat-cell>
                    <natural-table-button
                        *ngIf="element.hasNavigation"
                        [navigate]="getChildLink(element.item)"
                        icon="chevron_right"
                        matTooltip="Déployer"
                    ></natural-table-button>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                <td *matCellDef="let element" mat-cell>
                    <app-table-button
                        (click)="edit(element.item)"
                        [label]="element.item.name"
                        icon="edit"
                        matTooltip="Éditer"
                    ></app-table-button>
                </td>
            </ng-container>

            <ng-container matColumnDef="usageCount">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre de fiches</th>
                <td *matCellDef="let element" mat-cell>{{ element.item.usageCount }}</td>
            </ng-container>
        </table>
    </div>

    <div *ngIf="showNoResults()" class="margin-v" fxLayout="column" fxLayoutAlign="center center" i18n>
        Pas de résultats
    </div>
    <div *ngIf="!dataSource?.data" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>
    <mat-paginator
        (page)="pagination($event)"
        *ngIf="dataSource.data?.length"
        [length]="dataSource.data?.length"
        [pageIndex]="dataSource.data?.pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="dataSource.data?.pageSize"
    ></mat-paginator>
</div>

<natural-fixed-button (click)="add()" icon="add"></natural-fixed-button>
