app-table-button {
    display: inherit;
    flex: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

    a.mat-mdc-button {
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 0;
        padding: 0 5px;
        line-height: 27px;
        text-align: left;
        white-space: normal;
        .mdc-button__label {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > :not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}
