<div class="nat-vertical nat-lg-horizontal nat-gap-10">
    <div>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            [(update)]="chartUpdated"
            [oneToOne]="true"
            style="width: 100%; height: 400px; display: block; max-width: 600px"
        />
    </div>
    <div class="nat-vertical nat-sm-horizontal nat-gap-10">
        @for (table of tables; track table) {
            <div>
                <table mat-table [dataSource]="table.dataSource">
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell>{{ table.name }}</th>
                        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="absolute">
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let element" mat-cell style="text-align: right">{{ element.value }}</td>
                    </ng-container>

                    <ng-container matColumnDef="percent">
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let element" mat-cell style="text-align: right">
                            {{ element.percent | percent }}
                        </td>
                    </ng-container>
                </table>
            </div>
        }
    </div>
</div>
