@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin list($theme) {
    $bg: map.get($theme, background);
    $accent: map.get($theme, accent);

    $background-color: mat.m2-get-color-from-palette($bg, background);

    app-list {
        .background-selection {
            border-radius: 33px;
            background-color: color.change(mat.m2-get-color-from-palette($accent), $alpha: 1);
            padding-right: 6px;
            padding-left: 21px;
            color: mat.m2-get-color-from-palette($accent, default-contrast);
        }

        #domains-chips {
            &::before {
                background: linear-gradient(to right, $background-color, transparent);
            }

            &::after {
                background: linear-gradient(to left, $background-color, transparent);
            }
        }
    }
}
