@use 'sass:map';
@use '@angular/material' as mat;

@mixin list($theme) {
    $bg: map.get($theme, background);

    $background-color: mat.m2-get-color-from-palette($bg, background);

    app-list {
        #domains-chips {
            &::before {
                background: linear-gradient(to right, $background-color, transparent);
            }

            &::after {
                background: linear-gradient(to left, $background-color, transparent);
            }
        }
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
        border-radius: var(--mat-form-field-outlined-container-shape, 4px);
        background: mat.m2-get-color-from-palette($bg, background, 0.9);
    }
}
