<mat-menu #dilpsSortingMenu="matMenu" [overlapTrigger]="false">
    <div (click)="sorting([{active: CardSortingField.creationDate, direction: 'desc'}])" mat-menu-item>
        Date d'insertion en tête
    </div>
    <div (click)="sorting([{active: CardSortingField.updateDate, direction: 'desc'}])" mat-menu-item>
        Date de dernière édition en tête
    </div>
    <div
        (click)="sorting([{active: CardSortingField.plainName, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Titre
    </div>
    @if (site === Site.dilps) {
        <div (click)="sorting([{active: CardSortingField.artists, direction: 'asc'}])" mat-menu-item>Artistes</div>
    }
    <div
        (click)="sorting([{active: CardSortingField.dating, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Datation
    </div>
    <div
        (click)="sorting([{active: CardSortingField.dilpsDomain, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Domaine
    </div>
    <div (click)="sorting([{active: CardSortingField.institutionLocality, direction: 'asc'}])" mat-menu-item>Lieu</div>
</mat-menu>
<mat-menu #tiresiasSortingMenu="matMenu" [overlapTrigger]="false">
    <div
        (click)="sorting([{active: CardSortingField.plainName, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Titre
    </div>
    <div (click)="sorting([{active: CardSortingField.creationDate, direction: 'desc'}])" mat-menu-item>
        Date d'insertion
    </div>
    <div (click)="sorting([{active: CardSortingField.updateDate, direction: 'desc'}])" mat-menu-item>
        Date de dernière édition
    </div>
    <div
        (click)="sorting([{active: CardSortingField.dating, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Datation
    </div>
    <div (click)="sorting([{active: CardSortingField.institutionLocality, direction: 'asc'}])" mat-menu-item>Lieu</div>
    <div
        (click)="sorting([{active: CardSortingField.dilpsDomain, direction: 'asc', emptyStringAsHighest: true}])"
        mat-menu-item
    >
        Domaine
    </div>
    @if (site === Site.tiresias) {
        <div (click)="sorting([{active: CardSortingField.documentType, direction: 'asc'}])" mat-menu-item>
            Type de document
        </div>
    }
    <div (click)="sorting([{active: CardSortingField.code, direction: 'asc', nullAsHighest: true}])" mat-menu-item>
        Référence
    </div>
</mat-menu>

@if (dataSource) {
    <div class="containerWithToolbar" fxFlex fxLayout="column">
        <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            @if (showLogo) {
                <app-logo [data]="{type: 'toolbar', class: 'logo'}"></app-logo>
            }
            @if (selected.length) {
                @if (!!user) {
                    <button
                        (click)="linkSelectionToCollection(selected)"
                        mat-icon-button
                        matTooltip="Ajouter ou retirer d'une collection"
                    >
                        <mat-icon naturalIcon="library_add"></mat-icon>
                    </button>
                }
                @if (collection?.id) {
                    <button
                        (click)="unlinkFromCollection(selected)"
                        mat-icon-button
                        matTooltip="Supprimer de la collection"
                    >
                        <mat-icon svgIcon="library_remove"></mat-icon>
                    </button>
                }
                <app-export-menu
                    matTooltip="Exporter"
                    [selectedCards]="selected"
                    [showExcelExportation]="this.site !== Site.dilps"
                ></app-export-menu>
                @if (canMassEdit()) {
                    <button (click)="edit(selected)" mat-icon-button matTooltip="Editer en masse">
                        <mat-icon naturalIcon="edit"></mat-icon>
                    </button>
                }
                @if (user?.role === 'administrator') {
                    <button
                        (click)="delete(selected)"
                        color="warn"
                        mat-icon-button
                        matTooltip="Supprimer la fiche définitivement"
                    >
                        <mat-icon naturalIcon="delete_forever"></mat-icon>
                    </button>
                }
            }
            @if (!selected.length && user) {
                @if (collection?.id) {
                    <button
                        (click)="linkCollectionToCollection(collection!)"
                        mat-icon-button
                        matTooltip="Ajouter la collection à une autre collection"
                    >
                        <mat-icon naturalIcon="library_add"></mat-icon>
                    </button>
                }
                @if (showDownloadCollection) {
                    <app-export-menu
                        [collection]="collection"
                        [showExcelExportation]="this.site !== Site.dilps"
                    ></app-export-menu>
                }
            }
            <natural-search
                (selectionChange)="search($event)"
                [facets]="naturalSearchFacets"
                [selections]="naturalSearchSelections"
                dropdownTitle="Recherche approfondie"
                class="searchField"
                fxFlex
                fxFlexAlign="start"
            />
            @if (viewMode !== ViewMode.grid) {
                <button (click)="setViewMode(ViewMode.grid)" mat-icon-button matTooltip="Affichage Mosaïque">
                    <mat-icon naturalIcon="view_compact"></mat-icon>
                </button>
            }
            @if (viewMode !== ViewMode.list) {
                <button (click)="setViewMode(ViewMode.list)" mat-icon-button matTooltip="Affichage Liste">
                    <mat-icon naturalIcon="view_list"></mat-icon>
                </button>
            }
            @if (site === Site.tiresias && selected.length && viewMode !== ViewMode.map) {
                <button (click)="setViewMode(ViewMode.map)" mat-icon-button matTooltip="Affichage Carte">
                    <mat-icon naturalIcon="map"></mat-icon>
                </button>
            }
            <button
                [matMenuTriggerFor]="site === Site.dilps ? dilpsSortingMenu : tiresiasSortingMenu"
                mat-icon-button
                matTooltip="Trier"
            >
                <mat-icon svgIcon="sort_asc"></mat-icon>
            </button>
            @if (viewMode === ViewMode.grid) {
                <button
                    (click)="toggleLabels()"
                    mat-icon-button
                    [matTooltip]="showLabels ? 'Masquer les légendes' : 'Afficher les légendes'"
                >
                    @if (!showLabels) {
                        <mat-icon naturalIcon="font_download"></mat-icon>
                    }
                    @if (showLabels) {
                        <mat-icon naturalIcon="font_download_off"></mat-icon>
                    }
                </button>
            }
            @if (selected.length) {
                <button (click)="unselectAll()" mat-icon-button matTooltip="Désélectionner tout">
                    <mat-icon naturalIcon="deselect"></mat-icon>
                </button>
            }
            @if (!selected.length) {
                <button (click)="selectAll()" mat-icon-button matTooltip="Sélectionner les images visibles">
                    <mat-icon svgIcon="select_all_mark"></mat-icon>
                </button>
            }
            @if (selected.length) {
                @if (!!user && site === Site.dilps) {
                    <button (click)="goToQuizz(selected)" mat-icon-button matTooltip="Lecture d'oeuvre">
                        <mat-icon svgIcon="cards_game"></mat-icon>
                    </button>
                }
            }
            @if (!selected.length && user) {
                @if (site === Site.dilps) {
                    <button (click)="goToQuizz()" mat-icon-button matTooltip="Lecture d'oeuvre">
                        <mat-icon svgIcon="cards_game"></mat-icon>
                    </button>
                }
            }
            @if (viewMode === ViewMode.grid) {
                <div>
                    <mat-chip-set>
                        <mat-chip>{{ gridNumberVisibleItems }}/{{ gridNumberTotalItems }}</mat-chip>
                    </mat-chip-set>
                </div>
            }
        </mat-toolbar>
        @if (this.dataSource.data?.length === 0) {
            <div class="empty-result">
                <div>
                    <p>Aucun élément ne correspond aux termes recherchés.</p>
                    <p>Essayez de :</p>
                    <ul>
                        <li>Vérifier l’orthographe, en cas de doute, écrire seulement une partie du mot.</li>
                        <li>Simplifier la recherche.</li>
                        <li>Mettre entre guillemets pour rechercher un mot ou une expression précise.</li>
                        <li>Enlever virgules, déterminants, prépositions, ...</li>
                        <li>Utiliser la “Recherche approfondie“ pour préciser votre requête.</li>
                    </ul>
                </div>
            </div>
        } @else {
            @if (viewMode === ViewMode.grid) {
                <app-view-grid
                    (pagination)="pagination($event)"
                    (selectionChange)="select($event)"
                    (contentChange)="gridContentChange($event)"
                    [dataSource]="dataSource"
                    [selected]="selected"
                    [style.height]="'100%'"
                ></app-view-grid>
            }
            @if (viewMode === ViewMode.list) {
                <app-view-list
                    (pagination)="pagination($event)"
                    (selectionChange)="select($event)"
                    [dataSource]="dataSource"
                    [selected]="selected"
                    [style.height]="'100%'"
                ></app-view-list>
            }
            @if (viewMode === ViewMode.map) {
                <app-view-map
                    [cards]="selected"
                    [style.height]="'100%'"
                    (searchByLocation)="searchByLocation($event)"
                ></app-view-map>
            }
        }
    </div>
}
