@use '../../styles/utils';

:host {
    display: flex;
    flex-direction: column;
    @include utils.fixedToolbar();
}
app-view-grid {
    position: relative;
    z-index: 9;
}

.empty-result {
    margin: 100px auto;
}
#domains-chips {
    display: block;
    position: relative;
    top: 64px;
    z-index: 10;
    padding-inline: 8px;
}
