@use '../../styles/utils';

:host {
    --mat-toolbar-standard-height: 69px;
    display: flex;
    flex-direction: column;
    @include utils.fixedToolbar();
}

app-view-grid {
    position: relative;
    z-index: 9;
}

.empty-result {
    margin: 100px auto;
}

#domains-chips {
    display: block;
    position: absolute;
    top: 69px;
    right: 15px; // Keep a space for the gallery scrollbar.
    left: 0;
    z-index: 10;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
}

.chip-infos {
    display: flex;
    gap: 8px;

    app-historic-icon {
        height: 20px;
    }
}

natural-search {
    margin-top: 6px;
}
