<mat-menu #sortingMenu="matMenu" [overlapTrigger]="false">
    <div (click)="sorting([{active: CardSortingField.plainName, direction: 'asc', nullAsHighest: true}])" mat-menu-item>
        Titre
    </div>
    <div (click)="sorting([{active: CardSortingField.creationDate, direction: 'desc'}])" mat-menu-item>
        Date d'insertion <span *ngIf="site === Site.dilps">en tête</span>
    </div>
    <div (click)="sorting([{active: CardSortingField.updateDate, direction: 'desc'}])" mat-menu-item>
        Date de dernière édition <span *ngIf="site === Site.dilps">en tête</span>
    </div>
    <div (click)="sorting([{active: CardSortingField.dating, direction: 'asc'}])" mat-menu-item>Datation</div>
    <div (click)="sorting([{active: CardSortingField.locality, direction: 'asc'}])" mat-menu-item>Lieu</div>
    <div (click)="sorting([{active: CardSortingField.documentType, direction: 'asc'}])" mat-menu-item>
        Type de document
    </div>
    <div
        (click)="sorting([{active: CardSortingField.artists, direction: 'asc'}])"
        mat-menu-item
        *ngIf="site === Site.dilps"
    >
        Artistes
    </div>
    <div
        (click)="sorting([{active: CardSortingField.code, direction: 'asc', nullAsHighest: true}])"
        mat-menu-item
        *ngIf="site === Site.tiresias"
    >
        Référence
    </div>
</mat-menu>

<div *ngIf="dataSource" class="containerWithToolbar" fxFlex fxLayout="column">
    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <app-logo *ngIf="showLogo" [data]="{type: 'toolbar', class: 'logo'}"></app-logo>

        <button
            (click)="setViewMode(ViewMode.grid)"
            *ngIf="viewMode !== ViewMode.grid"
            mat-icon-button
            matTooltip="Grille"
        >
            <mat-icon naturalIcon="view_compact"></mat-icon>
        </button>

        <button
            (click)="setViewMode(ViewMode.list)"
            *ngIf="viewMode !== ViewMode.list"
            mat-icon-button
            matTooltip="Liste"
        >
            <mat-icon naturalIcon="view_list"></mat-icon>
        </button>

        <button
            (click)="setViewMode(ViewMode.map)"
            *ngIf="selected?.length && viewMode !== ViewMode.map"
            mat-icon-button
            matTooltip="Carte"
        >
            <mat-icon naturalIcon="map"></mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <natural-search
                (selectionChange)="search($event)"
                [facets]="naturalSearchFacets"
                [selections]="naturalSearchSelections"
                class="searchField"
                fxFlex
            />
            <button [matMenuTriggerFor]="sortingMenu" mat-icon-button matTooltip="Trier">
                <mat-icon naturalIcon="sort"></mat-icon>
            </button>
        </div>

        <ng-container *ngIf="selected?.length">
            <!--<div *ngIf="selected.length === 1" class="mat-body-1">{{ selected.length }} élément sélectionné</div>-->
            <!--<div *ngIf="selected.length > 1" class="mat-body-1">{{ selected.length }} éléments sélectionnés</div>-->

            <button
                (click)="linkSelectionToCollection(selected)"
                *ngIf="!!user"
                mat-icon-button
                matTooltip="Ajouter à une collection"
            >
                <mat-icon naturalIcon="library_add"></mat-icon>
            </button>
            <button
                (click)="unlinkFromCollection(selected)"
                *ngIf="collection?.id"
                mat-icon-button
                matTooltip="Supprimer de la collection"
            >
                <mat-icon naturalIcon="close"></mat-icon>
            </button>

            <button (click)="downloadSelection(selected)" mat-icon-button matTooltip="Télécharger">
                <mat-icon naturalIcon="file_download"></mat-icon>
            </button>

            <button (click)="goToQuizz(selected)" *ngIf="!!user" mat-icon-button matTooltip="Lecture d'oeuvre">
                <mat-icon naturalIcon="burst_mode"></mat-icon>
            </button>

            <button (click)="edit(selected)" *ngIf="canMassEdit()" mat-icon-button matTooltip="Editer en masse">
                <mat-icon naturalIcon="edit"></mat-icon>
            </button>

            <button
                (click)="delete(selected)"
                *ngIf="user?.role === 'administrator'"
                color="warn"
                mat-icon-button
                matTooltip="Supprimer la fiche définitivement"
            >
                <mat-icon naturalIcon="delete_forever"></mat-icon>
            </button>
        </ng-container>

        <ng-container *ngIf="!selected?.length && user">
            <button
                (click)="linkCollectionToCollection(collection!)"
                *ngIf="collection?.id"
                mat-icon-button
                matTooltip="Ajouter la collection à une autre collection"
            >
                <mat-icon naturalIcon="library_add"></mat-icon>
            </button>

            <button
                (click)="downloadCollection(collection!)"
                *ngIf="showDownloadCollection"
                mat-icon-button
                matTooltip="Télécharger la collection"
            >
                <mat-icon naturalIcon="file_download"></mat-icon>
            </button>

            <button (click)="goToQuizz()" mat-icon-button matTooltip="Lecture d'oeuvre">
                <mat-icon naturalIcon="burst_mode"></mat-icon>
            </button>
        </ng-container>

        <button
            *ngIf="viewMode === ViewMode.grid"
            (click)="toggleLabels()"
            mat-icon-button
            [matTooltip]="showLabels ? 'Masquer les légendes' : 'Afficher les légendes'"
        >
            <mat-icon *ngIf="!showLabels" naturalIcon="font_download"></mat-icon>
            <mat-icon *ngIf="showLabels" naturalIcon="font_download_off"></mat-icon>
        </button>

        <button (click)="unselectAll()" *ngIf="selected?.length" mat-icon-button matTooltip="Désélectionner tout">
            <mat-icon naturalIcon="select_all"></mat-icon>
        </button>

        <button
            (click)="selectAll()"
            *ngIf="!selected?.length"
            mat-icon-button
            matTooltip="Sélectionner les images visibles"
        >
            <mat-icon naturalIcon="select_all"></mat-icon>
        </button>

        <div *ngIf="viewMode === ViewMode.grid">
            <mat-chip-set>
                <mat-chip>{{ gridNumberVisibleItems }}/{{ gridNumberTotalItems }}</mat-chip>
            </mat-chip-set>
        </div>
    </mat-toolbar>

    <app-view-grid
        #view
        (pagination)="pagination($event)"
        (selectionChange)="select($event)"
        (contentChange)="gridContentChange($event)"
        *ngIf="viewMode === ViewMode.grid"
        [dataSource]="dataSource"
        [selected]="selected"
        [style.height]="'100%'"
    ></app-view-grid>

    <app-view-list
        #view
        (pagination)="pagination($event)"
        (selectionChange)="select($event)"
        *ngIf="viewMode === ViewMode.list"
        [dataSource]="dataSource"
        [selected]="selected"
        [style.height]="'100%'"
    ></app-view-list>

    <app-view-map
        #view
        *ngIf="viewMode === ViewMode.map"
        [cards]="selected"
        [style.height]="'100%'"
        (searchByLocation)="searchByLocation($event)"
    ></app-view-map>
</div>
