@mixin view-grid($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    natural-gallery {
        .natural-gallery-js {
            .button {
                color: mat-color($primary, default-contrast);
                opacity: 0.8;
            }

            .button:hover {
                opacity: 1;
            }
        }
    }

}
