<div #scrollable class="scrollable">
    <div class="scrolled" fxFlex fxLayout="row">
        <natural-gallery #gallery
                         (activate)="activate($event)"
                         (pagination)="loadMore($event)"
                         (select)="selectionChange.emit($event)"
                         [options]="options"
                         [scrollable]="scrollable"
                         class="padding"
                         fxFlex
        ></natural-gallery>
    </div>
</div>
