:host {
    display: flex;
    flex-direction: column;
}

.carousel-container {
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 500ms ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    display: flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.carousel-label {
    position: absolute;
    bottom: 30px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: calc(100% - 80px);
    color: white;
    text-align: left;
}

.carousel-nav {
    --bg: var(--mat-sys-tertiary-fixed-dim);

    @supports (color: color-mix(in srgb, red, blue)) {
        --bg: color-mix(in srgb, var(--mat-sys-tertiary-fixed-dim) 50%, transparent);
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    background-color: var(--bg) !important;
    color: var(--mat-sys-on-tertiary-fixed) !important;

    &.carousel-nav-prev {
        left: 10px;
    }

    &.carousel-nav-next {
        right: 10px;
    }
}

.carousel-indicators {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    gap: 8px;
    transform: translateX(-50%);
    z-index: 2;
}

.carousel-indicator {
    transition: background 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;

    &:hover {
        background: rgba(255, 255, 255, 0.7);
    }

    &.active {
        background: white;
    }

    &:focus-visible {
        outline: 2px solid white;
        outline-offset: 2px;
    }
}
