<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Collection">
            <div class="padding" class="padding-v" fxLayout="column" fxLayoutGap="10px">
                <div *ngIf="showVisibility" class="innerSpacing" fxLayout="column" style="max-width: 300px;">
                    <div fxLayout="row">Visible {{ visibilities[visibility].text }}</div>
                    <mat-slider
                        (input)="updateVisibility($event); visibility = $event.value"
                        [color]="visibilities[visibility] ? visibilities[visibility].color : null"
                        [max]="3"
                        [min]="1"
                        [ngModel]="visibility"
                    ></mat-slider>
                </div>

                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input [(ngModel)]="data.item.name" matInput />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input [(ngModel)]="data.item.description" matInput />
                </mat-form-field>

                <mat-form-field *ngIf="data.item.isSource">
                    <mat-label>Droits d'utilisation</mat-label>
                    <input [(ngModel)]="data.item.usageRights" matInput />
                </mat-form-field>

                <mat-form-field *ngIf="data.item.isSource">
                    <mat-label>Copyrights</mat-label>
                    <input [(ngModel)]="data.item.copyrights" matInput />
                </mat-form-field>

                <app-thesaurus
                    (modelChange)="data.item.institution = $event"
                    [model]="institution"
                    [multiple]="false"
                    [service]="institutionService"
                    placeholder="Institution"
                ></app-thesaurus>

                <natural-select-hierarchic
                    [(ngModel)]="data.item.parent"
                    [config]="hierarchicConfig"
                    [showIcon]="false"
                    clearLabel="Dissocier de la collection parente"
                    placeholder="Collection parente"
                ></natural-select-hierarchic>

                <mat-slide-toggle *ngIf="user?.role == 'administrator'" [(ngModel)]="data.item.isSource"
                    >Est un fonds</mat-slide-toggle
                >
            </div>
        </mat-tab>
        <mat-tab *ngIf="data.item.id" label="Abonnés">
            <natural-relations
                [displayWith]="displayFn"
                [filter]="{groups: [{conditions: [{collections: {have: {values: [data.item.id]}}}]}]}"
                [main]="data.item"
                [service]="userService"
                class="margin"
                placeholder="Ajouter un abonné"
            ></natural-relations>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
        [canCreate]="user?.globalPermissions?.collection?.create"
        [item]="data.item"
        fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
