<agm-map *ngIf="markers"
         [scrollwheel]="true"
         [fitBounds]="bounds"
         [fitBoundsPadding]="{top: 250, right: 100, left: 100, bottom:10}"
         [mapTypeControl]="true"
         [mapTypeControlOptions]="{position: 10}"
         style="width:100%;height:100%;"
>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" [iconUrl]="marker.icon">
        <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="300" padding="0" [closeWhenOthersOpen]="true">
            <ng-template>
                <div>
                    <div class="name">{{ marker.name }}</div>
                    <a [routerLink]="['/card', marker.id]">
                        <img class="img" [attr.src]="'/image/'+ marker.id + '/200'">
                    </a>
                </div>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
</agm-map>
