@if (markers) {
    <google-map height="100%" width="100%" [options]="mapOptions">
        @for (marker of markers; track marker) {
            <map-marker
                #mapMarker="mapMarker"
                [icon]="marker.icon"
                [position]="{lat: marker.latitude, lng: marker.longitude}"
                (mapClick)="openInfoWindow(mapMarker, marker)"
            />
        }
        <map-info-window [options]="infoWindowOption">
            <div>
                <div class="mat-h3 name">{{ selectedMarker?.name }}</div>
                <a class="nat-vertical nat-center" [routerLink]="['/card', selectedMarker?.id]">
                    <img class="img" [attr.src]="selectedMarker?.imageSrc" />
                </a>
                <button mat-button (click)="forwardSearch(selectedMarker)">Rechercher les fiches à proximité</button>
            </div>
        </map-info-window>
    </google-map>
}
