@use '~@angular/material' as mat;
@mixin boot-loader($theme) {
    $primary: map-get($theme, primary);
    .bootloader {
        background: mat.get-color-from-palette($primary);

        .sk-folding-cube .sk-cube:before {
            background-color: mat.get-color-from-palette($primary, default-contrast, 100);
        }
    }
}
