:host {
    .image-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 3px;
        background: rgba(0, 0, 0, 0.5);
        height: 100px;
        width: 150px;
        padding: 10px;

        .image {
            height: 200px;
            width: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
