<!-- Template list -->
<ng-template #listTemplate let-items>
    <div class="nat-vertical nat-padding-vertical nat-gap-10">
        @for (item of items; track item) {
            <div class="nat-horizontal nat-gap-10 nat-left nat-center">
                <div class="image-wrapper">
                    <a
                        [ngStyle]="{'background-image': 'url(' + CardService.getImageLink(item, 200) + ')'}"
                        class="image"
                    ></a>
                </div>
                <div>
                    @if (item.code && item.site === Site.tiresias) {
                        <div>{{ item.code }}</div>
                    }
                    <div [innerHTML]="item.name | truncate: ['250', '...']"></div>
                    @if (item?.institution?.name) {
                        <div>{{ item?.institution?.name }}</div>
                    }
                </div>
            </div>
        }
    </div>
</ng-template>

<h2 mat-dialog-title>Edition de masse</h2>

<mat-dialog-content>
    @if (step === 1) {
        <div class="nat-vertical nat-gap-10">
            <p class="mat-body">
                Vous n'avez pas les permissions pour éditer les fiches ci-dessous. Les modifications ne les affecteront
                pas. Vous pouvez cependant créer des suggestions pour ces fiches, les modifications seront alors
                soumises pour validation par un administrateur.
            </p>
            <ng-container *ngTemplateOutlet="listTemplate; context: {$implicit: data.changeable}" />
            @if (data.unchangeable?.length) {
                <h2 class="mat-h2">Ces fiches seront ignorées :</h2>
                <ng-container *ngTemplateOutlet="listTemplate; context: {$implicit: data.unchangeable}" />
            }
        </div>
    }
    @if (step === 2) {
        <div class="nat-vertical">
            <p class="mat-body">Les champs vides sont ignorés.</p>
            <app-card
                [model]="card"
                [showCards]="false"
                [showImage]="false"
                [showToolbar]="false"
                [showCode]="false"
                style="height: 500px"
            />
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    @if (data.changeable.length) {
        <mat-checkbox [(ngModel)]="createSuggestions">Créer les suggestions</mat-checkbox>
    }
    <div class="nat-expand"></div>
    <button mat-button mat-dialog-close>Annuler</button>
    @if (step === 1) {
        <button color="primary" mat-raised-button (click)="step = 2">J'ai compris, continuer.</button>
    }
    @if (step === 2) {
        <button
            [mat-dialog-close]="{model: card, createSuggestions: createSuggestions}"
            color="primary"
            mat-raised-button
        >
            Valider
        </button>
    }
</mat-dialog-actions>
