@if (data.item.readOnly) {
    <h2 mat-dialog-title>Détails du nom antique</h2>
} @else if (isUpdatePage()) {
    <h2 mat-dialog-title>Modifier le nom antique</h2>
} @else {
    <h2 mat-dialog-title>Créer un nom antique</h2>
}

<mat-dialog-content>
    <div class="nat-padding-vertical nat-gap-10 nat-vertical">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input
                matInput
                [readonly]="data.item.readOnly || (isUpdatePage() && !data.item.permissions.update)"
                [(ngModel)]="data.item.name"
            />
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.antiqueName?.create"
        [readOnly]="data.item.readOnly"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
