:host {
    width: 100%;
}

.background-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    height: 300px;
}

.block-button {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.block-input {
    margin: 0 10px 22.5px 10px;
    border-radius: 10px;
    width: 379px;
    height: 56px;
}

.block-visibility {
    margin: 12px 0 0 10px;
    border-radius: 10px;
    width: 200px;
    height: 15px;
}

.block-slider {
    margin: 23px 0 40px 25px;
    border-radius: 10px;
    width: 349px;
    height: 7px;
}

.image {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.left-pane {
    flex: 0 0 400px;
    box-sizing: border-box;
    border-right: 1px solid var(--mat-sys-outline-variant);
    max-width: 100%;
    overflow: hidden;
}

.left-pane > div {
    position: relative;
}

.skeleton-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 var(--mat-sys-outline-variant);
    background: var(--mat-sys-surface-container);
    padding: 0 9px 0 5px;
    height: 69px;
}

.skeleton-buttons {
    display: flex;
    gap: 8px;
}

.skeleton-screen {
    display: flex;
    height: 100vh;
}

.background-fade {
    background: linear-gradient(180deg, transparent 0%, var(--mat-sys-surface-container) 90%);
}

.bg-pulse {
    animation: loading_pulse 1.5s infinite ease-in-out;
    background-color: var(--mat-sys-surface-variant);
    @supports (background-color: color-mix(in srgb, blue, red)) {
        background-color: color-mix(in srgb, var(--mat-sys-surface-variant) 90%, var(--mat-sys-on-surface));
    }
}
