:host {
    width: 100%;
}

.background-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    height: 300px;
}

.block-button {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.block-input {
    margin: 0 12px 22.5px 12px;
    border-radius: 10px;
    width: 375px;
    height: 56px;
}

.block-input-xs {
    margin: 0 20px 15px 20px;
    border-radius: 10px;
    width: 200px;
    height: 15px;
}

.block-input-sm {
    margin: 0 auto 40px auto;
    border-radius: 10px;
    width: 330px;
    height: 7px;
}

.image {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.left-pane {
    overflow: hidden;
}

.left-pane > div {
    position: relative;
    padding-top: 20px;
}

.skeleton-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px;
    height: 50px;
}

.skeleton-screen {
    display: flex;
    height: 100vh;
}

.background-fade {
    background: linear-gradient(180deg, transparent 0%, var(--mat-sys-surface-container) 90%);
}

.bg-pulse {
    animation: loading_pulse 1.5s infinite ease-in-out;
    background-color: var(--mat-sys-surface-variant);
    @supports (background-color: color-mix(in srgb, blue, red)) {
        background-color: color-mix(in srgb, var(--mat-sys-surface-variant) 90%, var(--mat-sys-on-surface));
    }
}
