<div class="skeleton-screen">
    <div class="left-pane">
        <div>
            <div class="skeleton-menu">
                <app-logo [data]="{type: 'toolbar', class: 'logo'}" />
                <div class="skeleton-buttons">
                    <div class="block-button bg-pulse"></div>
                    <div class="block-button bg-pulse"></div>
                    <div class="block-button bg-pulse"></div>
                    <div class="block-button bg-pulse"></div>
                    <div class="block-button bg-pulse"></div>
                </div>
            </div>
            <div class="background-fade"></div>

            <div class="block-visibility bg-pulse"></div>
            <div class="block-slider bg-pulse"></div>
            <div class="block-input bg-pulse"></div>
            <div class="block-input bg-pulse"></div>
            <div class="block-input bg-pulse"></div>
            <div class="block-input bg-pulse"></div>
            <div class="block-input bg-pulse"></div>
        </div>
    </div>
    <div class="image">
        <mat-spinner />
    </div>
</div>
