<mat-dialog-content>
    <mat-tab-group>
        <!-- Collection existante -->
        <mat-tab label="Collection existante">
            <div class="padding-v" fxLayout="column">
                <natural-select
                    [(ngModel)]="collection"
                    [filter]="listFilter"
                    [service]="collectionService"
                    placeholder="Sélectionnez la collection"
                >
                    <ng-template let-item="item">
                        <div>{{ item.name }}</div>
                        <app-collection-hierarchy [collection]="item" />
                    </ng-template>
                </natural-select>
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="link()" [disabled]="!collection?.id" color="primary" mat-flat-button>
                        Ajouter à la collection
                    </button>
                </div>
            </div>
        </mat-tab>

        <!-- Nouvelle collection -->
        <mat-tab label="Nouvelle collection">
            <div class="padding-v" fxLayout="column">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input [(ngModel)]="newCollection.name" matInput />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)]="newCollection.description" matInput></textarea>
                </mat-form-field>

                @if (listFilter) {
                    <natural-select
                        [(ngModel)]="newCollection.parent"
                        [filter]="listFilter"
                        [service]="collectionService"
                        placeholder="Collection parente"
                    />
                }

                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="createAndLink()" [disabled]="!newCollection.name" color="primary" mat-flat-button>
                        Ajouter à une nouvelle collection privée
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div fxLayout="column">
        @if (image?.collections?.length) {
            <div class="mat-subtitle-1">Collections liées à la fiche</div>
        }
        @for (collection of image?.collections; track collection) {
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon naturalIcon="collections" />
                <div fxFlex>{{ collection.name }}</div>
                <button
                    (click)="unlink(image!, collection)"
                    mat-icon-button
                    matTooltip="Retirer la fiche de la collection"
                >
                    <mat-icon naturalIcon="remove" />
                </button>
            </div>
        }
    </div>
</mat-dialog-content>
