<mat-dialog-content>
    <mat-tab-group>
        <!-- Collection existante -->
        <mat-tab label="Collection existante">
            <div class="nat-padding-vertical nat-vertical">
                <natural-select
                    placeholder="Sélectionnez la collection"
                    [filter]="listFilter"
                    [service]="collectionService"
                    [(ngModel)]="collection"
                >
                    <ng-template let-item="item">
                        <div>{{ item.name }}</div>
                        <app-collection-hierarchy [collection]="item" />
                    </ng-template>
                </natural-select>
                <div>
                    <button color="primary" mat-flat-button [disabled]="!collection?.id" (click)="link()">
                        Ajouter à la collection
                    </button>
                </div>
            </div>
        </mat-tab>

        <!-- Nouvelle collection -->
        <mat-tab label="Nouvelle collection">
            <div class="nat-padding-vertical nat-vertical">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput [(ngModel)]="newCollection.name" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="newCollection.description"></textarea>
                </mat-form-field>

                @if (listFilter) {
                    <natural-select
                        placeholder="Collection parente"
                        [filter]="listFilter"
                        [service]="collectionService"
                        [(ngModel)]="newCollection.parent"
                    />
                }

                <div>
                    <button color="primary" mat-flat-button [disabled]="!newCollection.name" (click)="createAndLink()">
                        Ajouter à une nouvelle collection privée
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="nat-vertical">
        @if (image?.collections?.length) {
            <div class="mat-subtitle-1">Collections liées à la fiche</div>
        }
        @for (collection of image?.collections; track collection) {
            <div class="nat-horizontal nat-left nat-center nat-gap-10">
                <mat-icon naturalIcon="collections" />
                <div class="nat-expand">{{ collection.name }}</div>
                <button
                    mat-icon-button
                    matTooltip="Retirer la fiche de la collection"
                    (click)="unlink(image!, collection)"
                >
                    <mat-icon naturalIcon="remove" />
                </button>
            </div>
        }
    </div>
</mat-dialog-content>
