@use 'sass:map';
@use '~@angular/material' as mat;
@mixin quizz($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-quizz {
        .attribute {
            background: mat.get-color-from-palette($warn, 0.3);

            .attributeAnswer:hover {
                background: mat.get-color-from-palette($warn, 0.2);
            }

            &.valid {
                background: mat.get-color-from-palette($primary, 0.3);

                .attributeAnswer:hover {
                    background: mat.get-color-from-palette($primary, 0.2);
                }
            }
        }
    }
}
