:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.33);
}

.instructions {
    margin-bottom: 10px;
}

.instructions p:first-child {
    font-weight: bold;
}

.attribute {
    margin: 0 10px 10px 10px;

    & > div {
        padding: 10px;
    }

    .attributeName {
        font-weight: bold;
        font-size: 16px;
    }
}

.card {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 400px;
}

.title {
    align-items: baseline;
}
