@use '@ecodev/natural-layout' as nat;

:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.body {
    min-height: 0;
}

@include nat.media(sm) {
    .body {
        display: flex;
        min-height: 0;
    }
}

.image {
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    min-width: 0;
    min-height: 0;
    object-fit: contain;
    object-position: center;
}

.instructions {
    margin-bottom: 10px;
    p {
        font-size: 14px;
    }
}

.instructions p:first-child {
    font-weight: bold;
}

.attribute {
    background: var(--mat-sys-error-container);
    & > div {
        padding: 10px;
    }

    .attributeName {
        font-weight: bold;
        font-size: 16px;
    }
    @supports (background: color-mix(in srgb, blue, red)) {
        background: color-mix(in srgb, var(--mat-sys-error-container) 30%, transparent);
    }

    .attributeAnswer:hover {
        background: var(--mat-sys-error-container);
        @supports (background: color-mix(in srgb, blue, red)) {
            background: color-mix(in srgb, var(--mat-sys-error-container) 20%, transparent);
        }
    }

    &.valid {
        background: var(--mat-sys-primary-container);
        @supports (background: color-mix(in srgb, blue, red)) {
            background: color-mix(in srgb, var(--mat-sys-primary-container) 30%, transparent);
        }

        .attributeAnswer:hover {
            background: var(--mat-sys-primary-container);
            @supports (background: color-mix(in srgb, blue, red)) {
                background: color-mix(in srgb, var(--mat-sys-primary-container) 20%, transparent);
            }
        }
    }
}

.card {
    display: flex;
    flex: 1 1 320px;
    flex-direction: column;
    box-sizing: border-box;
    margin-inline: auto;
    padding-inline: 10px;
    min-width: 320px;
    max-width: 320px;

    @include nat.media(null, sm) {
        padding-top: 10px;
    }
}

.title {
    align-items: baseline;
}
