@use 'sass:map';
@use '@angular/material' as mat;
@mixin address($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $bg: map.get($theme, background);
    $fg: map.get($theme, foreground);

    app-address {
        #mapZone {
            #search {
                background: mat.get-color-from-palette($bg, background);
            }

            mat-form-field {
                .mat-mdc-form-field-bottom-align {
                    display: none;
                }
            }
        }
    }
}
