#map-zone {
    position: relative;

    .wrapper-google-map {
        margin-bottom: 22.5px;
    }

    #search {
        position: absolute;
        top: 5px;
        right: 5px;
        left: 5px;
        z-index: 5;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        padding-bottom: -1.25em;
    }
}

.map-accordion-header {
    cursor: pointer;
}
