@if (!onlyMap) {
    <div class="nat-vertical nat-gap-horizontal-10">
        @if (!readonly || !!model?.street) {
            <mat-form-field>
                <mat-label>Rue</mat-label>
                <input
                    (keyup.enter)="search()"
                    [(ngModel)]="model!.street"
                    [readonly]="readonly"
                    matInput
                    maxlength="255"
                />
                @if (model?.street?.length > 200) {
                    <mat-hint align="end" [ngClass]="{strong: model!.street!.length >= 255}">
                        {{ model!.street!.length }} / 255
                    </mat-hint>
                }
            </mat-form-field>
        }
        <div class="nat-gap-horizontal-10" [class.nat-horizontal]="!vertical" [class.nat-vertical]="vertical">
            @if (isDilps && (!readonly || !!model?.postcode)) {
                <mat-form-field>
                    <mat-label>NPA</mat-label>
                    <input
                        (keyup.enter)="search()"
                        [(ngModel)]="model!.postcode"
                        [readonly]="readonly"
                        matInput
                        maxlength="20"
                    />
                    @if (model?.postcode?.length > 15) {
                        <mat-hint align="end" [ngClass]="{strong: model!.postcode!.length >= 20}">
                            {{ model!.postcode!.length }} / 20
                        </mat-hint>
                    }
                </mat-form-field>
            }
            @if (!readonly || !!model?.locality) {
                <mat-form-field [class.nat-expand]="!vertical">
                    <mat-label>Localité</mat-label>
                    <input
                        (keyup.enter)="search()"
                        [(ngModel)]="model!.locality"
                        [readonly]="readonly"
                        matInput
                        maxlength="191"
                    />
                    @if (model?.locality?.length > 150) {
                        <mat-hint align="end" [ngClass]="{strong: model!.locality!.length >= 191}">
                            {{ model!.locality!.length }} / 191
                        </mat-hint>
                    }
                </mat-form-field>
            }
            @if (countries && (!readonly || !!model?.country)) {
                <natural-select
                    (keyup.enter)="search()"
                    [(ngModel)]="model!.country"
                    [disabled]="readonly"
                    [service]="countryService"
                    [showIcon]="false"
                    placeholder="Pays"
                />
            }
        </div>
    </div>
}

<cdk-accordion>
    <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        [expanded]="!allowExpandableMap || !readonly"
        role="button"
        tabindex="0"
        [attr.aria-expanded]="accordionItem.expanded"
    >
        @if (allowExpandableMap && readonly && !!model?.latitude && !!model?.longitude) {
            <div class="map-accordion-header nat-horizontal nat-right nat-center" (click)="accordionItem.toggle()">
                <span> {{ accordionItem.expanded ? 'masquer' : 'afficher' }} la carte</span>
                <mat-icon
                    class="address-toggle-arrow"
                    [naturalIcon]="accordionItem.expanded ? 'arrow_drop_up' : 'arrow_drop_down'"
                />
            </div>
        }
        <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'">
            <div id="mapZone">
                <mat-form-field
                    [class.nat-show]="(mapApiService.loaded | async) && !readonly"
                    class="mat-elevation-z4"
                    id="search"
                >
                    <mat-label>Chercher</mat-label>
                    <input
                        #input
                        [formControl]="formCtrl"
                        autocapitalize="off"
                        autocorrect="off"
                        class="form-control"
                        matInput
                        spellcheck="off"
                    />
                </mat-form-field>

                <!-- Map -->
                @if ((mapApiService.loaded | async) && (!readonly || (!!model?.latitude && !!model?.longitude))) {
                    <div class="wrapper-google-map">
                        <google-map
                            [options]="mapOptions"
                            [center]="{lat: latitude, lng: longitude}"
                            [zoom]="zoom"
                            height="450px"
                            width="100%"
                        >
                            <map-marker
                                (mapDragend)="onMarkerDrag($event)"
                                [icon]="icon!"
                                [position]="
                                    (model?.latitude && model?.longitude
                                        ? {lat: model?.latitude, lng: model?.longitude}
                                        : null)!
                                "
                                [options]="{draggable: !readonly}"
                            />
                        </google-map>
                    </div>
                }
            </div>
        </div>
    </cdk-accordion-item>
</cdk-accordion>

@if (!isDilps) {
    <div class="nat-horizontal double-fields nat-gap-10">
        @if (!readonly || !!model?.latitude) {
            <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input
                    type="number"
                    (ngModelChange)="recenter()"
                    [(ngModel)]="model!.latitude"
                    [readonly]="readonly"
                    matInput
                />
            </mat-form-field>
        }
        @if (!readonly || !!model?.longitude) {
            <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input
                    type="number"
                    (ngModelChange)="recenter()"
                    [(ngModel)]="model!.longitude"
                    [readonly]="readonly"
                    matInput
                />
            </mat-form-field>
        }
    </div>
}

@if (!isDilps && (!readonly || !!model?.precision)) {
    <natural-select-enum
        [(ngModel)]="model!.precision"
        enumName="Precision"
        placeholder="Précision"
        [disabled]="readonly"
        nullLabel="Non spécifiée"
    />
}
