.double-fields > * {
    min-width: 0;
    width: calc(((400px - 2 * 12px) - 10px) / 2);
}

#mapZone {
    position: relative;

    .wrapper-google-map {
        margin-bottom: 22.5px;
    }

    #search {
        position: absolute;
        z-index: 5;
        top: 5px;
        left: 5px;
        padding-bottom: -1.25em;
        width: 370px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.map-accordion-header {
    cursor: pointer;
}
