<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Institution">
            <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input
                        #name="ngModel"
                        matInput
                        fieldName="name"
                        [appUnique]="data.item"
                        [service]="service"
                        [readonly]="isUpdatePage() && !data.item.permissions.update"
                        [(ngModel)]="data.item.name"
                    />

                    @if (name.invalid && (name?.dirty || name?.touched)) {
                        <mat-error>Ce nom est déjà attribué</mat-error>
                    }
                </mat-form-field>

                @if (data.item.street !== undefined) {
                    <app-address [model]="data.item" [readonly]="isUpdatePage() && !data.item.permissions.update" />
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.institution?.create"
        [canDelete]="data.item.canDelete"
        [disableCreateAndUpdate]="!!name.invalid"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
