<h2 mat-dialog-title>Associer plusieurs fiches entre-elles</h2>
<mat-dialog-content class="wrapper">
    <div>
        <p>Chaque fiche sélectionnée sera associée à toutes les autres également sélectionnées.</p>
        <div *ngFor="let card of cards">
            <mat-checkbox [(ngModel)]="card.checked"> {{ card.name }} ({{ card.id }}) </mat-checkbox>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="filterCheckedCards()">Créer les associations</button>
</mat-dialog-actions>
