<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Actualité">
            <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                <mat-checkbox [(ngModel)]="data.item.isActive">Actif </mat-checkbox>

                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input
                        matInput
                        [readonly]="isUpdatePage() && !data.item.permissions.update"
                        [(ngModel)]="data.item.name"
                    />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        [readonly]="isUpdatePage() && !data.item.permissions.update"
                        [(ngModel)]="data.item.description"
                    />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Lien</mat-label>
                    <input
                        #url="ngModel"
                        matInput
                        maxlength="255"
                        type="url"
                        [readonly]="isUpdatePage() && !data.item.permissions.update"
                        [(ngModel)]="data.item.url"
                    />
                    @if (url.invalid && (url.dirty || url.touched)) {
                        <mat-error>URL invalide</mat-error>
                    }
                    @if (data.item.url?.length > 200) {
                        <mat-hint align="end" [ngClass]="{strong: data.item.url?.length >= 255}">
                            {{ data.item.url?.length }} / 255
                        </mat-hint>
                    }
                </mat-form-field>

                <input
                    name="Image"
                    placeholder="Lien"
                    type="file"
                    [readonly]="isUpdatePage() && !data.item.permissions.update"
                    (change)="upload($event)"
                />

                @if (!imageData && data.item.imageUrl) {
                    <img [attr.src]="data.item.imageUrl" />
                }
                @if (imageData) {
                    <div class="image" [style.backgroundImage]="imageData"></div>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.news?.create"
        [canDelete]="true"
        [item]="data.item"
        [formCtrl]="$any(url)"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
