<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Actualité">
            <div class="padding-v" fxLayout="column" fxLayoutGap="10px">

                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input [(ngModel)]="data.item.name" [readonly]="data?.item?.permissions && !data.item.permissions.update" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input [(ngModel)]="data.item.description"
                           [readonly]="data?.item?.permissions && !data.item.permissions.update"
                           matInput
                    >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Lien</mat-label>
                    <input [(ngModel)]="data.item.url" [readonly]="data?.item?.permissions && !data.item.permissions.update" matInput>
                </mat-form-field>

                <input (change)="upload($event.target.files[0])"
                       [readonly]="data?.item?.permissions && !data.item.permissions.update"
                       name="Image"
                       placeholder="Lien"
                       type="file"
                >

                <img *ngIf="!imageData && data?.item?.imageUrl" [attr.src]="data?.item?.imageUrl">
                <div *ngIf="imageData" [ngStyle]="{'background-image': 'url(' + imageData + ')'}" class="image"></div>

            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer (create)="create()"
                       (delete)="delete()"
                       (update)="update()"
                       [canCreate]="user?.globalPermissions?.news?.create"
                       [item]="data.item"
                       fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
