@use 'sass:map';
@use '~@angular/material' as mat;
@mixin download-modal($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);

    app-download {
        .error {
            color: mat.get-color-from-palette($warn);
        }
    }
}
