<mat-dialog-content>
    <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab label="Images">
            <div class="padding" fxLayout="column">
                <mat-form-field>
                    <mat-label>Taille des images</mat-label>
                    <mat-select [(value)]="input.maxHeight">
                        <mat-option *ngFor="let s of sizes" [value]="s.value">
                            {{ s.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="input.includeLegend" [disabled]="denyLegendsDownload"
                    >Inclure les légendes au format HTML
                </mat-checkbox>
                <br />
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadZip()" color="primary" mat-flat-button [disabled]="loading">
                        Télécharger en ZIP
                    </button>
                </div>
            </div>
        </mat-tab>
        <mat-tab [label]="pptxLabel">
            <div class="padding" fxLayout="column">
                <mat-form-field>
                    <mat-label>Couleur d'arrière-plan</mat-label>
                    <input [(ngModel)]="input.backgroundColor" matInput maxlength="7" />
                    <span [style.background]="input.backgroundColor" class="color" matTextSuffix></span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Couleur du texte</mat-label>
                    <input [(ngModel)]="input.textColor" matInput maxlength="7" />
                    <span [style.background]="input.textColor" class="color" matTextSuffix></span>
                </mat-form-field>
                <p class="mat-body error" *ngIf="validationMessage">{{ validationMessage }}</p>
                <div fxFlexAlign="end" fxLayout="row">
                    <button
                        (click)="downloadPowerPoint()"
                        color="primary"
                        mat-flat-button
                        [disabled]="!validated || validationMessage || loading"
                    >
                        Télécharger en PowerPoint
                    </button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Excel">
            <div class="padding" fxLayout="column">
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadExcel()" color="primary" mat-flat-button [disabled]="loading">
                        Télécharger en Excel
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
