<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Images">
            <div class="margin-top" fxLayout="column">
                <mat-form-field>
                    <mat-label>Taille des images</mat-label>
                    <mat-select [(value)]="size">
                        <mat-option *ngFor="let s of sizes" [value]="s.value">
                            {{ s.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="includeLegend" [disabled]="denyLegendsDownload">Inclure les légendes au format HTML
                </mat-checkbox>
                <br />
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadZip()" color="primary" mat-flat-button>Télécharger en ZIP</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="PowerPoint">
            <div class="padding" fxLayout="column">
                <mat-form-field>
                    <mat-label>Couleur d'arrière-plan</mat-label>
                    <input [(ngModel)]="backgroundColor" matInput maxlength="7">
                    <span [style.background]="backgroundColor" class="color" matSuffix></span>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Couleur du texte</mat-label>
                    <input [(ngModel)]="textColor" matInput maxlength="7">
                    <span [style.background]="textColor" class="color" matSuffix></span>
                </mat-form-field>
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadPowerPoint()" color="primary" mat-flat-button>Télécharger en PowerPoint</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Excel">
            <div class="padding" fxLayout="column">
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadExcel()" color="primary" mat-flat-button>Télécharger en Excel</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
