mat-dialog-content,
mat-dialog-actions {
    animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.no-collections {
    padding: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
