<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Utilisateur">
            <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                <mat-form-field class="width-auto">
                    <mat-label>Login</mat-label>
                    <input matInput name="login" [disabled]="!!data.item.id" [(ngModel)]="data.item.login" />
                </mat-form-field>

                <mat-form-field class="width-auto">
                    <mat-label>Nom</mat-label>
                    <input matInput name="name" [(ngModel)]="data.item.name" />
                </mat-form-field>

                @if (!isShibbolethUser()) {
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput name="email" type="email" [(ngModel)]="data.item.email" />
                    </mat-form-field>
                }

                @if (
                    (user?.globalPermissions?.user?.create || (isUpdatePage() && data.item.permissions.update)) &&
                    !isShibbolethUser()
                ) {
                    <div class="nat-vertical nat-gap-10" [formGroup]="passwordGroupCtrl">
                        <mat-form-field>
                            <mat-label>Mot de passe</mat-label>
                            <input matInput type="password" [formControl]="passwordCtrl" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Confirmation du mot passe</mat-label>
                            <input matInput type="password" [formControl]="passwordConfirmationCtrl" />
                            @if (passwordConfirmationCtrl.hasError('password')) {
                                <mat-error>Le mot de passe n'est pas identique</mat-error>
                            }
                        </mat-form-field>
                    </div>
                }

                <app-thesaurus
                    placeholder="Institution"
                    [model]="institution"
                    [multiple]="false"
                    [service]="institutionService"
                    [sortAutocompleteByUsageCount]="true"
                    (modelChange)="data.item.institution = $any($event)"
                />

                <mat-form-field>
                    <mat-label>Active jusqu'au</mat-label>
                    <input matInput name="activeUntil" [matDatepicker]="picker" [(ngModel)]="data.item.activeUntil" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker" />
                    <mat-datepicker #picker />
                </mat-form-field>

                @if (isUpdatePage()) {
                    <mat-form-field>
                        <mat-label>Licence</mat-label>
                        <input
                            disabled
                            matInput
                            name="termsAgreement"
                            [matDatepicker]="picker2"
                            [(ngModel)]="data.item.termsAgreement"
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="picker2" />
                        <mat-datepicker #picker2 />
                    </mat-form-field>
                }

                <mat-form-field>
                    <mat-label>Rôle</mat-label>
                    <mat-select [disabled]="user?.id === data.item.id" [(value)]="data.item.role">
                        @for (role of roles; track role) {
                            <mat-option [value]="role.value" [disabled]="roleDisabled(role.value)">
                                {{ role.name }}</mat-option
                            >
                        }
                    </mat-select>
                </mat-form-field>

                @if (isUpdatePage()) {
                    <mat-form-field>
                        <mat-label>Type d'utilisateur</mat-label>
                        <input
                            disabled
                            matInput
                            name="type"
                            [value]="data.item.type | type"
                            [(ngModel)]="data.item.type"
                        />
                    </mat-form-field>
                }
            </div>
        </mat-tab>

        @if (isUpdatePage()) {
            <mat-tab label="Collections">
                <natural-relations
                    class="nat-margin"
                    placeholder="Ajouter une collection"
                    [filter]="{groups: [{conditions: [{users: {have: {values: [data.item.id]}}}]}]}"
                    [hierarchicSelectorConfig]="collectionsHierarchicConfig"
                    [main]="data.item"
                    [service]="collectionService"
                />
            </mat-tab>
        }
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.user?.create"
        [canDelete]="true"
        [formCtrl]="passwordConfirmationCtrl"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
