<button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    [matTooltip]="tooltip"
    (menuOpened)="menuOpened()"
    (menuClosed)="menuClosed()"
>
    <mat-icon naturalIcon="share_windows" />
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="export(ExportFormat.zip)">
        {{ optionZipLabel }}
    </button>
    @if (showExcelExportation) {
        <button (click)="export(ExportFormat.csv)" mat-menu-item>Exporter en Excel</button>
    }
    <button
        mat-menu-item
        (click)="export(ExportFormat.pptx)"
        [disabled]="!!pptValidationMessage"
        [matTooltip]="pptValidationMessage"
        [matMenuTriggerFor]="pptOptions"
    >
        Exporter en PowerPoint
    </button>
</mat-menu>

<mat-menu #pptOptions="matMenu">
    <button mat-menu-item (click)="export(ExportFormat.pptx, ExportTheme.light)">Thème clair</button>
    <button mat-menu-item (click)="export(ExportFormat.pptx, ExportTheme.dark)">Thème sombre</button>
</mat-menu>
