@use '../../styles/utils';

:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#menu {
    @include utils.centerContent();

    &.menuMinimized {
        &,
        ng-scrollbar {
            width: 0;
            min-width: 64px;
        }
    }
}

// Center menu icons
.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 20px;
}
