<mat-menu #thesaurusMenu="matMenu" [overlapTrigger]="false">
    <ng-container *ngIf="site === Site.dilps">
        <button mat-menu-item routerLink="/institution" routerLinkActive="active">Institutions</button>
        <button mat-menu-item routerLink="/artist" routerLinkActive="active">Artistes</button>
    </ng-container>
    <ng-container *ngIf="site === Site.tiresias">
        <button mat-menu-item routerLink="/domain" routerLinkActive="active">Domaines</button>
        <button mat-menu-item routerLink="/period" routerLinkActive="active">Périodes</button>
        <button mat-menu-item routerLink="/material" routerLinkActive="active">Matériaux</button>
        <button mat-menu-item routerLink="/institution" routerLinkActive="active">Institutions</button>
        <button mat-menu-item routerLink="/antique-name" routerLinkActive="active">Noms antiques</button>
        <button mat-menu-item routerLink="/document-type" routerLinkActive="active">Type de documents</button>
        <button mat-menu-item routerLink="/tag" routerLinkActive="active">Mots-clés</button>
    </ng-container>
</mat-menu>

<mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/user" routerLinkActive="active">Utilisateurs</button>
    <button mat-menu-item routerLink="/news" routerLinkActive="active">Actualités</button>
    <button mat-menu-item routerLink="/statistic" routerLinkActive="active">Statistiques</button>
</mat-menu>

<div [ngfFixOrientation]="false" appFileDrop fxFlex fxLayout="column">

    <mat-sidenav-container #navContainer fxFlex fxLayout="column">
        <mat-sidenav *ngIf="showNavigationMenu()" class="menuMinimized" id="menu" mode="side" opened="true" position="start">
            <div fxFlex fxFlexAlign="start center" fxLayout="row">
                <perfect-scrollbar fxLayout="column">

                    <ng-container *ngIf="user">

                        <mat-nav-list>
                            <!-- Dashboard -->
                            <a [queryParams]="null"
                               [routerLinkActiveOptions]="{ exact: true }"
                               mat-list-item
                               routerLink="/"
                               routerLinkActive="active"
                            >
                                <natural-icon mat-list-icon name="home"></natural-icon>
                                <span matLine>Accueil</span>
                            </a>

                            <!-- Collections publiques -->
                            <a mat-list-item
                               matTooltip="Collections publiques"
                               matTooltipPosition="after"
                               routerLink="/collection"
                               routerLinkActive="active"
                            >
                                <natural-icon mat-list-icon name="collections"></natural-icon>
                            </a>

                            <!-- Mes collections privées -->
                            <a mat-list-item
                               matTooltip="Mes collections"
                               matTooltipPosition="after"
                               routerLink="/my-collection"
                               routerLinkActive="active"
                            >
                                <natural-icon mat-list-icon name="collections_bookmark"></natural-icon>
                            </a>

                            <!-- Fonds -->
                            <a mat-list-item matTooltip="Fonds" matTooltipPosition="after" routerLink="/source" routerLinkActive="active">
                                <natural-icon mat-list-icon name="folder_special"></natural-icon>
                            </a>

                            <!-- Notifications -->
                            <a mat-list-item
                               matTooltip="Notifications"
                               matTooltipPosition="after"
                               routerLink="/notification"
                               routerLinkActive="active"
                            >
                                <natural-icon mat-list-icon name="notifications"></natural-icon>
                            </a>

                            <!-- Add photos -->
                            <a (filesChange)="uploadImages($event)"
                               *ngIf="user.role === 'administrator' || user.role === 'senior' || user.role === 'junior'"
                               [ngfFixOrientation]="false"
                               mat-list-item
                               matTooltip="Ajouter une image"
                               matTooltipPosition="after"
                               multiple="1"
                               ngfSelect
                            >
                                <natural-icon mat-list-icon name="file_upload"></natural-icon>
                            </a>

                            <!-- Export template -->
                            <ng-container *ngIf="site === Site.tiresias">
                                <a href="/template"
                                   *ngIf="user.role === 'administrator' || user.role === 'senior' || user.role === 'junior'"
                                   mat-list-item
                                   matTooltip="Télécharger le modèle pour import Excel"
                                   matTooltipPosition="after"
                                >
                                    <natural-icon mat-list-icon name="file_download"></natural-icon>
                                </a>
                            </ng-container>
                        </mat-nav-list>

                        <!-- Thésaurus -->
                        <ng-container *ngIf="showThesaurusMenu()">
                            <mat-divider></mat-divider>
                            <mat-nav-list>
                                <a mat-list-item matTooltip="Thésaurus" matTooltipPosition="after" [matMenuTriggerFor]="thesaurusMenu">
                                    <natural-icon mat-list-icon name="book"></natural-icon>
                                </a>
                            </mat-nav-list>
                        </ng-container>

                        <!-- Administration -->
                        <ng-container *ngIf="user.role === 'administrator'">
                            <mat-divider></mat-divider>
                            <mat-nav-list>
                                <a mat-list-item matTooltip="Gestion" matTooltipPosition="after" [matMenuTriggerFor]="adminMenu">
                                    <natural-icon mat-list-icon name="build"></natural-icon>
                                </a>
                            </mat-nav-list>
                        </ng-container>

                        <mat-divider></mat-divider>

                        <mat-nav-list fxFlex>
                            <!-- Account -->
                            <a (click)="editUser()" mat-list-item matTooltip="Mon compte" matTooltipPosition="after">
                                <natural-icon mat-list-icon name="account_circle"></natural-icon>

                            </a>

                            <!-- Logout -->
                            <a (click)="userService.logout()" mat-list-item matTooltip="Se déconnecter" matTooltipPosition="after">
                                <natural-icon mat-list-icon name="exit_to_app"></natural-icon>
                            </a>
                        </mat-nav-list>

                    </ng-container>

                    <mat-nav-list *ngIf="!user" fxFlex>

                        <!-- Dashboard -->
                        <a [routerLinkActiveOptions]="{ exact: true }" mat-list-item routerLink="/" routerLinkActive="active">
                            <natural-icon mat-list-icon name="home"></natural-icon>
                            <span matLine>Accueil</span>
                        </a>

                        <!-- Logout -->
                        <a (click)="userService.revokeTempAccess()" mat-list-item matTooltip="Se connecter" matTooltipPosition="after">
                            <natural-icon mat-list-icon name="account_circle"></natural-icon>
                        </a>
                    </mat-nav-list>

                    <!-- Bottom nav -->
                    <a *ngIf="errors.length"
                       [matMenuTriggerFor]="errorsMenu"
                       color="warn"
                       mat-icon-button
                       mat-raised-button
                       style="margin:0 11px"
                    >
                        <mat-icon>error</mat-icon>
                    </a>

                    <mat-nav-list>
                        <!-- Theme -->
                        <a (click)="themeService.toggleNightMode()" mat-list-item>
                            <natural-icon mat-list-icon name="invert_colors"></natural-icon>
                            <span matLine>Changer couleurs</span>
                        </a>
                    </mat-nav-list>

                </perfect-scrollbar>
            </div>
        </mat-sidenav>

        <div fxFlex fxLayout="row" id="appContent">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-container>

</div>

<mat-menu #errorsMenu="matMenu" [overlapTrigger]="false" class="padding error-menu" fxLayout="column" fxLayoutGap="60px">
    <div (click)="$event.stopPropagation()"
         *ngFor="let error of errors"
         class="error"
         fxLayout="column"
         mat-menu-item
         style="user-select: text"
    >
        <span class="mat-caption" style="font-weight:bold">{{ error.category }}</span>
        <span class="mat-caption">{{ error.message }}</span>
        <span class="mat-caption">{{ error.debugMessage }}</span>
    </div>
    <button (click)="errors = []" mat-menu-item>
        <mat-icon>close</mat-icon>
        Masquer
    </button>
</mat-menu>
