<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<mat-menu #thesaurusMenu="matMenu" [overlapTrigger]="false">
    @if (site === Site.Dilps) {
        <button mat-menu-item routerLink="/institution" routerLinkActive="active">Institutions</button>
        <button mat-menu-item routerLink="/artist" routerLinkActive="active">Artistes</button>
        <button mat-menu-item routerLink="/domain" routerLinkActive="active">Domaines</button>
    }
    @if (site === Site.Tiresias) {
        <button mat-menu-item routerLink="/domain" routerLinkActive="active">Domaines</button>
        <button mat-menu-item routerLink="/period" routerLinkActive="active">Périodes</button>
        <button mat-menu-item routerLink="/material" routerLinkActive="active">Matériaux</button>
        <button mat-menu-item routerLink="/institution" routerLinkActive="active">Institutions</button>
        <button mat-menu-item routerLink="/antique-name" routerLinkActive="active">Noms antiques</button>
        <button mat-menu-item routerLink="/document-type" routerLinkActive="active">Type de documents</button>
        <button mat-menu-item routerLink="/tag" routerLinkActive="active">Mots-clés</button>
    }
</mat-menu>

<mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/user" routerLinkActive="active">Utilisateurs</button>
    <button mat-menu-item routerLink="/news" routerLinkActive="active">Actualités</button>
    <button mat-menu-item routerLink="/statistic" routerLinkActive="active">Statistiques</button>
</mat-menu>

<mat-sidenav-container class="nat-expand nat-vertical">
    @if (showNavigationMenu()) {
        <mat-sidenav id="menu" mode="side" opened position="start">
            <ng-scrollbar>
                @if (user) {
                    <!-- Dashboard -->
                    <a
                        routerLink="/home"
                        routerLinkActive="active"
                        matTooltip="Non classé"
                        matTooltipPosition="after"
                        [queryParams]="null"
                        [routerLinkActiveOptions]="{exact: true}"
                    >
                        <mat-icon naturalIcon="home" />
                    </a>

                    <!-- Mes collections privées -->
                    <a
                        matTooltip="Mes collections"
                        matTooltipPosition="after"
                        routerLink="/my-collection"
                        routerLinkActive="active"
                    >
                        <mat-icon naturalIcon="collections_bookmark" />
                    </a>

                    <!-- Collections publiques -->
                    <a
                        matTooltip="Collections publiques"
                        matTooltipPosition="after"
                        routerLink="/collection"
                        routerLinkActive="active"
                    >
                        <mat-icon naturalIcon="collections" />
                    </a>

                    <!-- Fonds -->
                    <a matTooltip="Fonds" matTooltipPosition="after" routerLink="/source" routerLinkActive="active">
                        @if (site === Site.Dilps) {
                            <app-historic-icon tooltip="" />
                        } @else {
                            <mat-icon naturalIcon="folder_special" />
                        }
                    </a>

                    <!-- Notifications -->
                    <a
                        matTooltip="Notifications"
                        matTooltipPosition="after"
                        routerLink="/notification"
                        routerLinkActive="active"
                    >
                        <mat-icon naturalIcon="notifications" />
                    </a>

                    <!-- Add photos -->
                    @if (
                        progress === null &&
                        (user.role === UserRole.administrator ||
                            user.role === UserRole.senior ||
                            user.role === UserRole.junior ||
                            user.role === UserRole.major)
                    ) {
                        <a
                            matTooltip="Ajouter une image"
                            matTooltipPosition="after"
                            naturalFileSelect
                            [multiple]="true"
                            [maxSize]="maxFileSize"
                            (filesChange)="uploadImages($event)"
                        >
                            <mat-icon naturalIcon="file_upload" />
                        </a>
                    }

                    @if (progress !== null && progress > 0) {
                        <a>
                            <mat-progress-spinner
                                color="tertiary"
                                [value]="progress"
                                [diameter]="24"
                                [strokeWidth]="5"
                            />
                        </a>
                    }

                    <!-- Export template -->
                    @if (
                        site === Site.Tiresias &&
                        (user.role === UserRole.administrator ||
                            user.role === UserRole.senior ||
                            user.role === UserRole.junior ||
                            user.role === UserRole.major)
                    ) {
                        <a
                            href="/api/template"
                            matTooltip="Télécharger le modèle pour import Excel"
                            matTooltipPosition="after"
                        >
                            <mat-icon naturalIcon="file_download" />
                        </a>
                    }

                    <!-- Thésaurus -->
                    @if (showThesaurusMenu()) {
                        <mat-divider />
                        <a
                            matTooltip="Thésaurus"
                            matTooltipPosition="after"
                            [class.active]="isThesaurusActive()"
                            [matMenuTriggerFor]="thesaurusMenu"
                        >
                            <mat-icon naturalIcon="book" />
                        </a>
                    }

                    <!-- Administration -->
                    @if (user.role === UserRole.administrator) {
                        <mat-divider />
                        <a
                            matTooltip="Gestion"
                            matTooltipPosition="after"
                            [class.active]="isAdminActive()"
                            [matMenuTriggerFor]="adminMenu"
                        >
                            <mat-icon naturalIcon="build" />
                        </a>
                    }
                    <mat-divider />

                    <!-- Account -->
                    <a matTooltip="Mon compte" matTooltipPosition="after" (click)="editUser()">
                        <mat-icon naturalIcon="account_circle" />
                    </a>

                    <!-- Logout -->
                    <a matTooltip="Se déconnecter" matTooltipPosition="after" (click)="userService.logout()">
                        <mat-icon naturalIcon="exit_to_app" />
                    </a>
                } @else {
                    <!-- Dashboard -->
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon naturalIcon="home" />
                    </a>

                    <!-- Logout -->
                    <a matTooltip="Se connecter" matTooltipPosition="after" (click)="userService.revokeTempAccess()">
                        <mat-icon naturalIcon="account_circle" />
                    </a>

                    <!-- Contact -->
                    @if (site === Site.Tiresias) {
                        <a matTooltip="Contact" matTooltipPosition="after" (click)="mailto()">
                            <mat-icon naturalIcon="announcement" />
                        </a>
                    }
                }

                <!-- Bottom nav -->
                @if (networkActivityService.errors().length) {
                    <a matFab color="error" class="nat-rounded" style="margin: auto" [matMenuTriggerFor]="errorsMenu">
                        <mat-icon naturalIcon="error" />
                    </a>
                }
                <natural-compact-color-schemer />
            </ng-scrollbar>
        </mat-sidenav>
    }

    <mat-sidenav-content>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #errorsMenu="matMenu" class="nat-padding error-menu nat-gap nat-vertical" [overlapTrigger]="false">
    @for (error of networkActivityService.errors(); track error) {
        <div class="error nat-vertical" style="user-select: text" (click)="$event.stopPropagation()">
            @if (error.message) {
                <span class="error-message mat-font-body-sm">{{ error.message }}</span>
            }
            @if (error.extensions?.debugMessage) {
                <span class="error-message mat-font-body-sm">{{ error.extensions?.debugMessage }}</span>
            }
        </div>
    }
    <button mat-menu-item (click)="networkActivityService.clearErrors()">
        <mat-icon matMenuItemIcon naturalIcon="close" />
        Effacer et fermer
    </button>
</mat-menu>
