@use '@angular/material' as mat;
@use '../../styles/utils.scss';

mat-sidenav-container {
    width: 100vw;
    height: 100vh;
}

#menu {
    background: var(--mat-sys-primary-container);
    width: 64px;
    color: var(--mat-sys-on-primary-container);

    @include mat.progress-spinner-overrides(
        (
            active-indicator-color: var(--mat-sys-on-primary-container),
        )
    );

    mat-divider {
        @include mat.divider-overrides(
            (
                color: var(--mat-sys-on-primary-container),
            )
        );
        opacity: 0.2;
    }

    .menu-icon-button {
        width: 100%;
        height: 64px;
        color: inherit;

        &:hover {
            background: var(--mat-sys-primary-fixed-dim);
            color: var(--mat-sys-on-primary-fixed-variant);
        }

        &.active {
            background: var(--mat-sys-primary-fixed);
            color: var(--mat-sys-on-primary-fixed);
        }

        app-historic-icon {
            width: 32px;
        }

        @include mat.fab-overrides(
            (
                container-shape: var(--mat-sys-corner-none),
                container-elevation-shadow: var(--mat-sys-level0),
                focus-container-elevation-shadow: var(--mat-sys-level0),
                hover-container-elevation-shadow: var(--mat-sys-level0),
                pressed-container-elevation-shadow: var(--mat-sys-level0),
            )
        );
    }

    .classic-icon-button,
    .natural-icon-button ::ng-deep button {
        align-self: center;
        color: inherit;

        &[color='tertiary'] {
            background-color: var(--mat-sys-tertiary-fixed-dim);
            color: var(--mat-sys-on-tertiary-fixed);
        }

        @supports (color: color-mix(in srgb, red, blue)) {
            &[color='tertiary'] {
                background-color: color-mix(in srgb, var(--mat-sys-tertiary-fixed-dim) 80%, transparent);
            }
        }

        &:hover {
            background-color: var(--mat-sys-primary-fixed-dim);
            color: var(--mat-sys-on-primary-fixed-variant);

            &[color='tertiary'] {
                background-color: var(--mat-sys-tertiary-fixed);
            }
        }
    }

    .spacer-top {
        margin-top: 24px;
    }

    .spacer-bottom {
        margin-bottom: 24px;
    }

    .spacer-account {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}
