<h2 mat-dialog-title>{{ getTitle() }}</h2>
<mat-dialog-content>
    <p>
        {{ getContent() }}
    </p>
    <p>
        Identifiez-vous en cliquant sur "Se connecter" afin d'accéder à une plus large sélection d’images. Cliquez sur
        "Continuer" afin de visiter le contenu public de l'application.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button [mat-dialog-close]="false" mat-button>Continuer</button>
    <button [mat-dialog-close]="true" mat-button>Se connecter</button>
</mat-dialog-actions>
