@if (!isUpdatePage()) {
    <h2 mat-dialog-title>Créer un matériau</h2>
} @else if (data.item.readOnly || !data.item.permissions.update) {
    <h2 mat-dialog-title>Détails du matériau</h2>
} @else {
    <h2 mat-dialog-title>Modifier le matériau</h2>
}

<mat-dialog-content>
    <div class="nat-padding-vertical nat-vertical">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input
                matInput
                [readonly]="data.item.readOnly || (isUpdatePage() && !data.item.permissions.update)"
                [(ngModel)]="data.item.name"
            />
        </mat-form-field>

        <natural-select-hierarchic
            placeholder="Matériau parent"
            [config]="hierarchicConfig"
            [filters]="ancestorsHierarchicFilters"
            [showIcon]="false"
            [disabled]="data.item.readOnly || (isUpdatePage() && !data.item.permissions.update)"
            [(ngModel)]="data.item.parent"
        />
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        class="nat-expand"
        [canCreate]="user?.globalPermissions?.material?.create"
        [readOnly]="data.item.readOnly"
        [item]="data.item"
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
    />
</mat-dialog-actions>
