<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Type de document">
            <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input
                        [(ngModel)]="data.item.name"
                        [readonly]="isUpdatePage() && !data.item.permissions.update"
                        matInput
                    />
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer
        (create)="create()"
        (delete)="delete()"
        (update)="update()"
        [canCreate]="user?.globalPermissions?.documentType?.create"
        [canDelete]="data.item.canDelete"
        [item]="data.item"
        class="nat-expand"
    />
</mat-dialog-actions>
