<mat-toolbar class="nat-horizontal nat-align nat-gap">
    <app-logo [data]="{type: 'toolbar', class: 'logo'}" />

    <natural-search
        class="nat-expand"
        [facets]="naturalSearchFacets"
        [multipleGroups]="false"
        [selections]="naturalSearchSelections"
        (selectionChange)="search($event)"
    />
</mat-toolbar>

@if (dataSource) {
    <div class="nat-padding padding-fab">
        <div class="nat-margin-bottom nat-horizontal nat-wrap">
            <div class="mat-headline-5 nat-no-margin" [routerLink]="getChildLink(null)">Périodes</div>
            <div class="nat-horizontal nat-wrap">
                @for (item of breadcrumbs; track item) {
                    <a class="nat-no-padding" mat-button [routerLink]="getChildLink(item)">
                        <mat-icon naturalIcon="chevron_right" />
                        <span>{{ item.name }}</span>
                    </a>
                }
            </div>
        </div>
        @if (showTable()) {
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

                    <ng-container matColumnDef="navigation">
                        <th *matHeaderCellDef mat-header-cell natural-3em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.hasNavigation) {
                                <natural-table-button
                                    icon="chevron_right"
                                    matTooltip="Déployer"
                                    [navigate]="getChildLink(element.item)"
                                />
                            }
                        </td>
                    </ng-container>
                    <!-- Name Column -->

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="cell-content">
                                <app-table-button
                                    icon="edit"
                                    matTooltip="Éditer"
                                    [label]="element.item.name"
                                    (click)="edit(element.item)"
                                />
                                @if (searched) {
                                    <app-collection-hierarchy [collection]="element.item" />
                                }
                            </div>
                        </td>
                    </ng-container>
                    <!-- From Column -->

                    <ng-container matColumnDef="from">
                        <th *matHeaderCellDef mat-header-cell>A partir de</th>
                        <td *matCellDef="let element" mat-cell>{{ element.item.from }}</td>
                    </ng-container>
                    <!-- To Column -->

                    <ng-container matColumnDef="to">
                        <th *matHeaderCellDef mat-header-cell>Jusqu'à</th>
                        <td *matCellDef="let element" mat-cell>{{ element.item.to }}</td>
                    </ng-container>

                    <ng-container matColumnDef="usageCount">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre de fiches</th>
                        <td *matCellDef="let element" mat-cell>{{ element.item.usageCount }}</td>
                    </ng-container>
                </table>
            </div>
        }

        @if (showNoResults()) {
            <div class="nat-margin-vertical nat-vertical nat-center">Pas de résultats</div>
        }
        @if (!dataSource.data) {
            <div class="nat-vertical nat-center">
                <mat-progress-spinner mode="indeterminate" [diameter]="40" />
            </div>
        }
        @if (dataSource.data?.length) {
            <mat-paginator
                [length]="dataSource.data?.length"
                [pageIndex]="dataSource.data?.pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="dataSource.data?.pageSize"
                (page)="pagination($event)"
            />
        }
    </div>
}

<natural-fixed-button icon="add" (click)="add()" />
