<div class="containerWithToolbar nat-vertical nat-expand">
    <mat-toolbar class="main-toolbar nat-horizontal nat-left nat-center nat-gap">
        <app-logo [data]="{type: 'toolbar', class: 'logo'}" />
        <div class="nat-expand"></div>

        @if (user?.role === 'administrator') {
            @if (change) {
                <button
                    (click)="accept()"
                    mat-icon-button
                    class="icon-button-circle-primary"
                    matTooltip="Accepter suggestion"
                >
                    <mat-icon naturalIcon="check" />
                </button>
            }
            @if (change) {
                <button
                    (click)="reject()"
                    mat-icon-button
                    class="icon-button-circle-warn"
                    matTooltip="Refuser la suggestion"
                >
                    <mat-icon naturalIcon="close" />
                </button>
            }
        }

        @if (!change && original) {
            <button
                (click)="update()"
                mat-icon-button
                class="icon-button-circle-primary"
                matTooltip="Soumettre la suggestion à validation"
            >
                <mat-icon naturalIcon="save" />
            </button>
        }
        @if (!change && !original) {
            <button
                (click)="create()"
                mat-icon-button
                class="icon-button-circle-primary"
                matTooltip="Soumettre l'ajout de cette fiche à validation"
            >
                <mat-icon naturalIcon="add" />
            </button>
        }
    </mat-toolbar>

    @if (loaded) {
        <div class="test nat-horizontal nat-expand">
            <!-- Original -->
            @if (!original) {
                <div class="nat-expand nat-vertical nat-center">
                    <div class="mat-headline-4">Nouvelle fiche</div>
                </div>
            }
            @if (original) {
                <div class="card-original nat-vertical nat-expand">
                    <app-card [fetchedModel]="original" class="nat-expand" title="Original" />
                </div>
            }
            <!-- Suggestion -->
            @if (!suggestionInput) {
                <div class="nat-expand nat-vertical nat-center">
                    <div class="mat-headline-4">Suppression de la fiche</div>
                </div>
            }
            @if (suggestionInput) {
                <div class="card-suggestion nat-vertical nat-expand">
                    <app-card
                        [model]="suggestionInput"
                        [fetchedModel]="fetchedSuggestion"
                        [editable]="true"
                        [showTools]="showTools"
                        [showCards]="false"
                        [showCode]="false"
                        class="nat-expand"
                        title="Suggestion"
                    />
                </div>
            }
        </div>
    }
</div>
