<div class="containerWithToolbar" fxFlex fxLayout="column">
    <mat-toolbar color="app" fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <app-logo [data]="{type: 'toolbar', class: 'logo'}"></app-logo>
        <div fxFlex></div>

        <ng-container *ngIf="user?.role === 'administrator'">
            <button
                (click)="accept()"
                *ngIf="change"
                color="primary"
                mat-icon-button
                mat-raised-button
                matTooltip="Accepter suggestion"
            >
                <natural-icon name="check"></natural-icon>
            </button>
            <button
                (click)="reject()"
                *ngIf="change"
                color="warn"
                mat-icon-button
                mat-raised-button
                matTooltip="Refuser la suggestion"
            >
                <natural-icon name="close"></natural-icon>
            </button>
        </ng-container>

        <button
            (click)="update()"
            *ngIf="!change && original"
            color="primary"
            mat-icon-button
            mat-raised-button
            matTooltip="Soumettre la suggestion à validation"
        >
            <natural-icon name="save"></natural-icon>
        </button>
        <button
            (click)="create()"
            *ngIf="!change && !original"
            color="primary"
            mat-icon-button
            mat-raised-button
            matTooltip="Soumettre l'ajout de cette fiche à validation"
        >
            <natural-icon name="add"></natural-icon>
        </button>
    </mat-toolbar>

    <div *ngIf="loaded" class="test" fxFlex fxLayout="row">
        <!-- Original -->
        <div *ngIf="!original" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div class="mat-headline-4">Nouvelle fiche</div>
        </div>
        <div *ngIf="original" fxFlex fxLayout="column">
            <app-card [fetchedModel]="original" fxFlex title="Original"></app-card>
        </div>

        <!-- Suggestion -->
        <div *ngIf="!suggestionInput" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div class="mat-headline-4">Suppression de la fiche</div>
        </div>
        <div *ngIf="suggestionInput" fxFlex fxLayout="column">
            <app-card
                [model]="suggestionInput"
                [fetchedModel]="fetchedSuggestion"
                [editable]="true"
                [showTools]="showTools"
                [showCards]="false"
                [showCode]="false"
                fxFlex
                title="Suggestion"
            ></app-card>
        </div>
    </div>
</div>
