<form class="nat-horizontal nat-gap-10" [formGroup]="form">
    <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input
            matInput
            type="number"
            [formControl]="latitudeCtrl"
            [attr.min]="-90"
            [attr.max]="90"
            [required]="true"
            (keydown.enter)="close()"
        />
        @if (latitudeCtrl.hasError('min') || latitudeCtrl.hasError('max')) {
            <mat-error>La latitude doit être entre -180 et 180</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input
            matInput
            type="number"
            [formControl]="longitudeCtrl"
            [attr.min]="-180"
            [attr.max]="180"
            [required]="true"
            (keydown.enter)="close()"
        />
        @if (longitudeCtrl.hasError('min') || longitudeCtrl.hasError('max')) {
            <mat-error>La longitude doit être entre -180 et 180</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rayon</mat-label>
        <input
            matInput
            type="number"
            [formControl]="distanceCtrl"
            [attr.min]="1"
            [step]="50"
            [required]="true"
            (keydown.enter)="close()"
        />
        <span matTextSuffix>m</span>

        @if (distanceCtrl.hasError('min')) {
            <mat-error>Le rayon doit être positif</mat-error>
        }
    </mat-form-field>
</form>
