<mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />

    <natural-search (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="false"
                    [selections]="naturalSearchSelections"
                    fxFlex
    ></natural-search>

</mat-toolbar>

<div class="padding padding-fab">

    <div class="mat-headline">Utilisateurs</div>

    <div class="responsive-table">

        <table [dataSource]="dataSource" mat-table>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Login</th>
                <td *matCellDef="let element" mat-cell>
                    <app-table-button (click)="isLegacyUser(element) || edit(element)"
                                      [disable]="isLegacyUser(element)"
                                      [label]="element.login"
                                      icon="edit"
                    ></app-table-button>
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell>Email</th>
                <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th *matHeaderCellDef mat-header-cell>Role</th>
                <td *matCellDef="let element" mat-cell>{{ element.role | role }}</td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell>Type</th>
                <td *matCellDef="let element" mat-cell>{{ element.type | type }}</td>
            </ng-container>

            <!-- activeUntil Column -->
            <ng-container matColumnDef="activeUntil">
                <th *matHeaderCellDef mat-header-cell>Validité</th>
                <td *matCellDef="let element" mat-cell>{{ element.activeUntil | date:'dd.MM.yyyy' }}</td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
    </div>

    <div *ngIf="dataSource.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <div>Pas de résultats</div>
    </div>

    <div *ngIf="dataSource.length === null" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-paginator (page)="pagination($event)"
                   *ngIf="dataSource.data?.length"
                   [length]="dataSource.data?.length"
                   [pageIndex]="dataSource.data?.pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="dataSource.data?.pageSize"
    ></mat-paginator>
</div>

<natural-fixed-button (click)="add()" icon="add"></natural-fixed-button>

