<mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />

    <natural-search fxFlex
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                    [multipleGroups]="false"
    ></natural-search>

</mat-toolbar>

<div class="padding padding-fab">

    <div class="mat-headline">Utilisateurs</div>
    
    <div class="responsive-table">

        <mat-table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <app-table-button (click)="isLegacyUser(element) || edit(element)"
                                      [disable]="isLegacyUser(element)"
                                      [label]="element.login"
                                      icon="edit"
                    ></app-table-button>
                </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.role | role }}</mat-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.type | type }}</mat-cell>
            </ng-container>

            <!-- activeUntil Column -->
            <ng-container matColumnDef="activeUntil">
                <mat-header-cell *matHeaderCellDef>Validité</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.activeUntil | date:'dd.MM.yyyy' }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === 0">
        <div>Pas de résultats</div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.length === null">
        <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
    </div>

    <mat-paginator *ngIf="dataSource.data?.length"
                   [length]="dataSource.data?.length"
                   [pageSize]="dataSource.data?.pageSize"
                   [pageIndex]="dataSource.data?.pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pagination($event)"
    ></mat-paginator>
</div>

<natural-fixed-button (click)="add()" icon="add"></natural-fixed-button>

