app-thesaurus {
    input.mat-mdc-chip-input {
        flex: 1 0 auto;
        width: calc(100% - 5px);
    }

    .mat-mdc-chip {
        margin-right: 2em !important;
    }

    .search-wrapper {
        padding: 0px !important;
    }
}
