<mat-form-field>
    <mat-label>{{ placeholder }}</mat-label>
    <mat-chip-grid #chipList aria-orientation="vertical" class="mat-mdc-chip-set-stacked">
        @for (item of items; track item) {
            <mat-chip-row (removed)="removeTerm(item)" [removable]="!readonly">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    @if (previewComponent) {
                        <mat-icon (click)="openItem(item)" class="mat-mdc-chip-remove" fontIcon="remove_red_eye" />
                    }
                    <div fxFlex class="thesaurus-chip-label">
                        <span>{{ getLabel(item) }}</span>
                    </div>
                </div>
                @if (!readonly) {
                    <button matChipRemove>
                        <mat-icon fontIcon="cancel" />
                    </button>
                }
            </mat-chip-row>
        }

        <input
            (focus)="focus()"
            (keydown.enter)="onEnter()"
            [formControl]="formControl"
            [fxShow]="!readonly || items.length === 0"
            [matAutocomplete]="autocomplete"
            [matChipInputFor]="chipList"
            [readonly]="readonly"
            #thesaurusInput
        />
    </mat-chip-grid>

    <!-- Autocomplete menu -->
    <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selectSuggestion($event)">
        @for (item of suggestions; track item) {
            <mat-option [value]="item" class="multiline">
                <div fxLayout="column" class="padding-v">
                    <div>{{ item.name }}</div>
                    @if (item?.locality) {
                        <div class="mat-caption">{{ item.locality }}</div>
                    }
                </div>
            </mat-option>
        }
        @if (moreNbItems > 0) {
            <div class="mat-caption" style="padding: 5px 10px">{{ moreNbItems }} élément(s) supplémentaire(s)</div>
        }
    </mat-autocomplete>
</mat-form-field>
