.mat-mdc-form-field {
    width: 100%;
}

.thesaurus-chip-label {
    white-space: normal;
}

.mat-mdc-standard-chip {
    padding: 5px 0;
    height: auto;
}

input {
    display: none;
}

input.show {
    display: block;
}

.search-wrapper {
    position: absolute;
    right: -2em;

    &,
    button {
        padding: 0;
        width: 30px !important;
        height: 30px !important;
    }

    button {
        display: grid;
        place-content: center;
    }
}
