@use '@angular/material' as mat;

.mat-mdc-standard-chip {
    padding: 5px 0;
    @include mat.chips-overrides(
        (
            container-height: auto,
        )
    );
}

.mat-mdc-chip-set-stacked {
    align-items: stretch;
}

.mat-mdc-form-field {
    width: 100%;
}

.thesaurus-chip-label {
    display: flex;
    flex-direction: column;
    white-space: normal;
}

input {
    display: none;

    &.show {
        display: block;
    }
}
