<mat-form-field>
    <mat-label>{{ placeholder }}</mat-label>
    <mat-chip-grid #chipList aria-orientation="vertical" class="mat-mdc-chip-set-stacked">
        @for (item of items; track item) {
            <mat-chip-row [removable]="!readonly" (removed)="removeTerm(item)">
                <div class="nat-horizontal nat-center nat-gap-5">
                    @if (previewComponent) {
                        <mat-icon class="mat-mdc-chip-remove" fontIcon="remove_red_eye" (click)="openItem(item)" />
                    }
                    <div class="nat-expand thesaurus-chip-label">
                        <span>{{ getLabel(item) }}</span>
                    </div>
                </div>
                @if (!readonly) {
                    <button matChipRemove>
                        <mat-icon fontIcon="cancel" />
                    </button>
                }
            </mat-chip-row>
        }

        <input
            #thesaurusInput
            [formControl]="formControl"
            [class.nat-show]="!readonly || items.length === 0"
            [matAutocomplete]="autocomplete"
            [matChipInputFor]="chipList"
            [readonly]="readonly"
            (focus)="focus()"
            (keydown.enter)="onEnter()"
        />
    </mat-chip-grid>

    <!-- Autocomplete menu -->
    <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selectSuggestion($event)">
        @for (item of suggestions; track item) {
            <mat-option class="multiline" [value]="item">
                <div class="nat-vertical nat-padding-vertical">
                    <div>{{ item.name }}</div>
                    @if (item?.locality) {
                        <div class="mat-caption">{{ item.locality }}</div>
                    }
                </div>
            </mat-option>
        }
        @if (moreNbItems > 0) {
            <div class="mat-caption" style="padding: 5px 10px">{{ moreNbItems }} élément(s) supplémentaire(s)</div>
        }
    </mat-autocomplete>
</mat-form-field>
