<mat-form-field>
    <mat-label>{{ placeholder }}</mat-label>
    <mat-chip-grid #chipList aria-orientation="vertical" class="mat-mdc-chip-set-stacked">
        <mat-chip-row (removed)="removeTerm(item)" *ngFor="let item of items" [removable]="!readonly">
            <div fxLayout="row">
                <mat-icon
                    (click)="openItem(item)"
                    *ngIf="previewComponent"
                    class="mat-mdc-chip-remove"
                    fontIcon="remove_red_eye"
                ></mat-icon>
                <div fxFlex>
                    <span>{{ getLabel(item) }}</span>
                    <br *ngIf="item.locality && !readonly" />
                    <span *ngIf="item.locality && !readonly">{{ item.locality }}</span>
                </div>
            </div>

            <mat-icon *ngIf="!readonly" matChipRemove fontIcon="cancel">cancel</mat-icon>
        </mat-chip-row>

        <input
            (focus)="focus()"
            (keydown.enter)="onEnter($event)"
            [formControl]="formControl"
            [fxShow]="!readonly || items.length === 0"
            [matAutocomplete]="autocomplete"
            [matChipInputFor]="chipList"
            [readonly]="readonly"
        />
    </mat-chip-grid>

    <!-- Autocomplete menu -->
    <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selectSuggestion($event)">
        <mat-option *ngFor="let item of suggestions" [value]="item" class="multiline">
            <div fxLayout="column">
                <div>{{ item.name }}</div>
                <div *ngIf="item?.locality" class="mat-caption">{{ item.locality }}</div>
            </div>
        </mat-option>
        <div *ngIf="moreNbItems > 0" class="mat-caption" i18n style="padding: 5px 10px">
            {{ moreNbItems }} élément(s) supplémentaire(s)
        </div>
    </mat-autocomplete>
</mat-form-field>
