<mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />

    <natural-search (selectionChange)="search($event)"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="false"
                    [selections]="naturalSearchSelections"
                    fxFlex
    ></natural-search>

</mat-toolbar>

<div class="padding padding-fab">

    <div class="mat-headline">Noms antiques</div>

    <div [fxShow]="showTable()" class="responsive-table">

        <table [dataSource]="dataSource" mat-table (matSortChange)="sorting([$event])" matSort>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                <td *matCellDef="let element" mat-cell>
                    <app-table-button (click)="edit(element)" [label]="element.name" icon="edit" matTooltip="Éditer"
                    ></app-table-button>
                </td>
            </ng-container>

        </table>
    </div>

    <div *ngIf="dataSource?.data?.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <div>Pas de résultats</div>
    </div>

    <div *ngIf="dataSource?.data?.length === null" class="margin" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-paginator (page)="pagination($event)"
                   *ngIf="dataSource.data?.length"
                   [length]="dataSource.data?.length"
                   [pageIndex]="dataSource.data?.pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="dataSource.data?.pageSize"
    ></mat-paginator>
</div>

<natural-fixed-button (click)="add()" icon="add"></natural-fixed-button>
