<mat-toolbar class="nat-horizontal nat-left nat-center nat-gap">
    <app-logo [data]="{type: 'toolbar', class: 'logo'}" />

    <natural-search
        class="nat-expand"
        [facets]="naturalSearchFacets"
        [multipleGroups]="false"
        [selections]="naturalSearchSelections"
        (selectionChange)="search($event)"
    />
</mat-toolbar>

@if (dataSource) {
    <div class="nat-padding padding-fab">
        <div class="mat-headline-5">Noms antiques</div>
        <div class="responsive-table" [class.nat-show]="showTable()">
            <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
                <!-- Name Column -->

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                    <td *matCellDef="let element" mat-cell>
                        <app-table-button
                            icon="edit"
                            matTooltip="Éditer"
                            [label]="element.name"
                            (click)="edit(element)"
                        />
                    </td>
                </ng-container>

                <ng-container matColumnDef="usageCount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre de fiches</th>
                    <td *matCellDef="let element" mat-cell>{{ element.usageCount }}</td>
                </ng-container>
            </table>
        </div>
        @if (dataSource.data?.length === 0) {
            <div class="nat-margin nat-vertical nat-center">
                <div>Pas de résultats</div>
            </div>
        }
        @if (!dataSource.data) {
            <div class="nat-margin nat-vertical nat-center">
                <mat-progress-spinner mode="indeterminate" [diameter]="40" />
            </div>
        }
        @if (dataSource.data?.length) {
            <mat-paginator
                [length]="dataSource.data?.length"
                [pageIndex]="dataSource.data?.pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="dataSource.data?.pageSize"
                (page)="pagination($event)"
            />
        }
    </div>
}

<natural-fixed-button icon="add" (click)="add()" />
