<mat-dialog-content>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="export(ExportFormat.zip)">
            {{ data.cards.length > 1 ? 'Exporter les fiches' : 'Exporter la fiche' }}
        </button>
        <button mat-raised-button color="primary" (click)="export(ExportFormat.csv)" *ngIf="data.showExcelExportation">
            Exporter en Excel
        </button>
        <!-- Tooltip is not triggered on disabled buttons. We wrap it around a div as a workaround. -->
        <div
            class="tooltip-wrapper"
            matTooltip="{{ pptValidationMessage }}"
            [matTooltipDisabled]="!pptValidationMessage"
        >
            <button
                mat-raised-button
                color="primary"
                (click)="export(ExportFormat.pptx)"
                [disabled]="!!pptValidationMessage"
            >
                Exporter en PowerPoint
            </button>
        </div>
    </div>
</mat-dialog-content>
