<?php

declare(strict_types=1);

/*
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

return [
    'hostname' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'dilps.docker' : 'dilps.lan',
    'phpPath' => getenv('DEPLOY_ENV') === 'dev-docker' ? '/usr/local/bin/php' : '/usr/bin/php7.4',
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => getenv('MYSQL_HOST') ?: 'localhost',
                    'dbname' => getenv('MYSQL_DATABASE') ?: 'dilps',
                    'user' => getenv('MYSQL_USER') ?: 'root',
                    'password' => getenv('MYSQL_PASSWORD') ?: '',
                    'port' => 3306,
                ],
            ],
        ],
    ],
    'moodle' => [
        'redirectUrl' => 'https://your.moodle.redirect.url',
    ],
    'files' => [
        'unlink' => true,
    ],
    'smtp' => [
        'name' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'mail' : 'localhost',
        'host' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'mail' : 'localhost',
        'port' => getenv('DEPLOY_ENV') === 'dev-docker' ? 1025 : 587,
    ],
    'email' => [
        'from' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'no-reply@dilps.docker' : 'no-reply@dilps.lan',
        'fromName' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'Docker Dilps' : 'Local Dilps',
    ],
    'log' => [
        'emails' => [], // List of developer emails to send bugs to
    ],
];
