<?php

declare(strict_types=1);

/*
 * Docker configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

return [
    'hostname' => 'dilps.docker',
    'phpPath' => '/usr/local/bin/php',
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => getenv('MYSQL_HOST'),
                    'dbname' => getenv('MYSQL_DATABASE'),
                    'user' => getenv('MYSQL_USER'),
                    'password' => getenv('MYSQL_PASSWORD'),
                    'port' => 3306,
                ],
            ],
        ],
    ],
    'moodle' => [
        'redirectUrl' => 'https://your.moodle.redirect.url',
    ],
    'files' => [
        'unlink' => true,
    ],
    'smtp' => [
        'name' => 'mail',
        'host' => 'mail',
        'port' => 1025,
    ],
    'email' => [
        'from' => 'no-reply@dilps.docker', // Sender for emails
        'fromName' => 'Dilps Docker',
    ],
    'log' => [
        'emails' => [], // List of developer emails to send bugs to
    ],
];
