<?php

declare(strict_types=1);

return [
    'hostname' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'tiresias.docker' : 'tiresias.lan',
    'email' => [
        'from' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'no-reply@tiresias.docker' : 'no-reply@tiresias.lan',
        'fromName' => getenv('DEPLOY_ENV') === 'dev-docker' ? 'Docker Tiresias' : 'Local Tiresias',
    ],
];
