<div class="nat-padding" style="padding-bottom: 120px !important">
    <app-logo [data]="{type: 'toolbar', class: 'logo'}" />
    <div class="mat-headline-5">Statistiques</div>
    <mat-tab-group naturalLinkableTab>
        <mat-tab id="frequentation" label="Fréquentation">
            <ng-template matTabContent>
                <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                    <div class="nat-vertical nat-sm-horizontal nat-gap-10">
                        <mat-form-field>
                            <mat-label>Période</mat-label>
                            <mat-select [(value)]="period" (selectionChange)="update()">
                                @for (item of availablePeriods; track item) {
                                    <mat-option [value]="item.key">{{ item.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(value)]="statType" (selectionChange)="applyFrequentationTypeSelection()">
                                @for (item of availableTypes | keyvalue; track item) {
                                    <mat-option [value]="item.key">{{ item.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <app-statistic [input]="frequentation" />
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab id="card" label="Fiches">
            <ng-template matTabContent>
                <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                    <div class="nat-vertical nat-sm-horizontal nat-gap-10">
                        <mat-form-field>
                            <mat-label>Période</mat-label>
                            <mat-select [(value)]="period" (selectionChange)="update()">
                                @for (item of availablePeriods; track item) {
                                    <mat-option [value]="item.key">{{ item.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(value)]="cardType" (selectionChange)="applyCardAndUserTypeSelection()">
                                @for (item of availableCardTypes | keyvalue; track item) {
                                    <mat-option [value]="item.key">{{ item.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <natural-select
                            placeholder="Utilisateur"
                            [service]="userService"
                            [showIcon]="false"
                            [displayWith]="displayFn"
                            [(ngModel)]="user"
                            (selectionChange)="update()"
                        />
                    </div>

                    <app-statistic [input]="cards" />
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab id="user" label="Utilisateurs">
            <ng-template matTabContent>
                <div class="nat-padding-vertical nat-gap-10 nat-vertical">
                    <div class="nat-vertical nat-sm-horizontal nat-gap-10">
                        <mat-form-field>
                            <mat-label>Période</mat-label>
                            <mat-select [(value)]="period" (selectionChange)="update()">
                                @for (item of availablePeriods; track item) {
                                    <mat-option [value]="item.key">{{ item.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(value)]="userType" (selectionChange)="applyCardAndUserTypeSelection()">
                                @for (item of availableUserTypes | keyvalue; track item) {
                                    <mat-option [value]="item.key">{{ item.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <app-statistic [input]="users" />
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
