:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    & > div {
        margin: auto;
    }
}

app-carousel {
    margin-left: 50px;
}

.shib-link {
    height: auto !important; // allow button grow in height
    flex: auto;

    img {
        height: 100px;
    }
}

.login-info {
    text-align: center;
}
