@use '@angular/material' as mat;
@use '@ecodev/natural-layout' as nat;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 20px;
    min-width: 0;
    min-height: 100%;

    & > div {
        gap: 30px;
        margin: auto;
        max-width: 100%;

        @include nat.media(md) {
            gap: 50px;
        }
    }
}

mat-grid-list {
    .mdc-button {
        @include mat.button-overrides(
            (
                protected-container-shape: var(--mat-sys-corner-extra-small),
                protected-container-color: var(--mat-sys-surface-highest),
            )
        );
    }
}

app-carousel {
    min-width: 0;
    max-width: 100%;
}

.shib-link {
    flex: auto;
    height: auto !important; // allow button grow in height

    svg,
    img {
        height: 100px;
    }
}

.login-info {
    text-align: center;
    text-wrap: balance;
}

.login {
    flex: none;
    width: 332px;
    max-width: 100%;
}
