<div class="nat-horizontal nat-center">
    <div class="login nat-vertical">
        <div class="nat-vertical nat-gap-15">
            <app-logo [data]="{type: 'main', class: 'logo-main'}" />

            <mat-divider />

            <div class="login-info nat-gap-15 nat-vertical">
                Veuillez choisir une méthode d'authentification ou
                <br />
                utiliser le bouton "Accès public"
            </div>

            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <a
                        mat-raised-button
                        class="shib-link"
                        [href]="
                            baseUrl +
                            '/Shibboleth.sso/Login?target=' +
                            encodeUrl(baseUrl) +
                            '%2Fauth?returnUrl=' +
                            encodeUrl(returnUrl) +
                            '&entityID=https%3A%2F%2Faai.unil.ch%2Fidp%2Fshibboleth'
                        "
                    >
                        <img src="assets/images/logo-unil.svg" width="130" />
                    </a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a
                        mat-raised-button
                        class="shib-link"
                        [href]="
                            baseUrl +
                            '/Shibboleth.sso/Login?target=' +
                            encodeUrl(baseUrl) +
                            '%2Fauth?returnUrl=' +
                            encodeUrl(returnUrl) +
                            '&entityID=https%3A%2F%2Faai-login.unine.ch%2Fidp%2Fshibboleth'
                        "
                    >
                        @if (themeService.isDarkMode()) {
                            <img src="assets/images/logo-unine-white.svg" width="100" />
                        } @else {
                            <img src="assets/images/logo-unine-dark.svg" width="100" />
                        }
                    </a>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-divider />

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Utilisateur externe </mat-panel-title>
                </mat-expansion-panel-header>

                <form>
                    <div class="nat-vertical nat-gap-10">
                        <mat-form-field class="width-auto">
                            <mat-label>Login</mat-label>
                            <input
                                autofocus
                                matInput
                                name="login"
                                required="required"
                                [disabled]="loading"
                                [(ngModel)]="loginForm.login"
                                (focus)="snackBar.dismiss()"
                            />
                        </mat-form-field>
                    </div>

                    <div class="nat-vertical nat-gap-10">
                        <mat-form-field class="width-auto">
                            <mat-label>Password</mat-label>
                            <input
                                matInput
                                name="password"
                                required="required"
                                type="password"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                [disabled]="loading"
                                [(ngModel)]="loginForm.password"
                                (focus)="snackBar.dismiss()"
                            />
                        </mat-form-field>
                    </div>

                    <div class="nat-vertical nat-gap-10">
                        <button
                            color="primary"
                            mat-raised-button
                            type="submit"
                            [disabled]="loading || !loginForm.login || !loginForm.password"
                            (click)="login()"
                        >
                            Se connecter
                        </button>
                    </div>
                </form>
            </mat-expansion-panel>

            @if (site === Site.Tiresias) {
                <div class="nat-vertical nat-gap-15">
                    <mat-divider />
                    <a mat-raised-button (click)="userService.startTempAccess()"> Accès public </a>
                </div>
            }
        </div>
    </div>

    <app-carousel />
</div>
