:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    & > div {
        margin: auto;
    }

    app-carousel {
        margin-left: 50px;
    }

    .shib-link {
        flex: auto;

        img {
            height: 100px;
        }
    }

    .login-info {
        text-align: center;
    }
}
